advanced-telegram-bot,-ticketing-system,-livechat,user-management,-broadcasting-8QGl4wJaH1Buu6gp.json
{"createdAt":"2024-10-16T18:47:21.050Z","updatedAt":"2024-11-28T20:47:27.709Z","id":"8QGl4wJaH1Buu6gp","name":"Advanced telegram bot, ticketing system, livechat,user management, broadcasting","active":false,"nodes":[{"parameters":{"content":"## Use **Config Bot** to setup your telegram details, like:\n1- Telegram Group ID (Don't forget add bot as admin)\n2- Telegram Channel ID (Don't forget add bot as admin)\n3- Your telegram Bot Token. (Generate through @BotFather)\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Setup data & filter & route to the correct Side.\n0- None of them - Soon - Wait V2\n1- Chat Type (`Private`)\n2- Chat Type (`Supergroup`)\n3- Chat Type (`Channel`)\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Remember:\n* Do not make your support group public. Every message sent in the group on various topics will be forwarded to the user's ticket.\n* There is no need to promote your broadcasting channel; the main reason for the channel is to organize and broadcast messages.\n* You can host a Redis database without any coding/server management skills through Coolify.io.\n* In the next version, I will add the **edit messages** feature, where the forwarded messages will be updated with the new edited one.\n\n## Why use this method?\n* If you deal with Telegram P2P, anyone can delete messages from both sides. If you run a business, then one of your clients may delete all messages, causing you to lose the history. This solution prevents people from deleting messages; every message forwarded into the support group will not be possible to delete by the sender.\n* Team collaboration: Why share one account when you can convert the whole group into a ticketing system? With this project, you can invite all your coworkers to reply and provide support to your clients through Telegram.\n* Integrate with third-party services? Using N8N will pave the way for integrating your Telegram users' data into a CRM. In V2, we will enable the option to force new users to share their leads before receiving support.","height":1416.261500302191,"width":629.040241216464,"color":7},"id":"3631d805-4fef-46cf-857b-120469dd4607","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-200,500],"typeVersion":1},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.isEmpty() }}","operation":"regex","value2":"true"}]}},"id":"753351ac-8021-4d6e-9754-4f390d37e09c","name":"New User ?","type":"n8n-nodes-base.if","position":[720,660],"typeVersion":1},{"parameters":{"jsCode":"function escapeRedisJsonSyntax(value) {\n  if (typeof value === 'string') {\n    return value.replace(/[\"\\\\/]/g, '\\\\$&');\n  }\n  return value;\n}\n\nconst outputItems = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const escapedItem = { TG_USER_: {} };\n\n  for (const key in item) {\n    const value = item[key];\n    if (Array.isArray(value)) {\n      escapedItem.TG_USER_[key] = [escapeRedisJsonSyntax(value[0])];\n    } else if (typeof value === 'object') {\n      flattenObject(value, escapedItem.TG_USER_, key);\n    } else {\n      escapedItem.TG_USER_[key] = escapeRedisJsonSyntax(value);\n    }\n  }\n\n  outputItems.push(escapedItem);\n}\n\nfunction flattenObject(obj, result, prefix) {\n  for (const key in obj) {\n    const newKey = prefix ? `${prefix}_${key}` : key;\n    const value = obj[key];\n    if (typeof value === 'object') {\n      if (Array.isArray(value)) {\n        result[newKey] = [escapeRedisJsonSyntax(value[0])];\n      } else {\n        flattenObject(value, result, newKey);\n      }\n    } else {\n      result[newKey.replace('json_message_', '').replace('json_', '')] = escapeRedisJsonSyntax(value);\n    }\n  }\n}\n\nreturn outputItems;\n"},"id":"f14dd30e-39fa-48f6-8ea9-227d8ee5b497","name":"Format","type":"n8n-nodes-base.code","position":[-140,1080],"typeVersion":2},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.TG_USER_.removeField('BotToken').removeField('pairedItem_item').removeField('Support_Group_ID') }}","include":"selected","options":{}},"id":"7b80b0ee-d682-46a8-93e7-d345529f172a","name":"Bot-Fields","type":"n8n-nodes-base.set","position":[0,1060],"typeVersion":3.2},{"parameters":{"url":"=https://api.telegram.org/bot{{ $('Bot-Config').item.json.BotToken }}/createForumTopic?chat_id={{ $('Bot-Config').item.json[\"Support_Group_ID\"]}}&name={{ encodeURIComponent(('['+$('Bot-Fields').item.json.from_first_name +'] - [id:'+ $('Bot-Fields').item.json.chat_id +']'))}}&icon_color=9367192&icon_custom_emoji_id=5417915203100613993","options":{}},"id":"986c035e-9717-44f7-b827-8c925c96e5a1","name":"Create Topic (Chat Ticket)","type":"n8n-nodes-base.httpRequest","position":[1200,540],"typeVersion":4.1},{"parameters":{"operation":"set","key":"=TG-USER-{{ $('Bot-Fields').item.json.chat_id }}","value":"={\"message_thread_id\":{{ $json.result.message_thread_id }}}","keyType":"hash"},"id":"ecb52e1c-1d14-468a-b79a-41c8d1c5d7c2","name":"Save Topic ID","type":"n8n-nodes-base.redis","position":[1380,540],"typeVersion":1,"credentials":{"redis":{"id":"j2E6Hw2rOJds8BX4","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"result","key":"=TG-USER-{{ $('Bot-Fields').item.json.chat_id }}","keyType":"hash","options":{}},"id":"d4bc9fe5-86cb-42b6-a89c-b3effae742bf","name":"Get User Chat Topic","type":"n8n-nodes-base.redis","position":[1320,720],"typeVersion":1,"credentials":{"redis":{"id":"j2E6Hw2rOJds8BX4","name":"Redis account"}}},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $('Bot-Config').item.json.BotToken }}/forwardMessage?chat_id={{ $('Bot-Config').item.json[\"Support_Group_ID\"] }}&message_thread_id={{ $json[\"result\"][\"message_thread_id\"] }}&from_chat_id={{ $('Bot-Fields').item.json[\"chat_id\"] }}&message_id={{ $('Bot-Fields').item.json[\"message_id\"] }}","options":{}},"id":"1ccc7251-f27d-4067-8353-02f3e0af50e1","name":"Forward New Message","type":"n8n-nodes-base.httpRequest","position":[1680,720],"typeVersion":4.1,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.error.message }}","operation":"contains","value2":"thread not found"}]}},"id":"7fe2f04a-7b5c-4008-8efd-6bfbb4c9fcd1","name":"IF No Topic Created","type":"n8n-nodes-base.if","position":[1160,1120],"typeVersion":1},{"parameters":{"url":"=https://api.telegram.org/bot{{ $('Bot-Config').item.json.BotToken }}/createForumTopic?chat_id={{ $('Bot-Config').item.json[\"Support_Group_ID\"]}}&name={{ encodeURIComponent(('['+$('Bot-Fields').item.json.from_first_name +'] - [id:'+ $('Bot-Fields').item.json.chat_id +']'))}}&icon_color=9367192&icon_custom_emoji_id=5417915203100613993","options":{}},"id":"6cdd5dcb-8e42-46a5-95b4-e6acf0a1621f","name":"ReCreate Topic (Chat Ticket)","type":"n8n-nodes-base.httpRequest","position":[1340,1020],"typeVersion":4.1},{"parameters":{"operation":"set","key":"=TG-USER-{{ $('Bot-Fields').item.json.chat_id }}","value":"={\"message_thread_id\":{{ $json.result.message_thread_id }}}","keyType":"hash"},"id":"207c439c-15f6-4748-8620-92c51b24eabb","name":"ReSave Topic ID","type":"n8n-nodes-base.redis","position":[1500,1020],"typeVersion":1,"credentials":{"redis":{"id":"j2E6Hw2rOJds8BX4","name":"Redis account"}}},{"parameters":{"content":"## Re Create New Topic\n**Sometimes** in support group may the team delete or close a ticket (topic) in case of that this steps will create topic again for the user, and store the new ticket id (topic/thread ID).","height":466.5190319644644,"width":734.3067601294108,"color":3},"id":"65b6b0ce-95bb-4a24-bae1-8b45f2f327d3","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1140,940],"typeVersion":1},{"parameters":{"operation":"set","key":"=TG-USER-{{ $('Bot-Fields').item.json.chat_id }}","value":"={{ $item(\"0\").$node[\"Bot-Fields\"].json }}","keyType":"hash"},"id":"09ef798e-47db-4088-b742-4c00a5ec00d6","name":"Update User Data","type":"n8n-nodes-base.redis","position":[980,720],"typeVersion":1,"credentials":{"redis":{"id":"j2E6Hw2rOJds8BX4","name":"Redis account"}}},{"parameters":{"operation":"set","key":"=TG-USER-{{ $('Bot-Fields').item.json.chat_id }}","value":"={{ $item(\"0\").$node[\"Bot-Fields\"].json }}","keyType":"hash"},"id":"ab54d583-a695-406d-8132-a93495b0aafe","name":"Save User Data","type":"n8n-nodes-base.redis","position":[980,540],"typeVersion":1,"credentials":{"redis":{"id":"j2E6Hw2rOJds8BX4","name":"Redis account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Bot-Config').item.json.message.chat.id }}","operation":"regex","value2":"={{ $('Bot-Config').item.json.Support_Group_ID }}"}]}},"id":"10971be2-e618-499b-ae1d-9443da20d2c0","name":"Support Forum","type":"n8n-nodes-base.if","position":[500,1040],"typeVersion":1},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Bot-Fields').item.json.message_thread_id }}","operation":"isNotEmpty"},{"value1":"={{ $('Bot-Fields').item.json.reply_to_message_is_topic_message }}","operation":"regex","value2":"true"},{"value1":"={{ $('Bot-Fields').item.json.is_topic_message }}","operation":"regex","value2":"true"}]}},"id":"7a9d81f0-aaff-497b-b187-d24f1676cbf4","name":"From Ticket","type":"n8n-nodes-base.if","position":[700,1020],"typeVersion":1},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $('Bot-Config').item.json.BotToken }}/forwardMessage?chat_id={{ $json[\"reply_to_message_forward_from_id\"] || $('Bot-Fields').item.json.reply_to_message_forum_topic_created_name.match(/\\[id:(\\d+)\\]/)[1] }}&from_chat_id={{ $('Bot-Config').item.json[\"Support_Group_ID\"] }}&message_id={{ $('Bot-Fields').item.json[\"message_id\"] }}","options":{}},"id":"d25571c7-e04e-42fe-a8d2-58703a9f34fd","name":"Forward Support Reply To User","type":"n8n-nodes-base.httpRequest","position":[920,1000],"typeVersion":4.1},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.forum_topic_created_name.isNotEmpty() }}","operation":"regex","value2":"true"}]}},"id":"ff197379-395d-4ed4-9917-c0b805b70657","name":"IF Topic Created","type":"n8n-nodes-base.if","position":[700,1240],"typeVersion":1},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $('Bot-Config').item.json.BotToken }}/forwardMessage?chat_id={{ $('Bot-Config').item.json[\"Support_Group_ID\"] }}&message_thread_id={{ $json[\"result\"][\"message_thread_id\"] }}&from_chat_id={{ $('Bot-Fields').item.json[\"chat_id\"] }}&message_id={{ $('Bot-Fields').item.json[\"message_id\"] }}","options":{}},"id":"c1eb355d-9412-4a9c-bed6-28cc333c161e","name":"Forward New Message to the recrated topic","type":"n8n-nodes-base.httpRequest","position":[1660,1020],"typeVersion":4.1},{"parameters":{},"id":"16137b38-a56e-411e-9f28-1530a57e132b","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[1660,1280],"typeVersion":1},{"parameters":{"operation":"keys","keyPattern":"=TG-USER-{{ $json.chat_id }}"},"id":"32643875-7ca5-4eed-a7eb-1f5a53cca4f1","name":"Check User in Database","type":"n8n-nodes-base.redis","position":[540,660],"notesInFlow":true,"typeVersion":1,"credentials":{"redis":{"id":"j2E6Hw2rOJds8BX4","name":"Redis account"}},"notes":"Search Key"},{"parameters":{"content":"## Support Side\n**This Part** is meant to forward replies that sent by support (members in the group)","height":473,"width":656,"color":5},"id":"8c4a4c86-6c3c-4603-b19e-3403120b3720","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[460,920],"typeVersion":1},{"parameters":{"chatId":"={{ $json.forum_topic_created_name.match(/\\[id:(\\d+)\\]/)[1] }}","text":"A new ticket has been created for you. Please wait while one of our support team members becomes available to reply.","additionalFields":{"appendAttribution":false}},"id":"4ff2e7f1-010e-4225-bfcf-bd284739b949","name":"Send User Ticket Created Notification","type":"n8n-nodes-base.telegram","position":[900,1220],"typeVersion":1.1,"credentials":{"telegramApi":{"id":"NR2gaI52qTyWY7PG","name":"Telegram account"}}},{"parameters":{"content":"## User Side\n**This Part** is meant to save user data on a RAM database which is fast, and in same time forward the message to support after creating a new ticket (Topic) dedciated for the user id in the support group.","height":422,"width":1409.9137494026593,"color":3},"id":"a48b1f98-3033-422a-aa03-db9c947ff20d","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[460,460],"typeVersion":1},{"parameters":{"fields":{"values":[{"name":"BotToken","stringValue":"5220581091:AAGcFV0py5nMlA4Ak579NGGuVx0p9yafpfY"},{"name":"Support_Group_ID","stringValue":"Your Telegram Group here (Don't forget to give BOT admin privileges)"},{"name":"Boradcast_Channel_ID","stringValue":"1001754963658"}]},"options":{}},"id":"47bd2d75-9b4c-4042-af40-906b3fa7f7b3","name":"Bot-Config","type":"n8n-nodes-base.set","position":[240,600],"typeVersion":3.2},{"parameters":{"updates":["message","channel_post"],"additionalFields":{}},"id":"687ee8b0-46c2-4ea9-b653-a3461c310070","name":"Telegram-Bot","type":"n8n-nodes-base.telegramTrigger","position":[-120,600],"webhookId":"0cf77348-b460-4f45-a8bb-134b246e9e1e","typeVersion":1,"credentials":{"telegramApi":{"id":"NR2gaI52qTyWY7PG","name":"Telegram account"}}},{"parameters":{"dataType":"string","value1":"={{ $json.chat_type || $json.channel_post_sender_chat_type }}","rules":{"rules":[{"operation":"regex","value2":"private","output":1},{"operation":"regex","value2":"supergroup","output":2},{"operation":"regex","value2":"channel","output":3}]},"fallbackOutput":0},"id":"7c45f05b-2b86-4d8b-a368-1ba5cd8eede7","name":"1st","type":"n8n-nodes-base.switch","position":[140,1060],"typeVersion":1},{"parameters":{"batchSize":29,"options":{}},"id":"eee684e3-2986-40b7-ac8a-f5d0773855bf","name":"Split In Batches1","type":"n8n-nodes-base.splitInBatches","position":[1280,1580],"notesInFlow":true,"typeVersion":2,"notes":"Telegram Limitation 29/sec"},{"parameters":{"amount":3,"unit":"seconds"},"id":"07367f1b-f976-40f8-8f9c-50409d398762","name":"Wait1","type":"n8n-nodes-base.wait","position":[1680,1540],"webhookId":"0ef76d46-0de7-445d-8813-cb09bdbcceb6","typeVersion":1},{"parameters":{"jsCode":"let response = items[0].json; // get the Redis response\nlet newItems = []; // to store the new items\n\nfor(let key in response) {\n    if(response.hasOwnProperty(key)) {\n        newItems.push({\n            json: {\n                user: response[key]\n            }\n        });\n    }\n}\n\nreturn newItems;\n"},"id":"bcdc2e09-7a56-46ea-a584-04e9d63fb1b5","name":"Format Users","type":"n8n-nodes-base.code","position":[920,1580],"typeVersion":1},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $('Bot-Config').item.json.BotToken }}/copyMessage?chat_id={{ $('Split In Batches1').item.json[\"user\"][\"chat_id\"] }}&from_chat_id={{ $('Bot-Config').item.json[\"Boradcast_Channel_ID\"] }}&message_id={{ $('Bot-Config').item.json[\"channel_post\"][\"message_id\"] }}","options":{}},"id":"ebddaf81-479f-42df-a5a9-6c764191514e","name":"Broadcast Channel Post into Users","type":"n8n-nodes-base.httpRequest","position":[1500,1560],"typeVersion":4.1,"onError":"continueErrorOutput"},{"parameters":{"operation":"set","key":"=TG-USER-{{ $('Bot-Fields').item.json.chat_id || $('Split In Batches1').item.json.user.chat_id }}","value":"={\"Blocked\":{{ '1' }}}","keyType":"hash"},"id":"be0d32fc-9bf2-45b2-8fba-5333b51edf80","name":"Set Blocked Member","type":"n8n-nodes-base.redis","position":[1680,1700],"typeVersion":1,"credentials":{"redis":{"id":"j2E6Hw2rOJds8BX4","name":"Redis account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Bot-Config').item.json.channel_post.sender_chat.id }}","operation":"regex","value2":"={{ $('Bot-Config').item.json.Boradcast_Channel_ID }}"}]}},"id":"059c430e-f094-47d6-beaa-f92897a49df9","name":"IF Verified Channel","type":"n8n-nodes-base.if","position":[560,1600],"typeVersion":1},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.user.Blocked }}","operation":"notRegex","value2":"1"}]}},"id":"bd36572e-3f00-4f87-9d71-0cc3b6a1fb72","name":"Filter Blocked Users","type":"n8n-nodes-base.filter","position":[1100,1580],"typeVersion":1},{"parameters":{"content":"## Channel Side (Broadcasting)\n**This Part** where the support of brand broadcasting message to all previous users who used this bot before.","height":460.58353708231465,"width":1413.320293398532,"color":6},"id":"45093b7d-64d8-4adb-9708-9197afb0a69a","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[460,1420],"typeVersion":1},{"parameters":{"operation":"keys","keyPattern":"=TG-USER-*"},"id":"c81e87d9-2a5e-4286-9a17-eaf5ec60735f","name":"Retrieve all users in DB","type":"n8n-nodes-base.redis","position":[740,1580],"notesInFlow":true,"typeVersion":1,"credentials":{"redis":{"id":"j2E6Hw2rOJds8BX4","name":"Redis account"}},"notes":"Search Key"}],"connections":{"1st":{"main":[[],[{"node":"Check User in Database","type":"main","index":0}],[{"node":"Support Forum","type":"main","index":0}],[{"node":"IF Verified Channel","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Split In Batches1","type":"main","index":0}]]},"Format":{"main":[[{"node":"Bot-Fields","type":"main","index":0}]]},"Bot-Config":{"main":[[{"node":"Format","type":"main","index":0}]]},"Bot-Fields":{"main":[[{"node":"1st","type":"main","index":0}]]},"New User ?":{"main":[[{"node":"Save User Data","type":"main","index":0}],[{"node":"Update User Data","type":"main","index":0}]]},"From Ticket":{"main":[[{"node":"Forward Support Reply To User","type":"main","index":0}],[{"node":"IF Topic Created","type":"main","index":0}]]},"Format Users":{"main":[[{"node":"Filter Blocked Users","type":"main","index":0}]]},"Telegram-Bot":{"main":[[{"node":"Bot-Config","type":"main","index":0}]]},"Save Topic ID":{"main":[[{"node":"Forward New Message","type":"main","index":0}]]},"Support Forum":{"main":[[{"node":"From Ticket","type":"main","index":0}]]},"Save User Data":{"main":[[{"node":"Create Topic (Chat Ticket)","type":"main","index":0}]]},"ReSave Topic ID":{"main":[[{"node":"Forward New Message to the recrated topic","type":"main","index":0}]]},"IF Topic Created":{"main":[[{"node":"Send User Ticket Created Notification","type":"main","index":0}]]},"Update User Data":{"main":[[{"node":"Get User Chat Topic","type":"main","index":0}]]},"Split In Batches1":{"main":[[{"node":"Broadcast Channel Post into Users","type":"main","index":0}]]},"Set Blocked Member":{"main":[[{"node":"Split In Batches1","type":"main","index":0}]]},"Forward New Message":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"IF No Topic Created","type":"main","index":0}]]},"Get User Chat Topic":{"main":[[{"node":"Forward New Message","type":"main","index":0}]]},"IF No Topic Created":{"main":[[{"node":"ReCreate Topic (Chat Ticket)","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"IF Verified Channel":{"main":[[{"node":"Retrieve all users in DB","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Filter Blocked Users":{"main":[[{"node":"Split In Batches1","type":"main","index":0}]]},"Check User in Database":{"main":[[{"node":"New User ?","type":"main","index":0}]]},"Retrieve all users in DB":{"main":[[{"node":"Format Users","type":"main","index":0}]]},"Create Topic (Chat Ticket)":{"main":[[{"node":"Save Topic ID","type":"main","index":0}]]},"ReCreate Topic (Chat Ticket)":{"main":[[{"node":"ReSave Topic ID","type":"main","index":0}]]},"Forward Support Reply To User":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Broadcast Channel Post into Users":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Set Blocked Member","type":"main","index":0}]]},"Send User Ticket Created Notification":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Forward New Message to the recrated topic":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"066916c1-20af-40a5-8f90-e45fadb758ff","triggerCount":0,"tags":[]}