assistant-agent-I3MdQRvejCAVNUDi.json
{"createdAt":"2024-11-15T11:58:36.324Z","updatedAt":"2024-12-11T23:46:13.806Z","id":"I3MdQRvejCAVNUDi","name":"Assistant Agent","active":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{"download":true}},"id":"836ed9e3-61d3-4bb2-ac6f-5d81bfc073ef","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[80,240],"webhookId":"2f43a53a-8926-4723-81a5-df49cb882a85","credentials":{"telegramApi":{"id":"NR2gaI52qTyWY7PG","name":"Telegram account"}}},{"parameters":{"model":"gpt-4o","options":{}},"id":"4fad16b2-aa1e-4831-ac67-3bee0d598058","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[420,400],"credentials":{"openAiApi":{"id":"BBFkvbO7LeC1Lhxg","name":"OpenAi account"}}},{"parameters":{"name":"copywriting","description":"Call this tool for information on copywriting in marketing"},"id":"3280032f-3628-4aab-93fe-ad43630d9939","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[700,580]},{"parameters":{"model":"gpt-4o","options":{}},"id":"671c7c48-813d-4609-90bf-b1843a5f8ffd","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[820,740],"credentials":{"openAiApi":{"id":"BBFkvbO7LeC1Lhxg","name":"OpenAi account"}}},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"25cce76e-f578-4235-a956-50827133c76c","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[500,920],"credentials":{"openAiApi":{"id":"BBFkvbO7LeC1Lhxg","name":"OpenAi account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"8423ba1a-9370-459f-8f2f-bab32db9d276","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1120,240],"credentials":{"telegramApi":{"id":"NR2gaI52qTyWY7PG","name":"Telegram account"}}},{"parameters":{"name":"MarketingAgent","description":"Call this tool when you are given a task that falls under the marketing category - ads (google ads, facebook ads, tiktok ads etc), content, social media, marketing etc. You should send a description of the task to this agent in plain text.","workflowId":{"__rl":true,"value":"ctnFMHzDuDfBzjcE","mode":"list","cachedResultName":"Agent: Marketing Team"}},"id":"0129af08-61bf-46e0-984c-1bcde0d1ad85","name":"Agent: Marketing Dept","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[940,920]},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"id":"0026a132-6345-408b-97df-14e22e237c7b","name":"Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[460,0],"credentials":{"telegramApi":{"id":"NR2gaI52qTyWY7PG","name":"Telegram account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"c017eedc-1e29-4e3f-ab5f-f39fa73c4fbd","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.5,"position":[600,0],"credentials":{"openAiApi":{"id":"BBFkvbO7LeC1Lhxg","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2798e0e7-48ca-49ef-a75b-924ddc279d24","name":"=text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"id":"c4157617-ce96-4bae-b02d-25c036e29fb8","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[520,180]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be4f384e-8e5d-442e-88fe-5811a09d533b","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"13ae17d0-b982-4c6a-8962-99a3aa36ebd3","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[260,240]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.from.id }}","contextWindowLength":10},"id":"523f6a89-8635-48a3-81f8-1d9e4ad87f34","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[300,620]},{"parameters":{"descriptionType":"manual","toolDescription":"Call this tool to get emails from Neil's inbox. To filter, it will need date/time info for \"received after\" and \"received before\"","operation":"getAll","limit":25,"filters":{"labelIds":["INBOX"],"readStatus":"both","receivedAfter":"={{ $fromAI(\"after_date\", \"the date that emails were received after\") }}","receivedBefore":"={{ $fromAI(\"before_date\", \"the date that emails were received before\") }}"}},"id":"d3821022-e085-474a-b7e2-520f42e6799f","name":"Get Emails","type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1360,540],"webhookId":"54041db1-4e8e-473f-8079-32f8adb520f3","credentials":{"gmailOAuth2":{"id":"ZFO7RsD2iqGx7iDm","name":"Gmail account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Call this tool to get events from Neil's calendar using a before and after date to filter.","operation":"getAll","calendar":{"__rl":true,"value":"me@neilstephenson.com","mode":"list","cachedResultName":"me@neilstephenson.com"},"options":{"timeMin":"={{ $fromAI(\"after\", \"the date that the events are after\") }}","timeMax":"={{ $fromAI(\"before\", \"the date that the events are before\") }}","timeZone":{"__rl":true,"value":"Europe/London","mode":"list","cachedResultName":"Europe/London"}}},"id":"320c5d3a-f395-4874-888b-1edd2f6411fa","name":"Get Events","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[1180,620],"credentials":{"googleCalendarOAuth2Api":{"id":"ezwk0NVs1SVywaB0","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Call this tool to create an event in Neil's calendar - it will need a start date/time, an end date/time, and a title for the event.","calendar":{"__rl":true,"value":"me@neilstephenson.com","mode":"list","cachedResultName":"me@neilstephenson.com"},"start":"={{ $fromAI(\"start\", \"date and time that the event should start\") }}","end":"={{ $fromAI(\"end\", \"date and time that the event should end\") }}","additionalFields":{"summary":"={{ $fromAI(\"title\", \"the title of the event\") }}"}},"id":"ab266fc8-d96d-428f-8033-6a3a60b28bf2","name":"Create Event","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[1300,620],"credentials":{"googleCalendarOAuth2Api":{"id":"ezwk0NVs1SVywaB0","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Call this tool to send a text email from Neil. It requires an email address or email addresses to send to, a subject, and a message.","sendTo":"={{ $fromAI(\"email\", \"the email address or addresses of the recipient or recipients\") }}","subject":"={{ $fromAI(\"subject\", \"the subject of the email\") }}","emailType":"text","message":"={{ $fromAI(\"message\", \"the content of the email to be sent\") }}","options":{"appendAttribution":false}},"id":"a478a552-cc39-409a-8083-6634b44dcedf","name":"Send Email","type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1500,580],"webhookId":"62145d1f-3d36-4268-a97a-632e8933e2c8","credentials":{"gmailOAuth2":{"id":"ZFO7RsD2iqGx7iDm","name":"Gmail account"}}},{"parameters":{"name":"GetTodaysTasks","description":"Call this tool to get a list of today's tasks from Neil's Todoist account","workflowId":{"__rl":true,"value":"2IGnqaDhvCmi7iM5","mode":"list","cachedResultName":"Tool: Get Today's Tasks"}},"id":"4a2f6479-54d6-4905-a0af-dea0f6505fbb","name":"Get Today's Tasks","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1620,580]},{"parameters":{"name":"CreateTask","description":"Call this tool to create a task in Todoist. The input should be the task name in plain text.","workflowId":{"__rl":true,"value":"rfY41dkcIDOmyeYP","mode":"list","cachedResultName":"Tool: Create Task"}},"id":"c419daae-60b7-4f99-9657-a1f4ab2c34e3","name":"Create Task","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1760,580]},{"parameters":{"name":"CreateFluxImage","description":"Call this tool when the user requests an image to be generated. You should send the request from the user to this tool. The tool will respond with the URL of the image.","workflowId":{"__rl":true,"value":"g4beYptanSATg8Oh","mode":"list","cachedResultName":"Tool: Create Flux Image"}},"id":"76a1c0d6-009f-4c63-8979-8f2054b81883","name":"Create Flux Image","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1900,580]},{"parameters":{"name":"SalesAgent","description":"Call this tool when you are given a task that falls under the sales category - lead generation, setting up outbound sequences, booking sales meetings etc. You should send a description of the task to this agent in plain text.","workflowId":{"__rl":true,"value":"ctnFMHzDuDfBzjcE","mode":"list","cachedResultName":"Agent: Marketing Team"}},"id":"2fc4db84-a441-4760-b7d7-a0e904dc919b","name":"Agent: Sales Dept","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1060,920]},{"parameters":{"name":"FinanceAgent","description":"Call this tool when you are given a task that falls under the finance category - invoices, bookkeeping, contracts etc. You should send a description of the task to this agent in plain text.","workflowId":{"__rl":true,"value":"ctnFMHzDuDfBzjcE","mode":"list","cachedResultName":"Agent: Marketing Team"}},"id":"1dfc24d3-1a81-458b-9203-a6797ad446bb","name":"Agent: Finance Dept","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1180,920]},{"parameters":{"pineconeIndex":{"__rl":true,"value":"n8nagent","mode":"list","cachedResultName":"n8nagent"},"options":{"pineconeNamespace":"Copywriting"}},"id":"74d80f7c-57e7-49a5-9aa6-27fd278bf63e","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[480,760]},{"parameters":{"name":"VoiceNote","description":"Call this tool if the user indicates they want to make a note of something. You should send the full content of the input text from the user.","workflowId":{"__rl":true,"value":"sKeRafMh0Ik8ONNW","mode":"list","cachedResultName":"Tool: Voice Note"}},"id":"811009db-10c8-4136-a199-f225c99141fa","name":"Create Note","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2040,580]},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=You are a helpful personal agent of Neil Stephenson, and your role is to take his input and help him get things done. You will help with a number of tasks including his calendar, email, to-do list, and several other tasks which may be more complex and require you to delegate to a sub-agent.\n\nYou have a number of tools/agents at your disposal:\n\nGoogle Calendar: Get Events - This tool is used to get events from Neil's calendar using a before and after date to filter.\n\nGoogle Calendar: Create Event - This tool is used to create an event in Neil's calendar - it will need a start date/time, an end date/time, and a title for the event.\n\nGmail: Get Emails - This tool is used to get emails from Neil's inbox. To filter, it will need date/time info for \"received after\" and \"received before\"\n\nGmail: Send Email - This tool is used to send a text email from Neil. It requires an email address or email addresses to send to, a subject, and a message.\n\nGet Today's Tasks - This tool is used to get a list of today's tasks from Neil's Todoist account\n\nCreate Task - This tool is used to create a task in Neil's Todoist account. The input should be the task name\n\nCreate Flux Image - This tool is used to create an image, if Neil requests one to be created. You should return the URL of the image to Neil\n\nCreate Note - This tool is used if the user indicates they want to make a note of something. They might say \"make a note\" or \"take a note\" or \"this is a note\" or \"heres a thought\" or anything along those lines. You should send the full text input from the user to this tool.\n\nAgent: Marketing Dept - Call this sub-agent if there is a marketing task related to social media, content, or paid advertising.\n\nAgent: Sales Dept - Call this sub-agent if there is a sales task related to lead generation, setting up outbound sequences, booking sales meetings.\n\nAgent: Finance Dept - Call this sub-agent if there is a finance task related to invoices, bookkeeping or contracts.\n\nNeil is in London, UK, so please use that timezone. Right now it is {{ $now }}"}},"id":"6294acdd-14ef-4d32-9379-199a925925d7","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[780,240]},{"parameters":{"sessionIdType":"customKey","sessionKey":"{{ $('Telegram Trigger').item.json.message.from.id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.3,"position":[520,600],"id":"20a8d2e1-4a5c-4f17-9205-e27bc8f0f750","name":"Redis Chat Memory","credentials":{"redis":{"id":"j2E6Hw2rOJds8BX4","name":"Redis account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Agent: Marketing Dept":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Telegram1":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Telegram1","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Get Emails":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get Events":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Create Event":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Send Email":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get Today's Tasks":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Create Task":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Create Flux Image":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Agent: Sales Dept":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Agent: Finance Dept":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Pinecone Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Create Note":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"3e6c9872-fdf2-4986-a767-a8e282cf872a","triggerCount":0,"tags":[]}