automate-linkedin-outreach-with-notion-and-openai-bUxCH5M2dsGTQDoW.json
{"createdAt":"2024-06-21T17:03:35.207Z","updatedAt":"2024-06-21T17:03:35.207Z","id":"bUxCH5M2dsGTQDoW","name":"Automate LinkedIn Outreach with Notion and OpenAI","active":false,"nodes":[{"id":"7e8ec5cc-0216-4897-8a40-c44f9bbe5a9b","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[380,240],"parameters":{"rule":{"interval":[{"triggerAtHour":15}]}},"typeVersion":1.2},{"id":"dbde804d-9c84-4023-9e05-7506cd38a460","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[560,-74.73158696933018],"parameters":{"color":6,"width":652.1201853643956,"height":542.0867486896091,"content":"## Fetch the day's post from my Notion database\nA Notion _\"database\"_ is just a table on a Notion Page.\nThis table will have various rows, for which a minimum of three columns are required:\n- Name\n- Status\n- Date\n\nThe Date column is the most important, which will dictate when that row from your Notion table containing the text should be posted.\n\nNOTE: each post is required to have a copy and pasted image!"},"typeVersion":1},{"id":"95205e81-e28d-48f9-b3fb-bcf361f7799e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1320,-80],"parameters":{"width":860.9829802912225,"height":540.7357881640437,"content":"## Format Post\nSend the post to OpenAI, where it will attempt to ask your assistant how to take the incoming blob of text, and soup it up into something more palpable for LinkedIn engagement."},"typeVersion":1},{"id":"4bc2a550-a8ad-4b25-ac53-01413277e068","name":"Set post status to \"Done\"","type":"n8n-nodes-base.notion","position":[2560,240],"parameters":{"pageId":{"__rl":true,"mode":"url","value":"={{ $('query entries from Notion table for today').item.json.url }}"},"options":{},"resource":"databasePage","operation":"update","propertiesUi":{"propertyValues":[{"key":"Status|status","statusValue":"Done"}]}},"credentials":{"notionApi":{"id":"Tb9GzU3HcLQ1gAz1","name":"Notion account"}},"typeVersion":2.2},{"id":"31116f06-72ca-4219-9575-8efaefbff24b","name":"Post on LinkedIn","type":"n8n-nodes-base.linkedIn","position":[2300,240],"parameters":{"text":"={{ $json.output }}","person":"_RmSSZc0jB","additionalFields":{},"shareMediaCategory":"IMAGE"},"credentials":{"linkedInOAuth2Api":{"id":"VyQBB9KxcbfUgQz6","name":"LinkedIn account"}},"typeVersion":1},{"id":"1bf0540d-a180-457a-a7d7-fb74c8119a52","name":"Combine text+image","type":"n8n-nodes-base.merge","position":[1900,240],"parameters":{"mode":"combine","options":{},"combinationMode":"mergeByPosition"},"typeVersion":2.1},{"id":"f1fdf6f7-a75c-451b-8bce-ea581b4b6197","name":"Fetch image from post","type":"n8n-nodes-base.httpRequest","position":[1440,320],"parameters":{"url":"={{ $json.url[0] }}","options":{}},"typeVersion":4.2},{"id":"00e2bbcb-bac0-4a7e-9892-59f41a26ce9d","name":"Reformat Post Text","type":"@n8n/n8n-nodes-langchain.openAi","position":[1420,140],"parameters":{"text":"=Thank you kindly for your help, please refer to the following LinkedIn post, and output a reformatted version employing thoroughly thought-out paragraph breaks, and lists if present:\n```\n{{ $json.content.join(\" \") }}\n```","prompt":"define","options":{},"resource":"assistant","assistantId":{"__rl":true,"mode":"list","value":"asst_J1KuOx5wTLrjEHuy5q94jEgh","cachedResultName":"LinkedIn Post Reviewer"}},"credentials":{"openAiApi":{"id":"6xi0Ef6hZJCh4ppn","name":"OpenAi account"}},"typeVersion":1.3},{"id":"119d7fc7-ed62-4a73-916e-8baf19ab1d86","name":"get all content from post page","type":"n8n-nodes-base.notion","position":[820,240],"parameters":{"blockId":{"__rl":true,"mode":"url","value":"={{ $json.url }}"},"resource":"block","operation":"getAll","returnAll":true},"credentials":{"notionApi":{"id":"Tb9GzU3HcLQ1gAz1","name":"Notion account"}},"typeVersion":2.2},{"id":"461d4dd2-a91a-4219-bd20-6dd3398d4274","name":"Pull together all text blocks + image","type":"n8n-nodes-base.aggregate","position":[1040,240],"parameters":{"options":{},"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"content"},{"fieldToAggregate":"image.file.url"}]}},"typeVersion":1},{"id":"72052eec-c180-4da5-ba15-1a69a7ce6892","name":"query entries from Notion table for today","type":"n8n-nodes-base.notion","position":[600,240],"parameters":{"filters":{"conditions":[{"key":"Date|date","date":"={{ $today.format(\"yyyy/mM/dd\") }}","condition":"equals"}]},"options":{},"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"mode":"list","value":"9aba7f55-a7de-4329-9d5b-6d127937fa49","cachedResultUrl":"https://www.notion.so/9aba7f55a7de43299d5b6d127937fa49","cachedResultName":"LinkedIn Posts example"},"filterType":"manual"},"credentials":{"notionApi":{"id":"Tb9GzU3HcLQ1gAz1","name":"Notion account"}},"typeVersion":2.2}],"connections":{"Post on LinkedIn":{"main":[[{"node":"Set post status to \"Done\"","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"query entries from Notion table for today","type":"main","index":0}]]},"Combine text+image":{"main":[[{"node":"Post on LinkedIn","type":"main","index":0}]]},"Reformat Post Text":{"main":[[{"node":"Combine text+image","type":"main","index":0}]]},"Fetch image from post":{"main":[[{"node":"Combine text+image","type":"main","index":1}]]},"get all content from post page":{"main":[[{"node":"Pull together all text blocks + image","type":"main","index":0}]]},"Pull together all text blocks + image":{"main":[[{"node":"Fetch image from post","type":"main","index":0},{"node":"Reformat Post Text","type":"main","index":0}]]},"query entries from Notion table for today":{"main":[[{"node":"get all content from post page","type":"main","index":0}]]}},"settings":null,"staticData":null,"meta":{"templateId":"2288"},"pinData":null,"versionId":"0c13a9ee-fb26-47a5-803e-b104a26e2966","triggerCount":0,"tags":[]}