automation-social-DjEDAcCO6eZ6d1jP.json
{"createdAt":"2024-12-27T16:30:27.190Z","updatedAt":"2024-12-27T16:30:27.190Z","id":"DjEDAcCO6eZ6d1jP","name":"Automation Social","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 15 * * *"}]}},"id":"c6574502-7197-437b-94aa-8be1d127ad08","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[2560,500]},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"c1369e49-fae0-4a9e-aacf-f943409b1cfa","mode":"list","cachedResultName":"Social","cachedResultUrl":"https://www.notion.so/c1369e49fae04a9eaacff943409b1cfa"},"limit":1,"simple":false,"filterType":"json","filterJson":"{   \"and\": [     {       \"property\": \"Status\",       \"status\": {         \"equals\": \"Ready\"       }     }   ] }","options":{"sort":{"sortValue":[{"timestamp":true,"key":"created_time","direction":"ascending"}]}}},"id":"119a77a5-01b4-4552-b9ca-9ed0c08e613f","name":"Get Ready Tweet","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2700,500],"credentials":{"notionApi":{"id":"vBzOOSy9CYNUpoDV","name":"Notion account"}}},{"parameters":{"url":"=https://api.notion.com/v1/blocks/{{ $json.id }}/children ","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Notion-Version","value":"2022-06-28"}]},"options":{}},"id":"eb13a18d-af42-4ca7-b5d6-5290d124233f","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2860,500]},{"parameters":{"jsCode":"let results = $json[\"results\"];\nlet tweet = '';\nlet link = '';\nlet image = '';\n\n// Set the text to be excluded as a variable\nlet excludedText = \"(406) How to Schedule Tweets with Notion and n8n (for free) - YouTube\";\n\nfor (let i = 0; i < results.length; i++) {\n  let result = results[i];\n  \n  if (result.type == \"paragraph\") {\n    if (result.paragraph.rich_text.length == 1) {\n      let textContent = result.paragraph.rich_text[0].plain_text;\n      let href = result.paragraph.rich_text[0].href;\n\n      // Add text content to tweet if it's not the excluded text\n      if (textContent !== excludedText) {\n        tweet += `${textContent} `;\n      }\n\n      // If href exists, set it as link\n      if (href) {\n        link = href;\n      }\n    }\n  } else if (result.type == \"image\") {\n    if (result.image.type == \"external\") {\n      image = result.image.external.url;\n    }\n  }\n}\n\n// Trim any extra spaces from the tweet\ntweet = tweet.trim();\n\nreturn { tweet: tweet, link: link, image: image };\n"},"id":"de2ac2cc-ede6-48ac-a44f-ea29774a08a2","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[3040,500]},{"parameters":{"method":"POST","url":"https://api.twitter.com/2/tweets","authentication":"predefinedCredentialType","nodeCredentialType":"twitterOAuth1Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.tweet }}"}]},"options":{}},"id":"e02df510-4d7a-4649-8f39-0f673143327a","name":"POST to Twitter","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2740,780]},{"parameters":{"text":"={{ $json.tweet }}","additionalFields":{}},"id":"b04c1ed2-0190-4591-bace-66fb53ba31bf","name":"X","type":"n8n-nodes-base.twitter","typeVersion":2,"position":[2200,1000],"credentials":{"twitterOAuth2Api":{"id":"LJNlBOTOajndxi6C","name":"X account"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Get Ready Tweet').item.json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"Status|status","statusValue":"Publish"}]},"options":{}},"id":"0d6c1495-3c3e-4dd8-886e-fe0c82c4c15a","name":"Notion","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[3400,500],"credentials":{"notionApi":{"id":"vBzOOSy9CYNUpoDV","name":"Notion account"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 15 * * *"}]}},"id":"481a5b2f-f0a6-4e36-916c-c7c62d61b50f","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[740,840]},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"c1369e49-fae0-4a9e-aacf-f943409b1cfa","mode":"list","cachedResultName":"Social","cachedResultUrl":"https://www.notion.so/c1369e49fae04a9eaacff943409b1cfa"},"limit":1,"simple":false,"filterType":"json","filterJson":"{   \"and\": [     {       \"property\": \"Status\",       \"status\": {         \"equals\": \"Ready\"       }     }   ] }","options":{"sort":{"sortValue":[{"key":"Publish data|date","direction":"ascending"}]}}},"id":"6fe47e45-6092-494a-a971-aa411934a0d1","name":"Get Ready Tweet1","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[940,840],"credentials":{"notionApi":{"id":"vBzOOSy9CYNUpoDV","name":"Notion account"}}},{"parameters":{},"id":"2b220ea4-4994-461a-b9ae-c000976984cc","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1580,1480]},{"parameters":{"url":"=https://api.notion.com/v1/blocks/{{ $json.id }}/children ","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Notion-Version","value":"2022-06-28"}]},"options":{}},"id":"036309ba-fbc8-4589-b788-13cb05bc7977","name":"HTTP Request4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,840],"credentials":{"notionApi":{"id":"vBzOOSy9CYNUpoDV","name":"Notion account"}}},{"parameters":{"content":"## I'm a note \n**Double click** to edit me. [Guide](https://www.alexhyett.com/automate-twitter-with-notion-and-n8n/)\n[vdieo](https://youtu.be/82f4GjTgN08?si=NoIa6mCaoo0gH-pp)"},"id":"3acd72f3-0602-45d6-982f-5c14c8ae76e8","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1180,360]},{"parameters":{"title":"={{ $json.tweet }}","contentFormat":"html","content":"={{ $json.tweet }}","additionalFields":{"canonicalUrl":"","publishStatus":"draft"}},"id":"0bdcafc2-dcf4-402a-ae7f-3a6487977fe0","name":"Medium","type":"n8n-nodes-base.medium","typeVersion":1,"position":[3220,500],"credentials":{"mediumApi":{"id":"eQCnrvh0DO5dmsVr","name":"Medium account"}}},{"parameters":{"title":"={{ $json.tweet }}","contentFormat":"html","content":"={{ $json.tweet }}","additionalFields":{"canonicalUrl":"","publishStatus":"draft"}},"id":"1e3e25d7-fb46-42b4-9695-ab74be4c74b0","name":"Medium1","type":"n8n-nodes-base.medium","typeVersion":1,"position":[2200,1160],"credentials":{"mediumApi":{"id":"eQCnrvh0DO5dmsVr","name":"Medium account"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Get Ready Tweet').item.json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"Status|status","statusValue":"Publish"}]},"options":{}},"id":"8909a19f-c655-4921-ab4b-b0c200dfa967","name":"Notion1","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2400,1160],"credentials":{"notionApi":{"id":"vBzOOSy9CYNUpoDV","name":"Notion account"}}},{"parameters":{"jsCode":"let results = $json[\"results\"];\nlet tweet = '';\nlet link = '';\nlet image = '';\n\n// Set the text to be excluded as a variable\nlet excludedText = \"(406) How to Schedule Tweets with Notion and n8n (for free) - YouTube\";\n\nfor (let i = 0; i < results.length; i++) {\n  let result = results[i];\n  \n  if (result.type == \"paragraph\") {\n    if (result.paragraph.rich_text.length == 1) {\n      let textContent = result.paragraph.rich_text[0].plain_text;\n      let href = result.paragraph.rich_text[0].href;\n\n      // Add text content to tweet if it's not the excluded text\n      if (textContent !== excludedText) {\n        tweet += `${textContent} `;\n      }\n\n      // If href exists, set it as link\n      if (href) {\n        link = href;\n      }\n    }\n  } else if (result.type == \"image\") {\n    if (result.image.type == \"external\") {\n      image = result.image.external.url;\n    }\n  }\n}\n\n// Trim any extra spaces from the tweet\ntweet = tweet.trim();\n\nreturn { tweet: tweet, link: link, image: image };\n"},"id":"f832848e-41cb-4255-a303-266db84681f0","name":"Linkedin","type":"n8n-nodes-base.code","typeVersion":2,"position":[1980,460]},{"parameters":{"jsCode":"let results = $json[\"results\"];\nlet tweet = '';\nlet link = '';\nlet image = '';\n\n// Set the text to be excluded as a variable\nlet excludedText = \"(406) How to Schedule Tweets with Notion and n8n (for free) - YouTube\";\n\nfor (let i = 0; i < results.length; i++) {\n  let result = results[i];\n  \n  if (result.type == \"paragraph\") {\n    if (result.paragraph.rich_text.length == 1) {\n      let textContent = result.paragraph.rich_text[0].plain_text;\n      let href = result.paragraph.rich_text[0].href;\n\n      // Add text content to tweet if it's not the excluded text\n      if (textContent !== excludedText) {\n        tweet += `${textContent} `;\n      }\n\n      // If href exists, set it as link\n      if (href) {\n        link = href;\n      }\n    }\n  } else if (result.type == \"image\") {\n    if (result.image.type == \"external\") {\n      image = result.image.external.url;\n    }\n  }\n}\n\n// Trim any extra spaces from the tweet\ntweet = tweet.trim();\n\nreturn { tweet: tweet, link: link, image: image };\n"},"id":"5ba8e960-62f5-4bea-9883-fed735deef79","name":"Quora","type":"n8n-nodes-base.code","typeVersion":2,"position":[1980,640]},{"parameters":{"jsCode":"let results = $json[\"results\"];\nlet tweet = '';\nlet link = '';\nlet image = '';\n\n// Set the text to be excluded as a variable\nlet excludedText = \"(406) How to Schedule Tweets with Notion and n8n (for free) - YouTube\";\n\nfor (let i = 0; i < results.length; i++) {\n  let result = results[i];\n  \n  if (result.type == \"paragraph\") {\n    if (result.paragraph.rich_text.length == 1) {\n      let textContent = result.paragraph.rich_text[0].plain_text;\n      let href = result.paragraph.rich_text[0].href;\n\n      // Add text content to tweet if it's not the excluded text\n      if (textContent !== excludedText) {\n        tweet += `${textContent} `;\n      }\n\n      // If href exists, set it as link\n      if (href) {\n        link = href;\n      }\n    }\n  } else if (result.type == \"image\") {\n    if (result.image.type == \"external\") {\n      image = result.image.external.url;\n    }\n  }\n}\n\n// Trim any extra spaces from the tweet\ntweet = tweet.trim();\n\nreturn { tweet: tweet, link: link, image: image };\n"},"id":"a5646d51-9686-4e43-af19-579379e27f45","name":"Facebook","type":"n8n-nodes-base.code","typeVersion":2,"position":[1980,820]},{"parameters":{"jsCode":"let results = $json[\"results\"];\nlet tweet = '';\nlet link = '';\nlet image = '';\n\n// Set the text to be excluded as a variable\nlet excludedText = \"(406) How to Schedule Tweets with Notion and n8n (for free) - YouTube\";\n\nfor (let i = 0; i < results.length; i++) {\n  let result = results[i];\n  \n  if (result.type == \"paragraph\") {\n    if (result.paragraph.rich_text.length == 1) {\n      let textContent = result.paragraph.rich_text[0].plain_text;\n      let href = result.paragraph.rich_text[0].href;\n\n      // Add text content to tweet if it's not the excluded text\n      if (textContent !== excludedText) {\n        tweet += `${textContent} `;\n      }\n\n      // If href exists, set it as link\n      if (href) {\n        link = href;\n      }\n    }\n  } else if (result.type == \"image\") {\n    if (result.image.type == \"external\") {\n      image = result.image.external.url;\n    }\n  }\n}\n\n// Trim any extra spaces from the tweet\ntweet = tweet.trim();\n\nreturn { tweet: tweet, link: link, image: image };\n"},"id":"78253c6a-de1a-457a-96b6-2df3b3c803a0","name":"X(Twitter)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1980,1000]},{"parameters":{"jsCode":"let results = $json[\"results\"];\nlet tweet = '';\nlet link = '';\nlet image = '';\n\n// Set the text to be excluded as a variable\nlet excludedText = \"(406) How to Schedule Tweets with Notion and n8n (for free) - YouTube\";\n\nfor (let i = 0; i < results.length; i++) {\n  let result = results[i];\n  \n  if (result.type == \"paragraph\") {\n    if (result.paragraph.rich_text.length == 1) {\n      let textContent = result.paragraph.rich_text[0].plain_text;\n      let href = result.paragraph.rich_text[0].href;\n\n      // Add text content to tweet if it's not the excluded text\n      if (textContent !== excludedText) {\n        tweet += `${textContent} `;\n      }\n\n      // If href exists, set it as link\n      if (href) {\n        link = href;\n      }\n    }\n  } else if (result.type == \"image\") {\n    if (result.image.type == \"external\") {\n      image = result.image.external.url;\n    }\n  }\n}\n\n// Trim any extra spaces from the tweet\ntweet = tweet.trim();\n\nreturn { tweet: tweet, link: link, image: image };\n"},"id":"09386cd1-1d7b-4228-bbc9-65e82c68bfde","name":"Medium2","type":"n8n-nodes-base.code","typeVersion":2,"position":[1980,1160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2146cb69-4f92-47f6-aee8-046dbe92ee47","leftValue":"={{ $json.properties.Platform.multi_select[0].name }}","rightValue":"Linkedin","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"73ccceac-5a9b-4cc4-97a4-6bdff9d49728","leftValue":"={{ $json.properties.Platform.multi_select[1].name }}","rightValue":"Linkedin","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"ef7eec3d-f60c-41c4-8bf8-2b868b66113c","name":"If  Linkedin","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,1280]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d0381c76-77bb-4d69-bf28-fc85b61448b1","leftValue":"={{ $json.properties.Platform.multi_select[1].name }}","rightValue":"Quora","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"e71fd92e-cdea-430b-9fa5-a5f182c60813","leftValue":"={{ $json.properties.Platform.multi_select[0].name }}","rightValue":"Quora","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"4b16e3ae-d5c8-4861-8742-1e9f4c3b959f","name":"If Quora","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,1460]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3aa1511a-475c-4076-afdf-13c7c451c98a","leftValue":"={{ $json.properties.Platform.multi_select[1].name }}","rightValue":"Facebook","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6c64d68c-d6ae-4fc7-a754-85f655ec7240","leftValue":"={{ $json.properties.Platform.multi_select[0].name }}","rightValue":"Facebook","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"54aba296-192c-4ba5-8929-3f054703c71d","name":"IF Facebook","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,1640]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3aa1511a-475c-4076-afdf-13c7c451c98a","leftValue":"={{ $json.properties.Platform.multi_select[1].name }}","rightValue":"X(Twitter)","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6c64d68c-d6ae-4fc7-a754-85f655ec7240","leftValue":"={{ $json.properties.Platform.multi_select[0].name }}","rightValue":"X(Twitter)","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"79ffadcb-3ff3-4098-baf2-4c8a14de9c03","name":"If X(Twitter)","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,1820]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3aa1511a-475c-4076-afdf-13c7c451c98a","leftValue":"={{ $json.properties.Platform.multi_select[1].name }}","rightValue":"Medium","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6c64d68c-d6ae-4fc7-a754-85f655ec7240","leftValue":"={{ $json.properties.Platform.multi_select[0].name }}","rightValue":"Medium","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"6105e21f-4b59-4f40-829c-97021edc15c7","name":"If Medium","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,1980]},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Get Ready Tweet').item.json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"Status|status","statusValue":"Publish"}]},"options":{}},"id":"a91cab01-0e39-4afe-8b57-6d3338d3f9be","name":"Notion2","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2400,1000],"credentials":{"notionApi":{"id":"vBzOOSy9CYNUpoDV","name":"Notion account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"{{ $json.properties.Platform.multi_select[0].name }}","rightValue":"Linkedin","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Linkedin"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6dd1ff39-b2b6-4863-9f37-1c10168d3d94","leftValue":"{{ $json.properties.Platform.multi_select[0].name }}","rightValue":"Quora","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Quora"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4df7a207-2db3-487f-8176-3d2f2f4303db","leftValue":"","rightValue":"Facebook","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Facebook"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c337556e-c773-44e0-adad-bb3b5781f992","leftValue":"","rightValue":"X(Twitter)","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"X(Twitter)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"659ce7ff-6be6-4d6b-9125-561eb82f90c7","leftValue":"","rightValue":"Medium","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Medium"}]},"options":{}},"id":"854c63c3-642a-48d9-922c-d6cab7c2b081","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1420,840]},{"parameters":{"person":"wInlVYhEu1","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[2200,460],"id":"96bf349d-162d-4ace-bdbf-6354acf9caa5","name":"LinkedIn","credentials":{"linkedInOAuth2Api":{"id":"Nl2HV2Mz0nihpuHJ","name":"LinkedIn account"}}},{"parameters":{"graphApiVersion":"v20.0","node":"me","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[2200,820],"id":"466dff77-9f04-4e1b-ba3e-1611056afb59","name":"Facebook Graph API1","credentials":{"facebookGraphApi":{"id":"Q0zZm8XjlKT5V8Pg","name":"Facebook Graph account 2"}}},{"parameters":{"operationType":"searchCompanies","cookies":"={\n        \"domain\": \".www.linkedin.com\",\n        \"expirationDate\": 1766703510.449691,\n        \"hostOnly\": false,\n        \"httpOnly\": true,\n        \"name\": \"li_at\",\n        \"path\": \"/\",\n        \"sameSite\": \"no_restriction\",\n        \"secure\": true,\n        \"session\": false,\n        \"storeId\": null,\n        \"value\": \"AQEDAS3PABoCWPQ7AAABlAALIAkAAAGUJBekCU0Ad7T-HFLUrzPJnF1gSVAvwUIe4_GnrE5f7OSnyNdxYGxKW7uYLufNbGdwxKR2yRFKPrU9WInQx5afFHi1PcDp6KfqjkHsSsWZxpNNl6IxY4jfaZ9P\"\n}","keywords":"cloud"},"type":"n8n-nodes-linkedstarter09.linkedin","typeVersion":1,"position":[800,440],"id":"3322a7c2-5596-4d44-bc9b-12364074fa23","name":"Linkedin1","credentials":{"linkedinApi":{"id":"9GRoyxqwaPl9Rrch","name":"Linkedin Credentials account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6231cd8c-d1af-41bd-8ac5-41766503ad9d","name":"pass","value":"102030405060Mo","type":"string"},{"id":"cb0249cd-5517-4019-ae4f-de6bb55de310","name":"emil","value":"mohamed01023618534@gmail.com","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,440],"id":"c22721e0-9905-4e26-8aaf-759ff275f405","name":"Edit Fields"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Ready Tweet","type":"main","index":0}]]},"Get Ready Tweet":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Medium","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Get Ready Tweet1","type":"main","index":0}]]},"Get Ready Tweet1":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"If  Linkedin","type":"main","index":0},{"node":"If Quora","type":"main","index":0},{"node":"IF Facebook","type":"main","index":0},{"node":"If X(Twitter)","type":"main","index":0},{"node":"If Medium","type":"main","index":0},{"node":"Switch","type":"main","index":0}]]},"Medium":{"main":[[{"node":"Notion","type":"main","index":0}]]},"Medium1":{"main":[[{"node":"Notion1","type":"main","index":0}]]},"Medium2":{"main":[[{"node":"Medium1","type":"main","index":0}]]},"If  Linkedin":{"main":[[],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"If Quora":{"main":[[],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"IF Facebook":{"main":[[],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"If X(Twitter)":{"main":[[],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"If Medium":{"main":[[],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"X(Twitter)":{"main":[[{"node":"X","type":"main","index":0}]]},"X":{"main":[[{"node":"Notion2","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Linkedin","type":"main","index":0}],[{"node":"Quora","type":"main","index":0}],[{"node":"Facebook","type":"main","index":0}],[{"node":"X(Twitter)","type":"main","index":0}],[{"node":"Medium2","type":"main","index":0}]]},"Linkedin":{"main":[[{"node":"LinkedIn","type":"main","index":0}]]},"Facebook":{"main":[[{"node":"Facebook Graph API1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Linkedin1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"ec8ec140-bbf3-4cd9-a9a0-af738561cc17","triggerCount":0,"tags":[]}