backup-workflows-to-github-XYFywafzkAjZer7A.json
{"createdAt":"2024-07-09T18:05:53.029Z","updatedAt":"2024-07-09T18:06:14.868Z","id":"XYFywafzkAjZer7A","name":"Backup workflows to GitHub","active":false,"nodes":[{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":"YOUR_USERNAME","repository":"REPO_NAME","filePath":"={{$json[\"data\"][\"name\"]}}.json","fileContent":"={{JSON.stringify($json[\"data\"])}}","commitMessage":"=[N8N Backup] {{$json.data[\"name\"]}} ({{new Date(Date.now()).toLocaleDateString()}})"},"name":"GitHub Edit","type":"n8n-nodes-base.github","position":[1580,540],"typeVersion":1,"id":"bce9f3a6-5ce3-4599-b4a3-9e5a782b06c7","credentials":{"githubOAuth2Api":{"id":"zbYskcxdDgBBl7Ng","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":"YOUR_USERNAME","repository":"REPO","filePath":"/","asBinaryProperty":false,"additionalParameters":{}},"name":"Get Files","type":"n8n-nodes-base.github","position":[600,440],"executeOnce":true,"typeVersion":1,"alwaysOutputData":false,"id":"6cf2f8e6-994b-4654-8205-b89eb64159a7","credentials":{"githubOAuth2Api":{"id":"zbYskcxdDgBBl7Ng","name":"GitHub account"}}},{"parameters":{"functionCode":"return items[0].json.map(item => {\n  return {\n    json: item\n  }\n});\n"},"name":"Transform","type":"n8n-nodes-base.function","position":[800,440],"typeVersion":1,"id":"e4c7ca3f-5e63-440a-b842-ef4821ea4775"},{"parameters":{"authentication":"oAuth2","resource":"file","owner":"YOUR_USERNAME","repository":"REPO","filePath":"={{$json[\"data\"][\"name\"]}}.json","fileContent":"={{JSON.stringify($node['Merge'].json[\"data\"])}}","commitMessage":"=[N8N Backup] {{$json.data[\"name\"]}}.json ({{new Date(Date.now()).toLocaleDateString()}})"},"name":"Create file","type":"n8n-nodes-base.github","position":[1640,220],"typeVersion":1,"id":"f0051f3e-b577-40e8-8039-5e909933b73b","credentials":{"githubOAuth2Api":{"id":"zbYskcxdDgBBl7Ng","name":"GitHub account"}}},{"parameters":{"mode":"removeKeyMatches","propertyName1":"data.name","propertyName2":"data.name"},"name":"Merge","type":"n8n-nodes-base.merge","position":[1330,220],"typeVersion":1,"id":"a44efc90-9bf8-4e84-98a6-a40c956ddcda"},{"parameters":{"authentication":"basicAuth","url":"http://localhost:5678/rest/workflows","options":{}},"name":"Get workflows","type":"n8n-nodes-base.httpRequest","position":[600,240],"typeVersion":1,"id":"9b8c03f0-73f7-45c0-b071-46633e8037f3"},{"parameters":{"authentication":"basicAuth","url":"=http://localhost:5678/rest/workflows/{{$json[\"id\"]}}","options":{}},"name":"Get workflow data","type":"n8n-nodes-base.httpRequest","position":[1000,240],"typeVersion":1,"id":"876db129-a30c-4928-9bfc-0542f32186c1"},{"parameters":{"authentication":"headerAuth","url":"={{$json[\"download_url\"]}}","responseFormat":"string","options":{}},"name":"Download Raw Content","type":"n8n-nodes-base.httpRequest","position":[1000,440],"typeVersion":1,"id":"2779d000-7bc1-4349-8d86-ff471561b5d0"},{"parameters":{"functionCode":"const newItems = [];\nfor (item of items[0].json.data) {\n  newItems.push({json: item});\n}\nreturn newItems;"},"name":"transform","type":"n8n-nodes-base.function","position":[780,240],"typeVersion":1,"id":"05ad8286-8731-4b8a-b8fd-a7364486cfb0"},{"parameters":{"triggerTimes":{"item":[{"hour":23,"minute":59}]}},"name":"Daily at 23:59","type":"n8n-nodes-base.cron","position":[380,240],"typeVersion":1,"id":"150d7075-c685-448d-9a5a-4126f713cd50"},{"parameters":{"mode":"removeKeyMatches","propertyName1":"data.updatedAt","propertyName2":"data.updatedAt"},"name":"Merge1","type":"n8n-nodes-base.merge","position":[1370,550],"typeVersion":1,"id":"7bb08702-b0ac-4c75-99dd-fd9b86ea8df3"}],"connections":{"Merge":{"main":[[{"node":"Create file","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"GitHub Edit","type":"main","index":0}]]},"Get Files":{"main":[[{"node":"Transform","type":"main","index":0}]]},"Transform":{"main":[[{"node":"Download Raw Content","type":"main","index":0}]]},"transform":{"main":[[{"node":"Get workflow data","type":"main","index":0}]]},"Get workflows":{"main":[[{"node":"transform","type":"main","index":0}]]},"Daily at 23:59":{"main":[[{"node":"Get workflows","type":"main","index":0}]]},"Get workflow data":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"Download Raw Content":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Merge1","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"1222"},"pinData":{},"versionId":"ba4f2ab9-08f1-4977-8a56-ae5f41c974ad","triggerCount":0,"tags":[]}