chatwoot-1-c8QV7z9XSbjPnAf4.json
{"createdAt":"2024-12-27T16:27:52.640Z","updatedAt":"2024-12-27T16:27:52.640Z","id":"c8QV7z9XSbjPnAf4","name":"chatwoot 1","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"455ae36e-b7f1-4dbd-8fbb-23e6edbc2106","name":"response","value":"={{ $json.response.text }}","type":"string"}]},"options":{}},"id":"3099f4be-622b-4f7d-82b3-36fb48755b66","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[300,-160]},{"parameters":{},"id":"2db9ce0d-085d-4386-86e5-a0e545101cef","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-360,60]},{"parameters":{"options":{}},"id":"cc97beb6-98e7-4f00-8305-288b71e7afb7","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[20,300],"credentials":{"openAiApi":{"id":"BBFkvbO7LeC1Lhxg","name":"OpenAi account"}}},{"parameters":{"qdrantCollection":{"__rl":true,"value":"n8ntest","mode":"list","cachedResultName":"n8ntest"},"options":{}},"id":"90a7a2d3-c853-41d7-9849-2efb0fb91b63","name":"Qdrant Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[20,180]},{"parameters":{"promptType":"define","text":"=Please reply to the following user question about amazon products from the vector database: \nUser question: {{ $json.query }}","options":{}},"id":"8b69653c-e089-45c3-8f7a-aec6d0d37cbd","name":"Question and Answer Chain1","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","typeVersion":1.3,"position":[-80,-160]},{"parameters":{},"id":"e9ec1b10-950c-499d-a9ed-e26d864c32a7","name":"Vector Store Retriever1","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[0,20]},{"parameters":{"model":"gpt-4","options":{}},"id":"7b51f9f1-db72-4bbb-be18-7c38e47e7ac7","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-60,80],"credentials":{"openAiApi":{"id":"BBFkvbO7LeC1Lhxg","name":"OpenAi account"}}}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Question and Answer Chain1","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"Qdrant Vector Store1":{"ai_vectorStore":[[{"node":"Vector Store Retriever1","type":"ai_vectorStore","index":0}]]},"Question and Answer Chain1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Vector Store Retriever1":{"ai_retriever":[[{"node":"Question and Answer Chain1","type":"ai_retriever","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Question and Answer Chain1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"159f88eb-fdf2-4d1a-9e02-04718c788364","triggerCount":0,"tags":[]}