chatwoot-Sne7uTjCM9e4PNTp.json
{"createdAt":"2024-11-29T18:20:34.037Z","updatedAt":"2024-11-29T18:37:45.733Z","id":"Sne7uTjCM9e4PNTp","name":"chatwoot","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ad0678f2-a082-4575-b092-6d2eafa52106","authentication":"headerAuth","options":{}},"id":"3d2bbb40-1779-4eb7-b0b5-2b4a39013925","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-1460,280],"webhookId":"d3664560-67de-48f1-9ca6-991e9b0fcae7","credentials":{"httpHeaderAuth":{"id":"HgNAYUKj8kUj5UCm","name":"llamaindex"}}},{"parameters":{"fields":{"values":[{"name":"phone","stringValue":"={{ $json.body.sender.identifier }}"},{"name":"message","stringValue":"={{ $json.body.content }}"},{"name":"contact id","stringValue":"={{ $json.body.conversation.contact_inbox.contact_id }}"},{"name":"source id","stringValue":"={{ $json.body.conversation.contact_inbox.source_id }}"}]},"include":"none","options":{}},"id":"39140642-9f56-4468-b299-86fb4de1a386","name":"current_customer_info","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[-660,340]},{"parameters":{"query":"={{ $json.message }}","options":{}},"id":"2ba733f4-602c-4a3b-adad-ca2f4204cafb","name":"Question and Answer Chain","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","typeVersion":1.2,"position":[-780,880]},{"parameters":{"options":{}},"id":"7e02925f-9d42-4de3-bce6-943fb6055d67","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-660,1280],"credentials":{"openAiApi":{"id":"BBFkvbO7LeC1Lhxg","name":"OpenAi account"}}},{"parameters":{"options":{}},"id":"d7b10361-7033-436d-90cd-11b89c0c649a","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-820,1100],"credentials":{"openAiApi":{"id":"BBFkvbO7LeC1Lhxg","name":"OpenAi account"}}},{"parameters":{},"id":"6aded719-254d-448b-b151-8e0da650a7d8","name":"Vector Store Retriever","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[-720,1040]},{"parameters":{"content":"## conditions\n### channels other than whatsapp / another phone\n### new customer guided reply\n### AI reply in special conditions\n### AI can reply from company data\n### Human can reply when needed\n","height":245.92121982210932,"width":634.536213468869},"id":"480b01f2-9c6e-4cfb-a396-6ab51346cb03","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1680,580]},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // Check if the 'phone ' key exists (noting the trailing space)\n  if (item.json && item.json['phone ']) {\n    // Extract the 'phone ' field\n    const phoneField = item.json['phone '];\n\n    // Use a regular expression to extract the numeric phone number\n    const match = phoneField.match(/(\\d+)@s\\.whatsapp\\.net/);\n    if (match) {\n      // Store the extracted phone number back into the item's JSON under a new field 'extractedPhoneNumber'\n      item.json.extractedPhoneNumber = match[1];\n    } else {\n      // Handle cases where the pattern does not match\n      item.json.extractedPhoneNumber = \"No valid identifier found\";\n    }\n  } else {\n    // Handle cases where 'phone ' key is missing\n    item.json.extractedPhoneNumber = \"Required data is missing\";\n  }\n}\n\n// Return the modified input items with the added 'extractedPhoneNumber' field\nreturn $input.all();\n"},"id":"193098b6-f615-4e3a-b2fd-158d3776322b","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[-280,40]},{"parameters":{"fields":{"values":[{"name":"phone ","stringValue":"={{ $('Webhook').item.json.body.meta.sender.identifier }}"}]},"include":"none","options":{}},"id":"ebba2384-0b55-43b3-ba8a-515441b9b88b","name":"new customer","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[-640,80]},{"parameters":{"jsCode":"// Loop over input items\nfor (const item of $input.all()) {\n  // Check if the 'phone' key exists\n  if (item.json && item.json['phone']) {\n    // Extract the 'phone' field\n    const phoneField = item.json['phone'];\n\n    // Use a regular expression to extract the numeric phone number\n    const match = phoneField.match(/(\\d+)@s\\.whatsapp\\.net/);\n    if (match) {\n      // Store the extracted phone number back into the item's JSON under a new field 'extractedPhoneNumber'\n      item.json.extractedPhoneNumber = match[1];\n    } else {\n      // Handle cases where the pattern does not match\n      item.json.extractedPhoneNumber = \"No valid identifier found\";\n    }\n  } else {\n    // Handle cases where 'phone' key is missing\n    item.json.extractedPhoneNumber = \"Required data is missing\";\n  }\n}\n\n// Return the modified input items with the added 'extractedPhoneNumber' field\nreturn $input.all();\n"},"id":"14e6eef0-d5ad-4815-9b37-b7d7626f4202","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-420,340]},{"parameters":{"method":"POST","url":"https://wa.mu3lnen.com/message/sendText/UK","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"xfgak0d6vocel0nq2vi7o7"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"number\":\"{{ $json.extractedPhoneNumber }}\",\n   \"options\":{\n      \"delay\":1200,\n      \"presence\":\"composing\",\n      \"linkPreview\":false\n   },\n   \"textMessage\":{\n      \"text\":\"custom text here😉🤣🤩🤝👏👍🙏\"\n   }\n}","options":{"redirect":{"redirect":{}}}},"id":"cd334a6f-24b8-4aee-954c-e7084fa56dfb","name":"send message for new customer","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[40,40]},{"parameters":{"method":"POST","url":"https://wa.mu3lnen.com/message/sendText/UK","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"xfgak0d6vocel0nq2vi7o7"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"number\":\"{{ $('Code1').item.json.extractedPhoneNumber }}\",\n   \"options\":{\n      \"delay\":1200,\n      \"presence\":\"composing\",\n      \"linkPreview\":false\n   },\n   \"textMessage\":{\n      \"text\":\"{{ $json.response.text }}\"\n   }\n}","options":{"redirect":{"redirect":{}}}},"id":"1127c561-9caf-4e86-b226-b5817a8d2147","name":"send message for current customer","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[480,420]},{"parameters":{},"id":"946f160f-93f1-45e1-a325-b1dc8963d38a","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-920,500]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.body.event }}","rightValue":"=conversation_created","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"new customer"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"8edf54ef-cf7a-4e59-936a-ca3a1d6ac8d6","leftValue":"={{ $json.body.event }}","rightValue":"message_created","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"current customer"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e0bf26f4-4696-489f-ad68-2b050c879d5c","leftValue":"={{ $json.body.conversation.channel }}","rightValue":"Channel::Api","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"other channel"}]},"options":{}},"id":"c71168f1-56d7-49ff-8a92-9f4ce6831d4f","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-1080,280]},{"parameters":{},"id":"adb3a98d-5183-47c4-9292-ddb91637e291","name":"human reply","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[40,240]},{"parameters":{"mode":"expression","numberOutputs":2,"output":"={{ $json.message.toLowerCase().includes(\"ai\") }}"},"id":"521d3467-4e46-4663-b864-919cad260a48","name":"Human or AI reply","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-200,340]},{"parameters":{"qdrantCollection":{"__rl":true,"value":"21cf0035-2dd4-444a-b600-08f653c73cb8","mode":"id"},"options":{}},"id":"94cb0cba-7f78-4b89-b917-f7329979e083","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[-700,1160]},{"parameters":{"options":{}},"id":"ad4a00d0-2926-44b6-bf6d-a96cd1fc12d0","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-100,680],"credentials":{"openAiApi":{"id":"BBFkvbO7LeC1Lhxg","name":"OpenAi account"}}},{"parameters":{"options":{}},"id":"7170b7a1-94e7-4002-a8a5-1d80152e2ab4","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.2,"position":[60,400]},{"parameters":{"name":"pdf_retriver","workflowId":"IWpdQSneL68TkuPZ"},"id":"c58c3444-9fac-4057-b54f-70c61c99e96f","name":"Custom n8n Workflow Tool","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1,"position":[280,660]},{"parameters":{},"id":"942daf32-d3b2-4a7e-ab88-57342eda1ea0","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[-960,880],"webhookId":"c9dc3e7b-cf2e-4541-9247-7377129237bc"},{"parameters":{},"id":"b67e37d4-6e5f-4cb8-a4e8-d2b11a58805b","name":"Redis Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.1,"position":[160,620],"credentials":{"redis":{"id":"j2E6Hw2rOJds8BX4","name":"Redis account"}}}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"current_customer_info":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Question and Answer Chain","type":"ai_languageModel","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question and Answer Chain","type":"ai_retriever","index":0}]]},"Code":{"main":[[{"node":"send message for new customer","type":"main","index":0}]]},"new customer":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Human or AI reply","type":"main","index":0}]]},"Switch":{"main":[[{"node":"new customer","type":"main","index":0}],[{"node":"current_customer_info","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Human or AI reply":{"main":[[{"node":"human reply","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Qdrant Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"send message for current customer","type":"main","index":0}]]},"Custom n8n Workflow Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Chat Trigger":{"main":[[{"node":"Question and Answer Chain","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"3641584a-a789-4429-b8d6-18ad8a863d55","triggerCount":0,"tags":[]}