generating-keywords-using-google-autosuggest-E3TyldIxXxWhcj76.json
{"createdAt":"2024-06-21T18:03:08.690Z","updatedAt":"2024-06-21T18:03:08.690Z","id":"E3TyldIxXxWhcj76","name":"Generating Keywords using Google Autosuggest","active":false,"nodes":[{"parameters":{"fieldToSplitOut":"toplevel.CompleteSuggestion","options":{}},"id":"551a3a1f-07ad-48aa-bc9a-18f39c883929","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[969.860082304526,285.283950617284],"typeVersion":1},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Keywords"}]},"options":{}},"id":"f451dc0d-a78d-4ba6-adcf-c1180502a904","name":"Aggregate","type":"n8n-nodes-base.aggregate","position":[1289.860082304526,285.283950617284],"typeVersion":1},{"parameters":{"content":"* Generating keywords for your SEO","height":224.79012345679018,"width":1323.884773662551,"color":4},"id":"ccad69b0-7f88-490e-bfbd-50ef702f48ce","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[380,240],"typeVersion":1},{"parameters":{"url":"=https://google.com/complete/search?output=toolbar&gl=US&q={{ $json.query.q }}","options":{}},"id":"51aa0811-7f31-4476-9460-4eacad81e469","name":"Autogenerate Keywords","type":"n8n-nodes-base.httpRequest","position":[629.860082304526,285.283950617284],"typeVersion":4.1},{"parameters":{"options":{}},"id":"f3bd360c-bf72-4e5f-92ec-ca08c8e4daed","name":"Format Keywords","type":"n8n-nodes-base.xml","position":[789.860082304526,285.283950617284],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"fb95058f-0c20-4249-8a45-7b935fde1874","name":"Keywords","type":"array","value":"={{ $json.suggestion.data }}"}]},"options":{"ignoreConversionErrors":true}},"id":"17bef508-47e1-482b-8dc1-aeb1f6faca63","name":"Clean Keywords","type":"n8n-nodes-base.set","position":[1129.860082304526,285.283950617284],"typeVersion":3.3},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"81e3ced0-d3b7-4019-a6a7-5e940ad33df1","name":"return Keywords","type":"n8n-nodes-base.respondToWebhook","position":[1469.860082304526,285.283950617284],"typeVersion":1},{"parameters":{"content":"* If you are using this one, just copy the this webhook url http://localhost:5678/webhook/76a63718-b3cb-4141-bc55-efa614d13f1d?q=keyword%20research\n* All you need is to change the keyword to e your desired keyword and you will be good to go\n\n* You can use the keyword with a space and the results will be the same","width":767.7695473251028},"id":"fafc57a6-64e1-4463-bbf0-c9dccd880345","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[389.86008230452603,485.283950617284],"typeVersion":1},{"parameters":{"path":"76a63718-b3cb-4141-bc55-efa614d13f1d","responseMode":"lastNode","options":{}},"id":"9ed26e36-e05a-416e-a517-3f5d07718256","name":"Receive Keyword","type":"n8n-nodes-base.webhook","position":[420,280],"webhookId":"76a63718-b3cb-4141-bc55-efa614d13f1d","typeVersion":1.1}],"connections":{"Aggregate":{"main":[[{"node":"return Keywords","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Clean Keywords","type":"main","index":0}]]},"Clean Keywords":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Format Keywords":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Autogenerate Keywords":{"main":[[{"node":"Format Keywords","type":"main","index":0}]]},"Receive Keyword":{"main":[[{"node":"Autogenerate Keywords","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true,"templateId":"2155"},"pinData":{},"versionId":"b545a329-81f2-4c27-80ca-a44217076404","triggerCount":0,"tags":[]}