generate-leads-with-google-maps-n0uedmZcIxmLi8f4.json
{"createdAt":"2024-12-10T11:52:34.354Z","updatedAt":"2024-12-10T11:52:34.354Z","id":"n0uedmZcIxmLi8f4","name":"Generate Leads with Google Maps","active":false,"nodes":[{"parameters":{},"id":"38159aa7-9666-40e2-b44e-c2ce23fecf12","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[340,540],"typeVersion":1},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"1d215e57-ca96-4f0c-a85a-9bb8abf8a441","name":"Run workflow every hours","type":"n8n-nodes-base.scheduleTrigger","position":[340,360],"typeVersion":1.1,"disabled":true},{"parameters":{},"id":"82da49d3-3586-46f8-bbe7-442a494dcd3b","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[340,200],"typeVersion":1,"disabled":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"51e191cb-af20-423b-9303-8523caa4ae0d","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $('Exponential Backoff').item.json[\"retryCount\"] }}","rightValue":10}]},"options":{}},"id":"f5195038-8993-429f-bb6b-7af8b5b81509","name":"Check Max Retries1","type":"n8n-nodes-base.if","position":[3100,740],"typeVersion":2.2},{"parameters":{"errorMessage":"Google Sheets API Limit has been triggered and the workflow has stopped"},"id":"5e3bc665-559e-45d1-8b34-73c3d5d0f764","name":"Stop and Error1","type":"n8n-nodes-base.stopAndError","position":[3300,740],"typeVersion":1},{"parameters":{"method":"POST","url":"https://places.googleapis.com/v1/places:searchText","authentication":"predefinedCredentialType","nodeCredentialType":"googleOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Goog-FieldMask","value":"places.id,places.displayName,places.addressComponents,places.formattedAddress,places.primaryType,places.primaryTypeDisplayName,places.types,places.location,places.nationalPhoneNumber,places.rating,places.userRatingCount,places.websiteUri,places.editorialSummary,places.reviews,places.attributions,places.userRatingCount"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"textQuery","value":"={{ $('Subcategory').item.json.Subcategory }} {{ $json.zip }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"eec51c17-5596-4e27-aba8-80f4855adb45","name":"GMaps API","type":"n8n-nodes-base.httpRequest","position":[1500,680],"typeVersion":4.2},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"url","value":"={{ $('Settings').first().json.gs_url }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $('Settings').first().json.sheet }}"},"columns":{"value":{"zip":"={{ $('Set Zip').first().json.zip }}","status":"scraped","subcat":"={{ $('Subcategory').first().json.Subcategory }}"},"schema":[{"id":"zip","type":"string","display":true,"removed":false,"required":false,"displayName":"zip","defaultMatch":false,"canBeUsedToMatch":true},{"id":"status","type":"string","display":true,"removed":false,"required":false,"displayName":"status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"subcat","type":"string","display":true,"removed":false,"required":false,"displayName":"subcat","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["zip"]},"options":{}},"id":"e9f6e976-94b5-4e1e-bfab-e102b41a80c0","name":"Update Status to Success","type":"n8n-nodes-base.googleSheets","position":[2940,1160],"executeOnce":true,"typeVersion":4.2,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"cMSumOyNWxg7yr6f","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"url","value":"={{ $('Settings').item.json.gs_url }}"},"sheetName":{"__rl":true,"mode":"name","value":"=Results"},"columns":{"value":{"type":"={{ $('Subcategory').item.json.Subcategory }}","phone":"={{ $json.place.nationalPhoneNumber }}","title":"={{ $json.place.displayName.text }}","types":"={{ $json.place.types }}","rating":"={{ $json.place.rating }}","address":"={{ $json.place.formattedAddress }}","reviews":"={{ $json.place.reviews }}","website":"={{ $json.place.websiteUri }}","place_id":"={{ $json.place.id }}","gps_coordinates":"={\"latitude\":{{ $json.place.location.latitude }},\"longitude\":{{ $json.place.location.longitude }}}"},"schema":[{"id":"ACTION","type":"string","display":true,"required":false,"displayName":"ACTION","defaultMatch":false,"canBeUsedToMatch":true},{"id":"STATUS","type":"string","display":true,"required":false,"displayName":"STATUS","defaultMatch":false,"canBeUsedToMatch":true},{"id":"title","type":"string","display":true,"required":false,"displayName":"title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"email","type":"string","display":true,"required":false,"displayName":"email","defaultMatch":false,"canBeUsedToMatch":true},{"id":"name","type":"string","display":true,"required":false,"displayName":"name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"firstname","type":"string","display":true,"required":false,"displayName":"firstname","defaultMatch":false,"canBeUsedToMatch":true},{"id":"lastname","type":"string","display":true,"required":false,"displayName":"lastname","defaultMatch":false,"canBeUsedToMatch":true},{"id":"phone","type":"string","display":true,"required":false,"displayName":"phone","defaultMatch":false,"canBeUsedToMatch":true},{"id":"clean url","type":"string","display":true,"required":false,"displayName":"clean url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"website","type":"string","display":true,"required":false,"displayName":"website","defaultMatch":false,"canBeUsedToMatch":true},{"id":"WP API","type":"string","display":true,"required":false,"displayName":"WP API","defaultMatch":false,"canBeUsedToMatch":true},{"id":"WP","type":"string","display":true,"required":false,"displayName":"WP","defaultMatch":false,"canBeUsedToMatch":true},{"id":"facebook","type":"string","display":true,"required":false,"displayName":"facebook","defaultMatch":false,"canBeUsedToMatch":true},{"id":"instagram","type":"string","display":true,"required":false,"displayName":"instagram","defaultMatch":false,"canBeUsedToMatch":true},{"id":"youtube","type":"string","display":true,"required":false,"displayName":"youtube","defaultMatch":false,"canBeUsedToMatch":true},{"id":"tiktok","type":"string","display":true,"required":false,"displayName":"tiktok","defaultMatch":false,"canBeUsedToMatch":true},{"id":"twitter","type":"string","display":true,"required":false,"displayName":"twitter","defaultMatch":false,"canBeUsedToMatch":true},{"id":"linkedin","type":"string","display":true,"required":false,"displayName":"linkedin","defaultMatch":false,"canBeUsedToMatch":true},{"id":"pinterest","type":"string","display":true,"required":false,"displayName":"pinterest","defaultMatch":false,"canBeUsedToMatch":true},{"id":"reddit","type":"string","display":true,"required":false,"displayName":"reddit","defaultMatch":false,"canBeUsedToMatch":true},{"id":"rating","type":"string","display":true,"required":false,"displayName":"rating","defaultMatch":false,"canBeUsedToMatch":true},{"id":"reviews","type":"string","display":true,"required":false,"displayName":"reviews","defaultMatch":false,"canBeUsedToMatch":true},{"id":"type","type":"string","display":true,"required":false,"displayName":"type","defaultMatch":false,"canBeUsedToMatch":true},{"id":"address","type":"string","display":true,"required":false,"displayName":"address","defaultMatch":false,"canBeUsedToMatch":true},{"id":"price","type":"string","display":true,"required":false,"displayName":"price","defaultMatch":false,"canBeUsedToMatch":true},{"id":"place_id","type":"string","display":true,"removed":false,"required":false,"displayName":"place_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"position","type":"string","display":true,"required":false,"displayName":"position","defaultMatch":false,"canBeUsedToMatch":true},{"id":"data_id","type":"string","display":true,"required":false,"displayName":"data_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"data_cid","type":"string","display":true,"required":false,"displayName":"data_cid","defaultMatch":false,"canBeUsedToMatch":true},{"id":"reviews_link","type":"string","display":true,"required":false,"displayName":"reviews_link","defaultMatch":false,"canBeUsedToMatch":true},{"id":"photos_link","type":"string","display":true,"required":false,"displayName":"photos_link","defaultMatch":false,"canBeUsedToMatch":true},{"id":"gps_coordinates","type":"string","display":true,"required":false,"displayName":"gps_coordinates","defaultMatch":false,"canBeUsedToMatch":true},{"id":"place_id_search","type":"string","display":true,"required":false,"displayName":"place_id_search","defaultMatch":false,"canBeUsedToMatch":true},{"id":"provider_id","type":"string","display":true,"required":false,"displayName":"provider_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"types","type":"string","display":true,"required":false,"displayName":"types","defaultMatch":false,"canBeUsedToMatch":true},{"id":"open_state","type":"string","display":true,"required":false,"displayName":"open_state","defaultMatch":false,"canBeUsedToMatch":true},{"id":"hours","type":"string","display":true,"required":false,"displayName":"hours","defaultMatch":false,"canBeUsedToMatch":true},{"id":"operating_hours","type":"string","display":true,"required":false,"displayName":"operating_hours","defaultMatch":false,"canBeUsedToMatch":true},{"id":"description","type":"string","display":true,"required":false,"displayName":"description","defaultMatch":false,"canBeUsedToMatch":true},{"id":"service_options","type":"string","display":true,"required":false,"displayName":"service_options","defaultMatch":false,"canBeUsedToMatch":true},{"id":"order_online","type":"string","display":true,"required":false,"displayName":"order_online","defaultMatch":false,"canBeUsedToMatch":true},{"id":"thumbnail","type":"string","display":true,"required":false,"displayName":"thumbnail","defaultMatch":false,"canBeUsedToMatch":true},{"id":"editorial_reviews","type":"string","display":true,"required":false,"displayName":"editorial_reviews","defaultMatch":false,"canBeUsedToMatch":true},{"id":"unclaimed_listing","type":"string","display":true,"required":false,"displayName":"unclaimed_listing","defaultMatch":false,"canBeUsedToMatch":true},{"id":"reserve_a_table","type":"string","display":true,"required":false,"displayName":"reserve_a_table","defaultMatch":false,"canBeUsedToMatch":true},{"id":"user_review","type":"string","display":true,"required":false,"displayName":"user_review","defaultMatch":false,"canBeUsedToMatch":true},{"id":"amenities","type":"string","display":true,"required":false,"displayName":"amenities","defaultMatch":false,"canBeUsedToMatch":true},{"id":"book_online","type":"string","display":true,"required":false,"displayName":"book_online","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["place_id"]},"options":{}},"id":"66bb8aee-b3ff-4dd3-8d44-fbec708919b2","name":"Add rows in Google Sheets","type":"n8n-nodes-base.googleSheets","position":[2500,740],"typeVersion":4.2,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"cMSumOyNWxg7yr6f","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"4c5ad6be-28aa-455f-8ee2-edce1ab1bdbb","name":"row_number","type":"number","value":"={{ $json.row_number }}"}]},"includeOtherFields":true,"options":{}},"id":"42c6553b-079a-4b83-938d-2a4fe09a8b93","name":"Set Row Number","type":"n8n-nodes-base.set","position":[1500,80],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"7b1629c5-cbfe-4769-8286-66b46c51cd7e","name":"zip","type":"number","value":"={{ $('Loop Zips').first().json.zip }}"}]},"includeOtherFields":true,"options":{}},"id":"f1e060a6-f30c-4ac2-8dea-a3a5c4b4203f","name":"Set Zip","type":"n8n-nodes-base.set","position":[1300,680],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"758ff896-7cd8-4f72-bfbb-e64583c5937c","name":"places.id","type":"string","value":"={{ $json.place.id }}"}]},"includeOtherFields":true,"options":{}},"id":"ead93720-5a8e-483c-934c-2185e093b636","name":"Set Place ID","type":"n8n-nodes-base.set","position":[2100,740],"typeVersion":3.4},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Define the retry count (coming from a previous node or set manually)\nconst retryCount = $json[\"retryCount\"] || 0;  // If not present, default to 0\nconst maxRetries = 5;  // Define the maximum number of retries\nconst initialDelay = 1;  // Initial delay in seconds (1 second)\n\n// If the retry count is less than the max retries, calculate the delay\nif (retryCount < maxRetries) {\n    const currentDelayInSeconds = initialDelay * Math.pow(2, retryCount);  // Exponential backoff delay in seconds\n    \n    // Log the delay time for debugging\n    console.log(`Waiting for ${currentDelayInSeconds} seconds before retry...`);\n    \n    return {\n        json: {\n            retryCount: retryCount + 1,  // Increment retry count\n            waitTimeInSeconds: currentDelayInSeconds, // Pass the delay time in seconds\n            status: 'retrying',\n        }\n    };\n} else {\n    // If max retries are exceeded, return a failure response\n    return {\n        json: {\n            error: 'Max retries exceeded',\n            retryCount: retryCount,\n            status: 'failed'\n        }\n    };\n}\n"},"id":"7086ee81-217f-4435-ba72-3a934826b1ba","name":"Exponential Backoff","type":"n8n-nodes-base.code","position":[2700,740],"typeVersion":2},{"parameters":{"compare":"selectedFields","fieldsToCompare":"place.id,places.id","options":{}},"id":"17b7a56e-b694-472e-acdd-90940dde302c","name":"Remove Duplicates","type":"n8n-nodes-base.removeDuplicates","position":[2300,740],"typeVersion":1.1},{"parameters":{"amount":"={{ $json[\"waitTime\"] }}"},"id":"09b90618-1135-4657-9f2c-cd612f86ffd5","name":"Wait","type":"n8n-nodes-base.wait","position":[2900,740],"webhookId":"82551bf1-dc63-424c-a3c3-6cfe14bd83a8","typeVersion":1.1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"51e191cb-af20-423b-9303-8523caa4ae0d","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $('Exponential Backoff1').item.json[\"retryCount\"] }}","rightValue":10}]},"options":{}},"id":"25886faf-7a93-4450-ba29-999d04e6a942","name":"Check Max Retries","type":"n8n-nodes-base.if","position":[3540,1160],"typeVersion":2.2},{"parameters":{"errorMessage":"Google Sheets API Limit has been triggered and the workflow has stopped"},"id":"3e5e6080-4ba5-49fb-85c9-6f6f1e41de34","name":"Stop and Error","type":"n8n-nodes-base.stopAndError","position":[3740,1160],"typeVersion":1},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Define the retry count (coming from a previous node or set manually)\nconst retryCount = $json[\"retryCount\"] || 0;  // If not present, default to 0\nconst maxRetries = 5;  // Define the maximum number of retries\nconst initialDelay = 1;  // Initial delay in seconds (1 second)\n\n// If the retry count is less than the max retries, calculate the delay\nif (retryCount < maxRetries) {\n    const currentDelayInSeconds = initialDelay * Math.pow(2, retryCount);  // Exponential backoff delay in seconds\n    \n    // Log the delay time for debugging\n    console.log(`Waiting for ${currentDelayInSeconds} seconds before retry...`);\n    \n    return {\n        json: {\n            retryCount: retryCount + 1,  // Increment retry count\n            waitTimeInSeconds: currentDelayInSeconds, // Pass the delay time in seconds\n            status: 'retrying',\n        }\n    };\n} else {\n    // If max retries are exceeded, return a failure response\n    return {\n        json: {\n            error: 'Max retries exceeded',\n            retryCount: retryCount,\n            status: 'failed'\n        }\n    };\n}\n"},"id":"4854f2e1-d2de-49fd-aeb9-2143c89e3aaf","name":"Exponential Backoff1","type":"n8n-nodes-base.code","position":[3140,1160],"typeVersion":2},{"parameters":{"amount":"={{ $json[\"waitTime\"] }}"},"id":"82cc0b01-b62d-4a66-b8d3-30d9caf041b5","name":"Wait1","type":"n8n-nodes-base.wait","position":[3340,1160],"webhookId":"2c2d6305-2181-4a90-bd34-aca8f06f0afb","typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"fa469a25-eb00-4011-a626-87fae7fb8bbd","name":"gs_url","type":"string","value":"https://docs.google.com/spreadsheets/d/11bzNIQDE4GB2NWkyGv2IfEsTggSIBCKe2z39Ecp2Z4g/edit?gid=853393043#gid=853393043"},{"id":"df0a7a51-0ec6-47d2-9f73-bc8268385305","name":"catSheet","type":"string","value":"Google Maps Categories"},{"id":"a1ff9a58-9ae6-4000-9fcd-6c11de23bd48","name":"sheet","type":"string","value":"AZ Zips"}]},"options":{}},"id":"05ede5a7-876b-470e-8125-f5c3023ae24e","name":"Settings","type":"n8n-nodes-base.set","position":[620,360],"typeVersion":3.4},{"parameters":{"documentId":{"__rl":true,"mode":"url","value":"={{ $('Settings').item.json.gs_url }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $('Settings').item.json.catSheet }}"},"options":{}},"id":"75027fd2-146a-4a73-896d-1f3149cf26df","name":"GS - Get Subcategory","type":"n8n-nodes-base.googleSheets","position":[1200,340],"executeOnce":true,"typeVersion":4.2,"credentials":{"googleSheetsOAuth2Api":{"id":"cMSumOyNWxg7yr6f","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d3470f6f-c66e-4223-bbf5-81e45201d45d","name":"Subcategory","type":"string","value":"={{ $json.Subcategory }}"}]},"includeOtherFields":true,"options":{}},"id":"176808b8-21ce-466d-a121-64771ae348ad","name":"Subcategory","type":"n8n-nodes-base.set","position":[1600,340],"typeVersion":3.4},{"parameters":{"documentId":{"__rl":true,"mode":"url","value":"={{ $('Settings').item.json.gs_url }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $('Settings').item.json.sheet }}"},"options":{}},"id":"47687076-37c1-41c2-9312-16c1bbf2ffbf","name":"GS - Get Zip Codes","type":"n8n-nodes-base.googleSheets","position":[900,80],"executeOnce":true,"typeVersion":4.2,"credentials":{"googleSheetsOAuth2Api":{"id":"cMSumOyNWxg7yr6f","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Get the places array from the input data\nconst places = items[0]?.json?.body?.places || [];\n\n// Create an output array to hold each place as a separate item\nlet output = [];\n\nif (places.length > 0) {\n  for (let i = 0; i < places.length; i++) {\n    // For each place, push a new item into the output array\n    output.push({\n      json: {\n        place: places[i], // The individual place object\n        otherData: items[0].json.otherData || null  // Include other data or default to null\n      }\n    });\n  }\n} else {\n  // Log an error or handle the case where places array is empty or undefined\n  console.log('Places array is empty or undefined.');\n}\n\n// Return the output array, so each place becomes its own item\nreturn output;\n"},"id":"5b4997f2-b878-44c7-9419-8eec48f06387","name":"Place Array","type":"n8n-nodes-base.code","position":[1900,740],"typeVersion":2},{"parameters":{"options":{}},"id":"1d548a89-dbd7-459d-a115-e8f10e6f709f","name":"Loop Zips","type":"n8n-nodes-base.splitInBatches","position":[1000,280],"typeVersion":3},{"parameters":{"options":{}},"id":"005f97fb-d605-451c-8063-3473813e343a","name":"Loop Subcats","type":"n8n-nodes-base.splitInBatches","position":[1100,620],"typeVersion":3},{"parameters":{"documentId":{"__rl":true,"mode":"url","value":"={{ $('Settings').first().json.gs_url }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $('Settings').first().json.sheet }}"},"options":{}},"id":"8d768266-4e9d-4048-81eb-6d1824e701da","name":"GS - Get Status","type":"n8n-nodes-base.googleSheets","position":[2700,960],"executeOnce":true,"typeVersion":4.2,"credentials":{"googleSheetsOAuth2Api":{"id":"cMSumOyNWxg7yr6f","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"51e191cb-af20-423b-9303-8523caa4ae0d","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $('Exponential Backoff2').item.json[\"retryCount\"] }}","rightValue":10}]},"options":{}},"id":"12bc4b65-061d-42d4-a45f-ddff56bd409d","name":"Check Max Retries2","type":"n8n-nodes-base.if","position":[3300,960],"typeVersion":2.2},{"parameters":{"errorMessage":"Google Sheets API Limit has been triggered and the workflow has stopped"},"id":"d1d75c8a-dd4e-4dc7-861f-cdc1e3210adb","name":"Stop and Error2","type":"n8n-nodes-base.stopAndError","position":[3500,960],"typeVersion":1},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Define the retry count (coming from a previous node or set manually)\nconst retryCount = $json[\"retryCount\"] || 0;  // If not present, default to 0\nconst maxRetries = 5;  // Define the maximum number of retries\nconst initialDelay = 1;  // Initial delay in seconds (1 second)\n\n// If the retry count is less than the max retries, calculate the delay\nif (retryCount < maxRetries) {\n    const currentDelayInSeconds = initialDelay * Math.pow(2, retryCount);  // Exponential backoff delay in seconds\n    \n    // Log the delay time for debugging\n    console.log(`Waiting for ${currentDelayInSeconds} seconds before retry...`);\n    \n    return {\n        json: {\n            retryCount: retryCount + 1,  // Increment retry count\n            waitTimeInSeconds: currentDelayInSeconds, // Pass the delay time in seconds\n            status: 'retrying',\n        }\n    };\n} else {\n    // If max retries are exceeded, return a failure response\n    return {\n        json: {\n            error: 'Max retries exceeded',\n            retryCount: retryCount,\n            status: 'failed'\n        }\n    };\n}\n"},"id":"2fb06ac5-9c8c-4377-b4af-cc6afbb0a6d8","name":"Exponential Backoff2","type":"n8n-nodes-base.code","position":[2900,960],"typeVersion":2},{"parameters":{"amount":"={{ $json[\"waitTime\"] }}"},"id":"fa22ebb4-197d-4117-960b-333800d3883e","name":"Wait2","type":"n8n-nodes-base.wait","position":[3100,960],"webhookId":"9ca7178a-268d-40c1-9061-013f145ba393","typeVersion":1.1},{"parameters":{"maxItems":3},"id":"f2620832-57c8-4127-8595-4703e6c3cf0b","name":"Limit","type":"n8n-nodes-base.limit","position":[1920,80],"typeVersion":1},{"parameters":{"content":"# AlexK1919 \n![Alex Kim](https://media.licdn.com/dms/image/v2/D5603AQFOYMkqCPl6Sw/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1718309808352?e=1736985600&v=beta&t=pQKm7lQfUU1ytuC2Gq1PRxNY-XmROFWbo-BjzUPxWOs)\n\n#### I’m Alex Kim, an AI-Native Workflow Automation Architect Building Solutions to Optimize your Personal and Professional Life.\n\n\n### About Me\nhttps://beacons.ai/alexk1919\n\n\n### Products Used \n[Google Maps API via Google Cloud Account](https://docs.n8n.io/integrations/builtin/credentials/google/oauth-generic/?utm_source=n8n_app&utm_medium=credential_settings&utm_campaign=create_new_credentials_modal)\n","height":1390,"width":250,"color":6},"id":"a56007e5-c0c0-4f1f-9266-f7bc7c21a000","name":"Sticky Note20","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"# Settings","height":1391,"width":247,"color":3},"id":"8e442062-221a-4a12-8d44-742b3b28ba2f","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[560,0],"typeVersion":1},{"parameters":{"content":"In the Google Sheets document, set the subcategories you'd like to search for\n\nSet the URL of your Google Sheets document\n\nSet the Zip Code sheet name","height":220,"width":219,"color":7},"id":"41fe3d85-3bc4-4261-8d42-f98d6f49ef54","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","position":[560,80],"typeVersion":1},{"parameters":{"content":"# Triggers","height":1391,"width":247,"color":7},"id":"af337428-f842-46c8-b4a4-43a5dfdf5a52","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[280,0],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"3d16d922-0ed3-4a0f-9707-43797438970d","name":"zip","type":"number","value":"={{ $json.zip }}"}]},"includeOtherFields":true,"options":{}},"id":"844bba74-fd74-4160-bcba-90720bba35ed","name":"Zips","type":"n8n-nodes-base.set","position":[1100,80],"typeVersion":3.4},{"parameters":{"content":"# Google Maps API","height":880,"width":3060,"color":5},"id":"c1392f6e-c7d5-4461-9605-2f4ea4f7c1b0","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[840,520],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"9f5a5e37-faae-45db-8a22-ad7d5786ecfe","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.status }}","rightValue":""}]},"options":{}},"id":"ff85af51-1736-4d0d-9934-8d9b1bd18677","name":"Filter Zips","type":"n8n-nodes-base.filter","position":[1300,80],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"b64333b6-67ce-47c4-a2cc-07303278d178","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.STATUS }}","rightValue":"Ignore"}]},"options":{}},"id":"44745191-de93-4449-bae5-5b8f20bc668d","name":"Filter Subcategories","type":"n8n-nodes-base.filter","position":[1400,340],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"7424452f-e208-4e7e-8144-d0c6278bc0f0","operator":{"type":"object","operation":"empty","singleValue":true},"leftValue":"={{ $json.body }}","rightValue":""}]},"options":{}},"id":"5fb54732-f3c6-4bf9-8804-6b1b024cee34","name":"If Empty","type":"n8n-nodes-base.if","position":[1700,680],"typeVersion":2.2},{"parameters":{"fieldToSplitOut":"row_number","include":"allOtherFields","options":{}},"id":"1d9bd2b7-71e4-49a8-a44e-1b2b2cb89791","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[1720,80],"typeVersion":1},{"parameters":{"content":"# Data Prep","height":500,"width":3060,"color":4},"id":"ede361ea-9fc9-446d-8d60-dea79591c1d9","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[840,0],"typeVersion":1}],"connections":{"Wait":{"main":[[{"node":"Check Max Retries1","type":"main","index":0}]]},"Zips":{"main":[[{"node":"Filter Zips","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Zips","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Check Max Retries","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Check Max Retries2","type":"main","index":0}]]},"Set Zip":{"main":[[{"node":"GMaps API","type":"main","index":0}]]},"If Empty":{"main":[[{"node":"Loop Subcats","type":"main","index":0}],[{"node":"Place Array","type":"main","index":0}]]},"Settings":{"main":[[{"node":"GS - Get Zip Codes","type":"main","index":0}]]},"GMaps API":{"main":[[{"node":"If Empty","type":"main","index":0}]]},"Loop Zips":{"main":[[],[{"node":"GS - Get Subcategory","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Filter Zips":{"main":[[{"node":"Set Row Number","type":"main","index":0}]]},"Place Array":{"main":[[{"node":"Set Place ID","type":"main","index":0}]]},"Subcategory":{"main":[[{"node":"Loop Subcats","type":"main","index":0}]]},"Loop Subcats":{"main":[[{"node":"Loop Zips","type":"main","index":0}],[{"node":"Set Zip","type":"main","index":0}]]},"Set Place ID":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Set Row Number":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"GS - Get Status":{"main":[[{"node":"Update Status to Success","type":"main","index":0}],[{"node":"Exponential Backoff2","type":"main","index":0}]]},"Check Max Retries":{"main":[[{"node":"Stop and Error","type":"main","index":0}],[{"node":"Update Status to Success","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Add rows in Google Sheets","type":"main","index":0}]]},"Check Max Retries1":{"main":[[{"node":"Stop and Error1","type":"main","index":0}],[{"node":"Add rows in Google Sheets","type":"main","index":0}]]},"Check Max Retries2":{"main":[[{"node":"Stop and Error2","type":"main","index":0}]]},"GS - Get Zip Codes":{"main":[[{"node":"Zips","type":"main","index":0}]]},"Exponential Backoff":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Exponential Backoff1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Exponential Backoff2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Filter Subcategories":{"main":[[{"node":"Subcategory","type":"main","index":0}]]},"GS - Get Subcategory":{"main":[[{"node":"Filter Subcategories","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Settings","type":"main","index":0}]]},"Run workflow every hours":{"main":[[{"node":"Settings","type":"main","index":0}]]},"Update Status to Success":{"main":[[{"node":"Loop Subcats","type":"main","index":0}],[{"node":"Exponential Backoff1","type":"main","index":0}]]},"Add rows in Google Sheets":{"main":[[{"node":"GS - Get Status","type":"main","index":0}],[{"node":"Exponential Backoff","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Settings","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b7552495-f083-4468-a466-74826b542cb7","triggerCount":0,"tags":[]}