github-profile-analyzer-mMb1CBRAiJCud1Ni.json
{"createdAt":"2024-12-27T16:27:53.746Z","updatedAt":"2024-12-27T16:27:53.746Z","id":"mMb1CBRAiJCud1Ni","name":"GitHub Profile Analyzer","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"48a95ad1-7907-4a81-a219-7dd08bbce13b","name":"repo.repo_name","value":"={{ $json.name }}","type":"string"},{"id":"4195c5ad-0a85-4fa6-a1b9-d3511532b0d7","name":"repo.repo_description","value":"={{ $json.description }}","type":"string"},{"id":"10ada30e-6a82-4d0d-a919-55cdea19e6e1","name":"repo.stargazers_count","value":"={{ $json.stargazers_count }}","type":"string"},{"id":"6244a44a-e2a1-4e10-9dfa-b719dcbd7670","name":"repo.forks_count","value":"={{ $json.forks_count }}","type":"string"},{"id":"8a2e38bd-bb0b-461e-bd43-8522727c531d","name":"repo.repoLicense","value":"={{ $json.license.name }}","type":"string"},{"id":"56970078-6fd9-4f25-a494-f2dedd0615dd","name":"repo.repo_topics","value":"={{ $json.topics.join(\", \") }}","type":"string"},{"id":"e38ebbd6-7df5-43a0-bfda-ade1760ead6a","name":"repo.repo_open_issues","value":"={{ $json.open_issues }}","type":"string"}]},"options":{}},"id":"b4b98d70-0c90-4f4b-a050-d9d3e97b6ee4","name":"Strip down repo item","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[931,800]},{"parameters":{"url":"=https://api.github.com/users/{{ $json.query.profileHandle }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"id":"5cec5397-a780-434a-b53b-56ef8ed666c8","name":"Get user profile details","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[731,560]},{"parameters":{"assignments":{"assignments":[{"id":"a5ee0d7c-0301-4e37-831b-2506b044b2e0","name":"profile_username","value":"={{ $json.login }}","type":"string"},{"id":"2baa769e-05a0-4c0b-975f-2642ef6b6956","name":"profile_avatar_url","value":"={{ $json.avatar_url }}","type":"string"},{"id":"d1602bac-49e9-456f-b484-1033187a2d09","name":"profile_name","value":"={{ $json.name }}","type":"string"},{"id":"49c3c508-e293-485c-8d7d-83630e3585a8","name":"profile_location","value":"={{ $json.location }}","type":"string"},{"id":"2cfc44af-26ad-43e6-8fd9-04e20a0aed22","name":"profile_follower_count","value":"={{ $json.followers }}","type":"string"},{"id":"16168b0a-5f27-404f-949c-c1507708e2c7","name":"profile_bio","value":"={{ $json.bio }}","type":"string"},{"id":"be3ce571-5b31-432a-a233-f13c16cb19a3","name":"profile_create_date","value":"={{ $json.created_at }}","type":"string"},{"id":"0163790f-fb03-426e-8ac9-6544dedca577","name":"profile_company","value":"={{ $json.company }}","type":"string"},{"id":"225df875-2e9b-497f-a94f-aeda7e9011e0","name":"profileIsHireableSetting","value":"={{ $json.hireable }}","type":"boolean"}]},"options":{}},"id":"bcada16c-ed4a-4e35-bbea-f286bec1e13a","name":"Strip down profile details","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[931,560]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"repo","renameField":true,"outputFieldName":"repos"}]},"options":{}},"id":"c95e01ca-cbf2-463f-a227-0f3f19da2e43","name":"Aggregate into 1x n8n item","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1131,800]},{"parameters":{"options":{"temperature":0.8}},"id":"7b85e6f1-32c6-439d-bddf-e99b55033320","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[1534,840]},{"parameters":{"jsonSchemaExample":"{\n\t\"topics\": [\"Automation\", \"AI\", \"Microservices\"],\n    \"projectsILikeToFollow\" : \"Likes to follow open-source projects focused on AI devops\",\n    \"userRoast\": \"This GitHub profile feels like a time capsule from someone who's determined to revive the most obsolete corners of web development. From XML websites to multiple PHP templating engines, it's like they’re on a mission to prove that if something is outdated and unnecessary, they’ll follow it. It’s almost impressive how they managed to avoid any trendy or useful tech, instead doubling down on relics that even their one stargazer probably regrets clicking on. At this rate, their next project might be resurrecting Flash—because why not keep the legacy alive?\"\n}"},"id":"56326a71-70fd-4d0a-98f1-4090525edab4","name":"Structured Output Parser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1794,860]},{"parameters":{"url":"=https://api.github.com/users/{{ $json.query.profileHandle }}/starred?per_page=50&sort=created&direction=desc","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"id":"acbf5a9f-bee4-4a98-9b53-6212da6dd3d9","name":"Get recent starred repos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[731,800],"credentials":{"githubOAuth2Api":{"id":"wLbphhAPv1NZhssA","name":"GitHub account"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"topics\": {{ $json.output.topics.toJsonString() }},\n  \"projectsSummary\": \"{{ $json.output.projectsILikeToFollow }}\",\n  \"profileRoast\": \"{{ $json.output.userRoast }}\",\n  \"profileDetails\": {\n    \"username\": \"{{ $('Get user profile details').first().json.login }}\",\n    \"avatarURL\": \"{{ $('Get user profile details').first().json.avatar_url }}\",\n    \"profileURL\": \"{{ $('Get user profile details').first().json.html_url }}\",\n    \"Location\": \"{{ $('Get user profile details').first().json.location }}\",\n    \"CreatedAt\": \"{{ $('Get user profile details').first().json.created_at }}\",\n    \"FollowerCount\": \"{{ $('Get user profile details').first().json.followers }}\",\n    \"publicRepos\": \"{{ $('Get user profile details').first().json.public_repos }}\"\n  }\n\n} ","options":{}},"id":"22696074-6f7b-44bc-8321-520301b18de3","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2015,660]},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"b4b6daf2-ee13-4ead-be07-1d073610bda4","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1311,660]},{"parameters":{"content":"## Fetch + transform GitHub info based on username","height":558.7396926933058,"width":771.2342992417922,"color":7},"id":"e0170aa3-e71a-49c5-ae77-348ed3b9edf6","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[666.2793652392645,460]},{"parameters":{"content":"## Get request from WeWeb","height":558.7396926933058,"width":178.7761889171699,"color":7},"id":"0d69aeb5-ee8a-4a4c-987e-38bd23bad19b","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]},{"parameters":{"content":"## Extract insights with LLM, force output structure","height":558.7396926933058,"width":473.9063551626084,"color":7},"id":"bf264acf-d90e-4189-b95f-1f45ca8804d2","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1463.7676191435587,460]},{"parameters":{"content":"## Respond to WeWeb request ","height":558.7396926933058,"width":243.13968261963257,"color":7},"id":"b5b1888a-2507-4481-9fd5-da91e512f1b2","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1961.255873047853,460]},{"parameters":{"path":"gh-profile-analysis-results","responseMode":"responseNode","options":{}},"id":"84b07f5b-13f8-4b45-adf3-e0f366d66e4c","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[520,660],"webhookId":"196e3226-f7a5-409f-a112-28d0af9680f0"},{"parameters":{"promptType":"define","text":"=# Return the following insights:\n- Development topics that I am interested in\n- Types of projects I like to follow\n- A comical Roast of me as a developer based on the repos that I follow\n\n# Your insights should be informed by the following input data \n\n## Info from my GitHub profile\n- My name is (ignore if blank): {{ $json.profile_name }} (username is: {{ $json.profile_username }})\n- I have {{ $json.profile_follower_count }} followers on my GitHub\n- GitHub profile bio(ignore if blank): {{ $json.profile_bio }}\n- My geographic location (ignore if blank):{{  $json.profile_location }}\n- My company I work for (ignore if blank): {{ $json.profile_company }}\n- My GitHub profile was created on {{ $json.profile_create_date }}\n- \"is_hireable\" bool on my profile is set to {{ $json.profileIsHireableSetting }}\n\n## GitHub repos that I follow below (in JSON format):\n{{ $json.repos.toJsonString() }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are a funny, expert summarizer, and have a background in software engineering. You are charismatic and affable. You understand things like hackernews and reddit humour. Ensure that projectsILikeToFollow output is more than 300 characters and provides some compelling observations about the user"}]}},"id":"63597074-6d83-4a1e-afef-a24fd726b339","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[1554,660]}],"connections":{"Get user profile details":{"main":[[{"node":"Strip down profile details","type":"main","index":0}]]},"Strip down repo item":{"main":[[{"node":"Aggregate into 1x n8n item","type":"main","index":0}]]},"Aggregate into 1x n8n item":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Get recent starred repos":{"main":[[{"node":"Strip down repo item","type":"main","index":0}]]},"Strip down profile details":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get recent starred repos","type":"main","index":0},{"node":"Get user profile details","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"fd3d632f-b4a2-48b1-a03b-51304671239a","triggerCount":0,"tags":[]}