hacker-news-to-video-content-JwzZOeK7rnsMxTys.json
{"createdAt":"2024-12-27T16:27:56.076Z","updatedAt":"2024-12-27T16:27:56.076Z","id":"JwzZOeK7rnsMxTys","name":"Hacker News to Video Content","active":false,"nodes":[{"parameters":{},"id":"c7ccdc8c-1b38-49e1-a8a5-e0f2d778662d","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[300,340],"typeVersion":1},{"parameters":{"resource":"all","additionalFields":{}},"id":"27e7bc36-7874-4bb9-98db-d8e9a78eddfc","name":"Hacker News","type":"n8n-nodes-base.hackerNews","position":[600,340],"typeVersion":1},{"parameters":{"options":{}},"id":"4ff7747c-a03d-496d-a869-cf5868a9b15c","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1060,340],"typeVersion":3},{"parameters":{"options":{}},"id":"bd8f2ae2-99d3-41df-bd32-e71f4e61c513","name":"OpenAI Chat Model3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1340,620],"typeVersion":1,"credentials":{"openAiApi":{"id":"BBFkvbO7LeC1Lhxg","name":"OpenAi account"}}},{"parameters":{"toolDescription":"grab the article for the ai agent to use","url":"={{ $json.url }}"},"id":"c22add32-6cb6-49d5-8cb3-eb3fa9fc1a9c","name":"HTTP Request1","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[1520,620],"typeVersion":1.1},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"summary\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"related\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n        \"image urls\": {\n\t\t\t\"type\": \"string\"\n        }\n\t}\n}"},"id":"22b02c26-c4b8-4d9b-85ef-22e822c655e9","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[1700,620],"typeVersion":1.2},{"parameters":{"operation":"upload","bucketName":"=","additionalFields":{"grantRead":true,"parentFolderKey":"="}},"id":"9683cb22-e7c0-4f2a-93f2-ac9429782d32","name":"Upload to Minio","type":"n8n-nodes-base.s3","position":[4860,1120],"typeVersion":1,"credentials":{"s3":{"id":"UcwhHcFITdAyhm91","name":"S3 account"}}},{"parameters":{"assignments":{"assignments":[{"id":"ec8013d5-84b5-43c8-abcb-6986ef15939d","name":"property_name","type":"string","value":"={{ $json.message.content['Article Title'] }}"},{"id":"4d91c4fc-12a2-4fe2-a58e-02284314e1de","name":"property_text","type":"string","value":"={{ $json.message.content['Article Blurb'] }}"},{"id":"cad2b795-8b71-415f-a100-700d9ec62bbd","name":"property_image_url","type":"string","value":"={{ $('If Topic').item.json.output['image urls'] }}"}]},"options":{}},"id":"2457ba59-b7f5-48a6-b618-5877228a9bfb","name":"News1","type":"n8n-nodes-base.set","position":[2800,360],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://cloud.leonardo.ai/api/rest/v1/prompt/improve","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ $('Article Prep').item.json.message.content['Image Prompt 1'] }}\"\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"1e080413-42aa-4135-a9df-1710e1459925","name":"Leo - Improve Prompt","type":"n8n-nodes-base.httpRequest","position":[3340,140],"typeVersion":4.2},{"parameters":{"url":"=https://cloud.leonardo.ai/api/rest/v1/generations/{{ $json.body.sdGenerationJob.generationId }}","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"7ba1ccdb-54f5-4e08-b786-5cf83b953225","name":"Leo - Get imageId","type":"n8n-nodes-base.httpRequest","position":[3940,140],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://api.dev.runwayml.com/v1/image_to_video","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Runway-Version","value":"2024-11-06"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"promptImage","value":"={{ $json.body.generations_by_pk.generated_images[0].url }}"},{"name":"promptText","value":"string"},{"name":"model","value":"gen3a_turbo"}]},"options":{}},"id":"877dbf11-d16c-4e02-824b-86280ade4fa4","name":"Runway - Create Video","type":"n8n-nodes-base.httpRequest","position":[3140,340],"typeVersion":4.2},{"parameters":{"url":"=https://api.dev.runwayml.com/v1/tasks/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Runway-Version","value":"2024-11-06"}]},"options":{}},"id":"8571209c-8da1-45b3-9fbd-7da3292a5255","name":"Runway - Get Video","type":"n8n-nodes-base.httpRequest","position":[3540,340],"typeVersion":4.2},{"parameters":{"amount":3,"unit":"minutes"},"id":"d95679a0-7e59-44fb-968c-3e25d5b511a3","name":"Wait2","type":"n8n-nodes-base.wait","position":[3340,340],"webhookId":"1d474ce2-af7c-4ec9-9197-161e95725e90","typeVersion":1.1},{"parameters":{"content":"# Choose your data source \n## This can be swapped for any other data source of your choosing.","height":951,"width":341,"color":5},"id":"0da43c3f-2b1c-45fa-aacd-20efaf03b07f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[460,0],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"56219de5-244d-4b7f-a511-f3061572cf93","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.output.related }}","rightValue":"yes"}]},"options":{}},"id":"d9d8e064-f3f1-4ffd-b4ed-a77e65df58dd","name":"If Topic","type":"n8n-nodes-base.if","position":[1720,360],"typeVersion":2.2},{"parameters":{"url":"={{ $('Article Analysis').first().json.output['image urls'] }}","options":{"response":{"response":{"fullResponse":true}}}},"id":"b4107c77-404c-4e5a-89a4-4904f7e71eb3","name":"Get Image","type":"n8n-nodes-base.httpRequest","position":[2120,360],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"56c8f20d-d9d9-4be7-ac2a-38df6ffdd722","name":"model","type":"string","value":"6b645e3a-d64f-4341-a6d8-7a3690fbf042"}]},"includeOtherFields":true,"options":{}},"id":"07ee81f7-ae9d-4697-801e-a0115207581e","name":"Prompt Settings1","type":"n8n-nodes-base.set","position":[3140,140],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://cloud.leonardo.ai/api/rest/v1/generations","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"alchemy\": true,\n  \"width\": 1024,\n  \"height\": 768,\n  \"modelId\": \"6b645e3a-d64f-4341-a6d8-7a3690fbf042\",\n  \"num_images\": 1,\n  \"presetStyle\": \"MONOCHROME\",\n  \"prompt\": \"{{ $json.body.promptGeneration.prompt }}; Use the rule of thirds, leading lines, & balance. DO NOT INCLUDE ANY WORDS OR LABELS.\",\n  \"guidance_scale\": 7,\n  \"highResolution\": true,\n  \"promptMagic\": false,\n  \"promptMagicStrength\": 0.5,\n  \"promptMagicVersion\": \"v3\",\n  \"public\": false,\n  \"ultra\": false,\n  \"photoReal\": false,\n  \"negative_prompt\": \"\"\n} ","options":{"response":{"response":{"fullResponse":true}}}},"id":"8f5b85a1-3e9e-441f-b3b5-1d0e03afa063","name":"Leo - Generate Image","type":"n8n-nodes-base.httpRequest","position":[3540,140],"typeVersion":4.2},{"parameters":{"amount":30},"id":"2a95094a-9955-4f79-9acc-19d9cfed06b6","name":"Wait1","type":"n8n-nodes-base.wait","position":[3740,140],"webhookId":"1ee8dafa-9865-48a2-9de4-c14ad025ff9d","typeVersion":1.1},{"parameters":{"maxItems":50,"keep":"lastItems"},"id":"e54e3e5a-37de-4b3e-9bf5-a1b873a811e0","name":"Limit","type":"n8n-nodes-base.limit","position":[860,340],"typeVersion":1},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"imageUrls":"={{ $json.output['image urls'] }}","options":{"detail":"auto"}},"id":"7134ca52-8d6f-41d6-b82d-a681993542dc","name":"Image Analysis","type":"@n8n/n8n-nodes-langchain.openAi","position":[1920,360],"typeVersion":1.6,"credentials":{"openAiApi":{"id":"BBFkvbO7LeC1Lhxg","name":"OpenAi account"}}},{"parameters":{"unit":"minutes"},"id":"e187aace-d442-49eb-ab3e-10c82514a8c7","name":"Wait3","type":"n8n-nodes-base.wait","position":[3700,1060],"webhookId":"5ac51402-76ed-4688-907e-317e606370bd","typeVersion":1.1,"disabled":true},{"parameters":{"promptType":"define","text":"=Can you tell me if the article at {{ $json.url }} is related to automation or ai? \n\nthen, create a 250 word summary of the article\n\nAlso, list any image url's related to the article content from the url. Limit to 1 image url.","hasOutputParser":true,"options":{"systemMessage":"You are a helpful assistant in summarizing and identifying articles related to automation and ai. \nOutput the results as:\nsummary: \nrelated: yes or no\nimage urls: "}},"id":"56c5f4e6-47e6-47f1-ba51-a6e5db6540e6","name":"Article Analysis","type":"@n8n/n8n-nodes-langchain.agent","position":[1360,340],"typeVersion":1.7,"onError":"continueErrorOutput"},{"parameters":{},"id":"63c932db-d356-4e89-a33d-e2f6b9a3db11","name":"Dropbox","type":"n8n-nodes-base.dropbox","position":[4260,1120],"typeVersion":1},{"parameters":{"operation":"update","fileId":{"__rl":true,"mode":"list","value":""},"options":{}},"id":"be44b5c4-86b7-4571-bcd1-84eb7d877217","name":"Google Drive","type":"n8n-nodes-base.googleDrive","position":[4460,1120],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"JLsAxtNoEgJ26vFb","name":"Google Drive account"}}},{"parameters":{},"id":"c2bd0842-bb77-42f3-99ae-ddfad2fc7ad9","name":"Microsoft OneDrive","type":"n8n-nodes-base.microsoftOneDrive","position":[4660,1120],"typeVersion":1},{"parameters":{"resource":"video","operation":"upload","options":{}},"id":"cb7c9d1d-3600-48a7-b383-b5b281a99b23","name":"YouTube","type":"n8n-nodes-base.youTube","position":[4260,1540],"typeVersion":1,"credentials":{"youTubeOAuth2Api":{"id":"sHltwoHi3aXPw9AJ","name":"YouTube account"}}},{"parameters":{"additionalFields":{}},"id":"5708f037-6517-4fd6-88e7-44f92813f3d9","name":"X","type":"n8n-nodes-base.twitter","position":[4460,1540],"typeVersion":2},{"parameters":{"options":{}},"id":"25f846ae-5f82-4a10-95c1-722cfb6de5a0","name":"Instagram","type":"n8n-nodes-base.httpRequest","position":[4860,1540],"typeVersion":4.2},{"parameters":{"additionalFields":{}},"id":"84ab000b-a04a-4220-a3d8-3fac67602358","name":"LinkedIn","type":"n8n-nodes-base.linkedIn","position":[4660,1540],"typeVersion":1,"credentials":{"linkedInOAuth2Api":{"id":"Nl2HV2Mz0nihpuHJ","name":"LinkedIn account"}}},{"parameters":{"method":"POST","url":"https://cloud.leonardo.ai/api/rest/v1/prompt/improve","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ $('Article Prep').item.json.message.content['Image Prompt 2'] }}\"\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"2f757f00-68b9-4923-97e2-cfe7c3e50cf5","name":"Leo - Improve Prompt2","type":"n8n-nodes-base.httpRequest","position":[3340,540],"typeVersion":4.2},{"parameters":{"amount":3,"unit":"minutes"},"id":"5ad08414-924a-4eb9-9870-9fd8353ffb98","name":"Wait4","type":"n8n-nodes-base.wait","position":[3340,740],"webhookId":"e4a16d9b-bc18-425c-971a-0afa10ff2b3b","typeVersion":1.1},{"parameters":{"amount":30},"id":"de14d05f-9daa-4441-85f4-8939b2c989e8","name":"Wait6","type":"n8n-nodes-base.wait","position":[3740,540],"webhookId":"0e6f5560-81a6-4dd8-b4f3-d769331ba55b","typeVersion":1.1},{"parameters":{"method":"POST","url":"https://cloud.leonardo.ai/api/rest/v1/generations","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"alchemy\": true,\n  \"width\": 1024,\n  \"height\": 768,\n  \"modelId\": \"6b645e3a-d64f-4341-a6d8-7a3690fbf042\",\n  \"num_images\": 1,\n  \"presetStyle\": \"MONOCHROME\",\n  \"prompt\": \"{{ $json.body.promptGeneration.prompt }}; Use the rule of thirds, leading lines, & balance. DO NOT INCLUDE ANY WORDS OR LABELS.\",\n  \"guidance_scale\": 7,\n  \"highResolution\": true,\n  \"promptMagic\": false,\n  \"promptMagicStrength\": 0.5,\n  \"promptMagicVersion\": \"v3\",\n  \"public\": false,\n  \"ultra\": false,\n  \"photoReal\": false,\n  \"negative_prompt\": \"\"\n} ","options":{"response":{"response":{"fullResponse":true}}}},"id":"d672f41a-aec3-4899-bc54-142e17944b99","name":"Leo - Generate Image2","type":"n8n-nodes-base.httpRequest","position":[3540,540],"typeVersion":4.2},{"parameters":{"url":"=https://cloud.leonardo.ai/api/rest/v1/generations/{{ $json.body.sdGenerationJob.generationId }}","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"493062b5-d1ba-4b6d-b947-36db05f0e714","name":"Leo - Get imageId2","type":"n8n-nodes-base.httpRequest","position":[3940,540],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://api.dev.runwayml.com/v1/image_to_video","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Runway-Version","value":"2024-11-06"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"promptImage","value":"={{ $json.body.generations_by_pk.generated_images[0].url }}"},{"name":"promptText","value":"string"},{"name":"model","value":"gen3a_turbo"}]},"options":{}},"id":"24bb0c1f-22a3-4e9a-9d6c-a0c424f7c5f7","name":"Runway - Create Video2","type":"n8n-nodes-base.httpRequest","position":[3140,740],"typeVersion":4.2},{"parameters":{"url":"=https://api.dev.runwayml.com/v1/tasks/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Runway-Version","value":"2024-11-06"}]},"options":{}},"id":"b1baa4d8-ac32-43e1-9836-9d0a97337bd7","name":"Runway - Get Video2","type":"n8n-nodes-base.httpRequest","position":[3540,740],"typeVersion":4.2},{"parameters":{"content":"# Upload Assets\nYou can extend this workflow further by uploading the generated assets to your storage option of choice.","height":372,"width":882,"color":6},"id":"80c63942-f4b6-46a6-af23-6cfe1daeff1e","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[4200,980],"typeVersion":1},{"parameters":{"content":"# Post to Social Media\nYou can extend this workflow further by posting the generated assets to social media.","height":372,"width":882,"color":6},"id":"484bec57-4103-47bd-b79d-26a84c17bb95","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[4200,1400],"typeVersion":1},{"parameters":{"content":"# Generate Images and Videos","height":943,"width":1114,"color":4},"id":"df101a0d-1e75-4787-8a49-f0773aca9104","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[3040,0],"typeVersion":1},{"parameters":{"content":"# Stitch it all together","height":372,"width":1114,"color":5},"id":"b5173bc4-0b0f-4636-893a-ad5be58320bd","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[3040,980],"typeVersion":1},{"parameters":{"method":"POST","url":"https://api.creatomate.com/v1/renders","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"max_width\": 480,\n  \"template_id\": \"enterTemplateID\",\n  \"modifications\": {\n    \"Scenes.elements\": [\n      {\n        \"name\": \"Intro Comp\",\n        \"type\": \"composition\",\n        \"track\": 1,\n        \"elements\": [\n          {\n            \"name\": \"Image-1\",\n            \"type\": \"image\",\n            \"source\": \"{{ $('Leo - Get imageId').item.json.body.generations_by_pk.generated_images[0].url }}\"\n          },\n          {\n            \"name\": \"Subtitles-1\",\n            \"type\": \"text\",\n            \"transcript_source\": \"Voiceover-1\",\n            \"width\": \"86.66%\",\n            \"height\": \"37.71%\",\n            \"x_alignment\": \"50%\",\n            \"y_alignment\": \"50%\",\n            \"fill_color\": \"#ffffff\",\n            \"stroke_color\": \"#333333\",\n            \"stroke_width\": \"1.05 vmin\",\n            \"font_family\": \"Inter\",\n            \"font_weight\": \"700\",\n            \"font_size\": \"8 vmin\",\n            \"background_color\": \"rgba(255,255,255,0.2)\",\n            \"background_x_padding\": \"26%\",\n            \"background_y_padding\": \"7%\",\n            \"background_border_radius\": \"28%\",\n            \"transcript_effect\": \"highlight\",\n            \"transcript_color\": \"#ff5900\"\n          },\n          {\n            \"name\": \"Voiceover-1\",\n            \"type\": \"audio\",\n            \"source\": \"{{ $('News1').item.json.property_name }}\",\n            \"provider\": \"openai model=tts-1 voice=onyx\"\n          }\n        ]\n      },\n      {\n        \"name\": \"Auto Scene Comp\",\n        \"type\": \"composition\",\n        \"track\": 1,\n        \"elements\": [\n          {\n            \"name\": \"Video-2\",\n            \"type\": \"video\",\n            \"source\": \"{{ $('Runway - Get Video').first().json.output[0] }}\",\n            \"loop\": true\n          },\n          {\n            \"name\": \"Subtitles-2\",\n            \"type\": \"text\",\n            \"transcript_source\": \"Voiceover-2\",\n            \"y\": \"78.2173%\",\n            \"width\": \"86.66%\",\n            \"height\": \"37.71%\",\n            \"x_alignment\": \"50%\",\n            \"y_alignment\": \"50%\",\n            \"fill_color\": \"#ffffff\",\n            \"stroke_color\": \"#333333\",\n            \"stroke_width\": \"1.05 vmin\",\n            \"font_family\": \"Inter\",\n            \"font_weight\": \"700\",\n            \"font_size\": \"8 vmin\",\n            \"background_color\": \"rgba(255,255,255,0.2)\",\n            \"background_x_padding\": \"26%\",\n            \"background_y_padding\": \"7%\",\n            \"background_border_radius\": \"28%\",\n            \"transcript_effect\": \"highlight\",\n            \"transcript_color\": \"#ff5900\"\n          },\n          {\n            \"name\": \"Voiceover-2\",\n            \"type\": \"audio\",\n            \"source\": \"{{ $('Article Prep').item.json.message.content['Summary Blurb 1'] }}\",\n            \"provider\": \"openai model=tts-1 voice=onyx\"\n          }\n        ]\n      },\n      {\n        \"name\": \"Auto Scene Comp\",\n        \"type\": \"composition\",\n        \"track\": 1,\n        \"elements\": [\n          {\n            \"name\": \"Video-3\",\n            \"type\": \"video\",\n            \"source\": \"{{ $('Runway - Get Video2').first().json.output[0] }}\",\n            \"loop\": true\n          },\n          {\n            \"name\": \"Subtitles-3\",\n            \"type\": \"text\",\n            \"transcript_source\": \"Voiceover-3\",\n            \"y\": \"78.2173%\",\n            \"width\": \"86.66%\",\n            \"height\": \"37.71%\",\n            \"x_alignment\": \"50%\",\n            \"y_alignment\": \"50%\",\n            \"fill_color\": \"#ffffff\",\n            \"stroke_color\": \"#333333\",\n            \"stroke_width\": \"1.05 vmin\",\n            \"font_family\": \"Inter\",\n            \"font_weight\": \"700\",\n            \"font_size\": \"8 vmin\",\n            \"background_color\": \"rgba(255,89,0,0.5)\",\n            \"background_x_padding\": \"26%\",\n            \"background_y_padding\": \"7%\",\n            \"background_border_radius\": \"28%\",\n            \"transcript_effect\": \"highlight\",\n            \"transcript_color\": \"#ff0040\"\n          },\n          {\n            \"name\": \"Voiceover-3\",\n            \"type\": \"audio\",\n            \"source\": \"{{ $('Article Prep').item.json.message.content['Summary Blurb 2'] }}\",\n            \"provider\": \"openai model=tts-1 voice=onyx\"\n          }\n        ]\n      }\n    ]\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"bc1ac09c-312d-4657-b8e5-f89c87fa4a55","name":"Cre - Generate Video1","type":"n8n-nodes-base.httpRequest","position":[3500,1060],"typeVersion":4.2},{"parameters":{"url":"=https://api.creatomate.com/v1/renders/{{ $json.body.body[0].id }}","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"e1c6939b-462d-4a6b-a8b9-d2a255823d60","name":"Cre - Get Video","type":"n8n-nodes-base.httpRequest","position":[3900,1060],"typeVersion":4.2},{"parameters":{"content":"# Article Analysis - Is it the right topic?","height":951,"width":1033,"color":3},"id":"786a4b68-3e51-4f2a-8c80-8aa3d09187f6","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1280,0],"typeVersion":1},{"parameters":{"content":"# Prepare the article for content generation","height":947,"width":630,"color":3},"id":"2b5f18a9-d60d-4293-9ac7-3cb819344af1","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[2360,0],"typeVersion":1},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=prepare the following summary for a newsletter where the article will be 1 of several presented in the newsletter:\n\n{{ $('Article Analysis').first().json.output.summary }}\n\nMake sure the Article Blurb lenght is less than 15 words.\n\nThen, create 2 Summary Blurbs, making sure each is less than 15 words.\n\nAlso create 2 image prompts that is less than 15 words long for each Summary Blurb"},{"content":"Output in markdown format\nArticle Title\nArticle Blurb\nSummary Blurb 1\nSummary Blurb 2\nArticle Image\nImage Prompt 1\nImage Prompt 2","role":"system"}]},"jsonOutput":true,"options":{}},"id":"625320b3-2d25-4cba-a5f8-b81623f06334","name":"Article Prep","type":"@n8n/n8n-nodes-langchain.openAi","position":[2440,360],"typeVersion":1.6,"credentials":{"openAiApi":{"id":"BBFkvbO7LeC1Lhxg","name":"OpenAi account"}}},{"parameters":{"content":"# AlexK1919 \n![Alex Kim](https://media.licdn.com/dms/image/v2/D5603AQFOYMkqCPl6Sw/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1718309808352?e=1736985600&v=beta&t=pQKm7lQfUU1ytuC2Gq1PRxNY-XmROFWbo-BjzUPxWOs)\n\n#### I’m Alex Kim, an AI-Native Workflow Automation Architect Building Solutions to Optimize your Personal and Professional Life.\n\n### Workflow Overview Video\nhttps://youtu.be/XaKybLDUlLk\n\n### About Me\nhttps://beacons.ai/alexk1919\n\n### Product Used \n[Leonardo.ai](https://leonardo.ai)\n[RunwayML](https://runwayml.com/)\n[Creatomate](https://creatomate.com/)\n","height":946,"width":252,"color":6},"id":"2aba05eb-3d32-4785-9fdc-fd16ba794509","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"Don't forget to connect this last node to the loop to process additional items","height":100,"width":180,"color":7},"id":"e881cdb5-2da9-4b7c-87c1-8196bb6ef19e","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[3900,1220],"typeVersion":1}],"connections":{"X":{"main":[[{"node":"LinkedIn","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"News1":{"main":[[{"node":"Prompt Settings1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Leo - Get imageId","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Runway - Get Video","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Cre - Get Video","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Runway - Get Video2","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"Leo - Get imageId2","type":"main","index":0}]]},"Dropbox":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"YouTube":{"main":[[{"node":"X","type":"main","index":0}]]},"If Topic":{"main":[[{"node":"Image Analysis","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"LinkedIn":{"main":[[{"node":"Instagram","type":"main","index":0}]]},"Get Image":{"main":[[{"node":"Article Prep","type":"main","index":0}]]},"Hacker News":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Article Prep":{"main":[[{"node":"News1","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Microsoft OneDrive","type":"main","index":0}]]},"HTTP Request1":{"ai_tool":[[{"node":"Article Analysis","type":"ai_tool","index":0}]]},"Image Analysis":{"main":[[{"node":"Get Image","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Article Analysis","type":"main","index":0}]]},"Article Analysis":{"main":[[{"node":"If Topic","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Prompt Settings1":{"main":[[{"node":"Leo - Improve Prompt","type":"main","index":0}]]},"Leo - Get imageId":{"main":[[{"node":"Runway - Create Video","type":"main","index":0}]]},"Leo - Get imageId2":{"main":[[{"node":"Runway - Create Video2","type":"main","index":0}]]},"Microsoft OneDrive":{"main":[[{"node":"Upload to Minio","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Article Analysis","type":"ai_languageModel","index":0}]]},"Runway - Get Video":{"main":[[{"node":"Leo - Improve Prompt2","type":"main","index":0}]]},"Runway - Get Video2":{"main":[[{"node":"Cre - Generate Video1","type":"main","index":0}]]},"Leo - Generate Image":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Leo - Improve Prompt":{"main":[[{"node":"Leo - Generate Image","type":"main","index":0}]]},"Cre - Generate Video1":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Leo - Generate Image2":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"Leo - Improve Prompt2":{"main":[[{"node":"Leo - Generate Image2","type":"main","index":0}]]},"Runway - Create Video":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Runway - Create Video2":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Article Analysis","type":"ai_outputParser","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Hacker News","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"fd8f4379-277a-4cd9-857a-60afdd69b2e1","triggerCount":0,"tags":[]}