instagram-&-youtube-and-tiktok-xYYvtcyDoUcwjMn3.json
{"createdAt":"2024-12-27T16:27:53.756Z","updatedAt":"2024-12-27T16:58:21.085Z","id":"xYYvtcyDoUcwjMn3","name":"instagram & youtube and tiktok","active":false,"nodes":[{"parameters":{},"id":"375dd19f-c374-44fb-b198-42218cb992b5","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[180,600]},{"parameters":{"resource":"video","operation":"upload","title":"={{ $('Run Trim').item.json.truncatedCaption }}","regionCode":"US","categoryId":"27","binaryProperty":"=data","options":{}},"id":"4d6e463e-947a-453b-8427-ece12e6441d7","name":"YouTube","type":"n8n-nodes-base.youTube","typeVersion":1,"position":[1160,460],"credentials":{"youTubeOAuth2Api":{"id":"sHltwoHi3aXPw9AJ","name":"YouTube account"}}},{"parameters":{"url":"https://tiktok-download-video1.p.rapidapi.com/userPublishVideo","options":{},"headerParametersUi":{"parameter":[{"name":"X-RapidAPI-Key","value":"your rapidapi key here"},{"name":"X-RapidAPI-Host","value":"tiktok-download-video1.p.rapidapi.com"}]},"queryParametersUi":{"parameter":[{"name":"unique_id","value":"your tiktok username here"},{"name":"count","value":"1"},{"name":"cursor","value":"0"}]}},"name":"Get TikTok","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[460,460],"id":"b323593c-40b3-47f5-bf8e-980b53cf67a2"},{"parameters":{"fields":{"values":[{"name":"captionEdit","stringValue":"={{ $('Get TikTok').item.json.data.videos[0].title }}"}]},"include":"selected","options":{}},"id":"6f260c86-3427-4b9b-ab35-7a1aca757474","name":"Trim Caption","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[640,640]},{"parameters":{"jsCode":"const items = $input.all();\nconst captionEdit = items[0]?.json?.captionEdit || \"\";\nconst truncatedCaption = captionEdit.slice(0, 99);\n\nreturn { truncatedCaption };\n"},"id":"f8ad1291-5d49-421a-9b97-5a66cb60afa5","name":"Run Trim","type":"n8n-nodes-base.code","typeVersion":2,"position":[820,480]},{"parameters":{"url":"={{ $('Get TikTok').item.json.data.videos[0].play }}","responseFormat":"file","options":{}},"name":"Trim Video","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[980,660],"id":"305e9799-a92a-4b9d-b004-faee373fec9e"},{"parameters":{"method":"POST","url":"https://uneven-cute-hair.glitch.me/postToInstagram","sendBody":true,"bodyParameters":{"parameters":[{"name":"username","value":"your username here"},{"name":"password","value":"your password here"},{"name":"videoUrl","value":"={{ $('Get TikTok').item.json.data.videos[0].play }}"},{"name":"coverImageUrl","value":"={{ $('Get TikTok').item.json.data.videos[0].cover }}"},{"name":"caption","value":"={{ $('Get TikTok').item.json.data.videos[0].title }}"}]},"options":{"allowUnauthorizedCerts":false,"response":{"response":{}},"timeout":60000}},"id":"cb08a8e2-6115-43e7-810e-3c74b54e4910","name":"Instagram Posting","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1380,660],"executeOnce":false,"retryOnFail":false,"maxTries":2,"alwaysOutputData":true}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"Get TikTok","type":"main","index":0}]]},"YouTube":{"main":[[{"node":"Instagram Posting","type":"main","index":0}]]},"Get TikTok":{"main":[[{"node":"Trim Caption","type":"main","index":0}]]},"Trim Caption":{"main":[[{"node":"Run Trim","type":"main","index":0}]]},"Run Trim":{"main":[[{"node":"Trim Video","type":"main","index":0}]]},"Trim Video":{"main":[[{"node":"YouTube","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a72f6c66-e944-4341-8be0-e68051ff7723","triggerCount":0,"tags":[]}