my-workflow-3-E4SMCLYtjRpKnTnc.json
{"createdAt":"2024-11-26T18:22:57.584Z","updatedAt":"2024-11-28T20:39:16.182Z","id":"E4SMCLYtjRpKnTnc","name":"My workflow 3","active":false,"nodes":[{"parameters":{"mode":"jsonToBinary","convertAllData":false,"sourceKey":"=body.data.message.base64","options":{"dataIsBase64":true,"encoding":"utf8","fileName":"teste.ogg","mimeType":"application/ogg"}},"id":"cf3d4b60-d522-41a6-99e2-6c937c1c9e49","name":"Converte Audio1","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[360,-40]},{"parameters":{"method":"POST","url":"https://flowise.exemplo.com.br/api/v1/prediction/252a693f-851f-45e4-9xxxxxxxxxxxxxxx","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"question\": \"{{ $('OpenAIAudio1').item.json[\"text\"].replace(/[^a-zA-Z0-9 ]/g, '').replace(/\\s+/g, ' ').trim() }}. Responda em português.\",\n  \"overrideConfig\": {\n    \"sessionId\": \"{{ $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\"\n  }\n}","options":{}},"id":"d3eb1392-1a63-4cad-ab8d-3464d5647afd","name":"Envia ao Flowise Audio1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[740,-40]},{"parameters":{"method":"POST","url":"=https://evolution.exemplo.com.br/message/sendText/nome_da_intacia","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"f2cc0680beb57161apikey_aqui"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"linkPreview\": false\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $('Envia ao Flowise Audio1').item.json[\"text\"].replace(/\\n/g, \"\\\\n\") }}\"\n    }\n}","options":{}},"id":"fb2ce284-7f75-488d-acfc-79b06aa7781c","name":"Responde audio1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,-40]},{"parameters":{"method":"POST","url":"https://flowise.exemplo.com.br/api/v1/prediction/252a693f-851f-45e4-9xxxxxxxxxxxxxxx","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"question\": \"{{ $('OpenAIImagem1').item.json[\"content\"].replace(/[^a-zA-Z0-9 ]/g, '').replace(/\\s+/g, ' ').trim() }}. Responda em português.\",\n  \"overrideConfig\": {\n    \"sessionId\": \"{{ $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\"\n  }\n}","options":{}},"id":"940b5a9f-ed13-4479-a5a9-9f0b40c19d1c","name":"Envia ao Flowise Imagem1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,140]},{"parameters":{"method":"POST","url":"=https://evolution.exemplo.com.br/message/sendText/WiTGpT","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"f2cc0680beb57xxxxxxxxxxxx"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"linkPreview\": false\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $('Envia ao Flowise Imagem1').item.json[\"text\"].replace(/\\n/g, \"\\\\n\") }}\"\n    }\n}","options":{}},"id":"8d91b445-87bc-4ca7-bc84-3c3c04773467","name":"Responde Imagem1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1240,140]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ade56c50-1520-4760-8df5-e99617d6d3ad","leftValue":"={{ $('Webhook').item.json[\"body\"][\"data\"][\"message\"][\"imageMessage\"][\"caption\"] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"db982b3d-06d8-4042-8456-b97c104ceee0","name":"If2","type":"n8n-nodes-base.if","typeVersion":2,"position":[700,140]},{"parameters":{"url":"https://evolution.exemplo.com.br/typebot/find/nome_instacia","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"f2cc0680beb5API_KEY_AQUI"}]},"options":{}},"id":"ba937293-f7c4-4593-ab22-a98cfd129fc1","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-800,0],"alwaysOutputData":true},{"parameters":{"mode":"jsonToBinary","convertAllData":false,"sourceKey":"body.data.message.base64","destinationKey":"data2","options":{"dataIsBase64":true,"mimeType":"image/png"}},"id":"2065c3e1-56fa-4ecb-861b-cf019ebbd388","name":"Converte Imagem1","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[360,140],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"f959ec65-8d27-4a3f-bbc7-abea97beb301","name":"body","value":"={{ $('Webhook').item.json.body }}","type":"object"}]},"options":{}},"id":"cf2f9a86-8fdb-4247-9f49-f0e1864a5e52","name":"Body do Webhook","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[60,-40]},{"parameters":{"assignments":{"assignments":[{"id":"f959ec65-8d27-4a3f-bbc7-abea97beb301","name":"body","value":"={{ $('Webhook').item.json.body }}","type":"object"}]},"options":{}},"id":"be7e6941-1880-479a-b53c-68b65bcd6e52","name":"Body do Webhook1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[60,140]},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const sessions = item.json.sessions;\n  const remoteJidToFind = $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"remoteJid\"];\n  let status = \"not found\";\n  \n  // Encontra o status para o remoteJid fornecido\n  for (const session of sessions) {\n    if (session.remoteJid === remoteJidToFind) {\n      status = session.status;\n      break;\n    }\n  }\n  \n  // Adicione o status encontrado ao item.\n    item.json.status = status;\n}\n\nreturn $input.all();\n"},"id":"f5a4857c-79a3-4d12-b4a1-e9ee5413436b","name":"Verificar Pause","type":"n8n-nodes-base.code","typeVersion":2,"position":[-620,0],"alwaysOutputData":true},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"b6dbfb0c-204c-450d-92aa-98a750cc30e9","name":"OpenAIAudio1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[540,-40],"credentials":{"openAiApi":{"id":"BBFkvbO7LeC1Lhxg","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://flowise.exemplo.com.br/api/v1/prediction/252a693f-851f-45e4-9xxxxxxxxxxxxxxx","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"question\": \"{{ $('Webhook').item.json[\"body\"][\"data\"][\"message\"][\"imageMessage\"][\"caption\"] }},{{ $('OpenAIImagem').item.json[\"content\"].replace(/[^a-zA-Z0-9 ]/g, '').replace(/\\s+/g, ' ').trim() }}. Responda em português.\",\n  \"overrideConfig\": {\n    \"sessionId\": \"{{ $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\"\n  }\n}","options":{}},"id":"98c8ff5b-5b4d-41bd-8532-f62edfc94c82","name":"Envia ao Flowise Imagem + Legenda","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,340]},{"parameters":{"method":"POST","url":"=https://evolution.exemplo.com.br/message/sendText/WiTGpT","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"f2cc0680bexxxxxxxxxxxxxxxxxxxxxxx"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Webhook').item.json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"linkPreview\": false\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $('Envia ao Flowise Imagem + Legenda').item.json[\"text\"].replace(/\\n/g, \"\\\\n\") }}\"\n    }\n}","options":{}},"id":"08b5bb64-90c2-4a75-8dff-b8b22bafc44b","name":"Responde Imagem + legenda","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,340]},{"parameters":{"httpMethod":"POST","path":"cb4072e8-8a7b-4e7d-b9fe-075ae6bbf4dc","authentication":"headerAuth","options":{}},"id":"b2eb5a01-dbc0-40d5-b73a-01184a71ec84","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-980,0],"webhookId":"f915fc20-0c41-426c-b6a5-03be53b919e4","credentials":{"httpHeaderAuth":{"id":"HgNAYUKj8kUj5UCm","name":"llamaindex"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ade56c50-1520-4760-8df5-e99617d6d3ad","leftValue":"={{ $json.status }}","rightValue":"paused","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"10b9e6f7-5772-4d32-993f-2724f929d6b4","name":"se esta pause cancela fluxo","type":"n8n-nodes-base.if","typeVersion":2,"position":[-440,0],"alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Webhook').item.json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Webhook').item.json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"id":"ac6e5093-5c39-47cc-801f-a309f1677fcd","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-220,0]},{"parameters":{"resource":"image","operation":"analyze","text":"Descreva todo o conteudo da imagem. Se possivel descreva como se fosse voce ou acontecendo com voce, seja resuma a descrição. Responda sem acento, sem hifens","inputType":"base64","binaryPropertyName":"data2","options":{}},"id":"4331dcf6-d4bc-4a08-8e96-df900ce423f7","name":"OpenAIImagem1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[540,140],"credentials":{"openAiApi":{"id":"BBFkvbO7LeC1Lhxg","name":"OpenAi account"}}}],"connections":{"Converte Audio1":{"main":[[{"node":"OpenAIAudio1","type":"main","index":0}]]},"Envia ao Flowise Audio1":{"main":[[{"node":"Responde audio1","type":"main","index":0}]]},"Envia ao Flowise Imagem1":{"main":[[{"node":"Responde Imagem1","type":"main","index":0}]]},"If2":{"main":[[{"node":"Envia ao Flowise Imagem1","type":"main","index":0}],[{"node":"Envia ao Flowise Imagem + Legenda","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Verificar Pause","type":"main","index":0}]]},"Converte Imagem1":{"main":[[{"node":"OpenAIImagem1","type":"main","index":0}]]},"Body do Webhook":{"main":[[{"node":"Converte Audio1","type":"main","index":0}]]},"Body do Webhook1":{"main":[[{"node":"Converte Imagem1","type":"main","index":0}]]},"Verificar Pause":{"main":[[{"node":"se esta pause cancela fluxo","type":"main","index":0}]]},"OpenAIAudio1":{"main":[[{"node":"Envia ao Flowise Audio1","type":"main","index":0}]]},"Envia ao Flowise Imagem + Legenda":{"main":[[{"node":"Responde Imagem + legenda","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"se esta pause cancela fluxo":{"main":[[],[{"node":"Switch2","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Body do Webhook","type":"main","index":0}],[{"node":"Body do Webhook1","type":"main","index":0}]]},"OpenAIImagem1":{"main":[[{"node":"If2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"84361dcf-3318-4fef-9357-ca2dff1b654d","triggerCount":0,"tags":[]}