my-workflow-3-T3uZ0pWQfHHnN5u8.json
{"createdAt":"2024-12-27T16:27:55.895Z","updatedAt":"2024-12-27T16:27:55.895Z","id":"T3uZ0pWQfHHnN5u8","name":"My workflow 3","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"authentication":"serviceAccount","simple":false,"filters":{"labelIds":"","q":"from:me AND subject:\"Formulario contacto\""},"options":{}},"id":"32f478ad-d692-41f4-8709-234033837d9e","name":"Gmail Trigger2","type":"n8n-nodes-base.gmailTrigger","position":[220,460],"typeVersion":1,"credentials":{"googleApi":{"id":"6O2tB0xPyCbP2Kg7","name":"Google Service Account account"}}},{"parameters":{"jsonSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"qualified\": {\n      \"type\": \"string\"\n      },\n    \"summary\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\"qualified\", \"summary\"]\n}\n"},"id":"cd136b7f-8126-4334-ae63-d2e37c934be1","name":"JSON Parser2","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[860,680],"typeVersion":1},{"parameters":{"jsCode":"// Supongo que el primer elemento en `items` contiene el JSON del correo electrónico\nconst emailData = items[0].json;\n\n// Extraer los datos del HTML sin utilizar cheerio\nconst fullNameMatch = emailData.html.match(/<th align=\"left\">Nombre y apellidos<\\/th><td>(.*?)<\\/td>/);\nconst emailMatch = emailData.html.match(/<th align=\"left\">Email<\\/th><td>(.*?)<\\/td>/);\nconst phoneMatch = emailData.html.match(/<th align=\"left\">Tel&eacute;fono<\\/th><td>(.*?)<\\/td>/);\nconst userRequestMatch = emailData.html.match(/<th align=\"left\">&iquest;Qu&eacute; necesitas\\?<\\/th><td>(.*?)<\\/td>/);\nconst descriptionMatch = emailData.html.match(/<th align=\"left\">Cu&eacute;ntanos tu proyecto <\\/th><td>(.*?)<\\/td>/);\n\n// Crear un nuevo objeto JSON con los datos extraídos y otros datos del correo electrónico\nconst result = {\n  date: emailData.date,\n  origin: \"webForm\", // Presupongo que siempre es \"webForm\" según tu estructura deseada\n  fullName: fullNameMatch ? decodeEntities(fullNameMatch[1]) : '',\n  email: emailMatch ? decodeEntities(emailMatch[1]) : '',\n  phone: phoneMatch ? decodeEntities(phoneMatch[1]) : '', // Decodificar entidad HTML\n  userRequest: userRequestMatch ? decodeEntities(userRequestMatch[1]) : '',\n  description: descriptionMatch ? decodeEntities(descriptionMatch[1]) : ''\n};\n\n// Devolver el resultado\nreturn {\n  json: result\n};\n\n// Función para decodificar entidades HTML\nfunction decodeEntities(encodedString) {\n  return encodedString\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#039;/g, \"'\");\n}\n"},"id":"003c925f-1103-4b26-bdd2-591ab4b94147","name":"Code2","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,460]},{"parameters":{"prompt":"=Subject: Consulta sobre servicios de {{ $json.userRequest }}\n\nMessage:\nHola,\n\nEstoy interesado en conocer más sobre vuestros servicios de desarrollo mobile. He visto vuestro trabajo en otros proyectos y me gustaría recibir más información sobre cómo podéis ayudarme a desarrollar una aplicación para mi empresa. ¿Podríais enviarme detalles sobre precios y ejemplos de proyectos anteriores?\n\nSaludos,\nMarcos Cosas Cosas ","messages":{"messageValues":[{"message":"{   \"categorizeLead\": {     \"definitions\": {       \"Lead frío\": \"Un lead que ha mostrado interés mínimo en vuestros productos o servicios, pero aún no ha demostrado un compromiso significativo.\",       \"Lead cualificado para marketing (MQL)\": \"Un lead que ha demostrado un nivel de interés en vuestros productos o servicios que justifica su paso al equipo de marketing para continuar nutriéndolo con contenido relevante y personalizado, con el objetivo de convertirlo en un lead cualificado para ventas.\",       \"Lead cualificado para ventas (SQL)\": \"Un lead que ha sido evaluado por el equipo de ventas y se considera listo para ser contactado directamente para iniciar el proceso de ventas, ya que ha demostrado un interés y una intención de compra más sólidos.\",       \"Lead oportunidad\": \"Un lead que ha avanzado en el proceso de ventas y se encuentra en una etapa donde hay una alta probabilidad de cerrar una venta.\",       \"Cliente potencial (Prospect)\": \"Un lead que ha mostrado un interés significativo en vuestros productos o servicios y está siendo evaluado activamente por el equipo de ventas para determinar su idoneidad como cliente.\",       \"Cliente potencial cualificado (Qualified Prospect)\": \"Un lead que ha sido evaluado y considerado como una buena oportunidad para convertirse en cliente, habiendo cumplido ciertos criterios predefinidos por vuestro equipo de ventas.\",       \"Cerrado - Ganado (Closed - Won)\": \"Un lead que ha completado con éxito el proceso de ventas y ha contratado vuestros productos o servicios.\",       \"Cerrado - Perdido (Closed - Lost)\": \"Un lead que ha abandonado el proceso de ventas sin completar una compra, ya sea porque ha elegido a otro proveedor, no estaba listo para comprar o por otras razones.\"     }   } }"},{"message":"Su tarea es cualificar el lead con las claves del objeto categorizeLead y generar una texto corto que trasmita la intención del lead."}]}},"id":"36ac9007-9eb8-4b76-a0c9-17e2831e14fa","name":"Cualificar lead1","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[680,460],"typeVersion":1.3},{"parameters":{"model":"llama3-70b-8192","options":{}},"id":"e52fbe16-e460-4943-92fc-44b32f785e64","name":"Groq Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[700,680],"credentials":{"groqApi":{"id":"pNOzpMF9hv2WbzNB","name":"Groq account"}}}],"connections":{"Gmail Trigger2":{"main":[[{"node":"Code2","type":"main","index":0}]]},"JSON Parser2":{"ai_outputParser":[[{"node":"Cualificar lead1","type":"ai_outputParser","index":0}]]},"Code2":{"main":[[{"node":"Cualificar lead1","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Cualificar lead1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"4c87892c-de87-4074-a6e0-3e959c020e88","triggerCount":0,"tags":[]}