my-workflow-5-mOZKW0CmAKHZNgko.json
{"createdAt":"2024-12-27T16:27:55.746Z","updatedAt":"2024-12-27T16:27:55.746Z","id":"mOZKW0CmAKHZNgko","name":"My workflow 5","active":false,"nodes":[{"parameters":{"model":"gpt-4o","options":{"frequencyPenalty":0.2,"temperature":0.7}},"id":"0f75a6db-a37a-4324-b2f6-c475ad1d52af","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1200,340],"typeVersion":1,"credentials":{"openAiApi":{"id":"BBFkvbO7LeC1Lhxg","name":"OpenAi account"}}},{"parameters":{"sessionKey":"=chat_with_{{ $('Listen for incoming events').first().json.message.chat.id }}","contextWindowLength":10},"id":"64d831ac-e312-4164-96d6-f52676235202","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1440,640],"typeVersion":1},{"parameters":{"chatId":"={{ $('Listen for incoming events').first().json.message.from.id }}","text":"={{ $('AI Agent').item.json.output.replace(/&/g, \"&amp;\").replace(/>/g, \"&gt;\").replace(/</g, \"&lt;\").replace(/\"/g, \"&quot;\") }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"c859a456-b87c-46e5-98fe-92be842eb0f4","name":"Correct errors","type":"n8n-nodes-base.telegram","position":[1760,280],"typeVersion":1.1,"credentials":{"telegramApi":{"id":"NR2gaI52qTyWY7PG","name":"Telegram account"}}},{"parameters":{"updates":["*"],"additionalFields":{}},"id":"8d0f902a-bb56-4bbf-9218-4a48042ca57c","name":"Listen for incoming events","type":"n8n-nodes-base.telegramTrigger","position":[100,180],"webhookId":"295ba4f1-5f9c-4d70-afbc-6a50043a2e07","typeVersion":1,"credentials":{"telegramApi":{"id":"NR2gaI52qTyWY7PG","name":"Telegram account"}}},{"parameters":{"resource":"file","fileId":"={{$json.message.voice.file_id}}"},"id":"3444c8c5-5492-43bf-bbea-c614be218407","name":"Download voice file","type":"n8n-nodes-base.telegram","position":[600,300],"typeVersion":1.2,"credentials":{"telegramApi":{"id":"NR2gaI52qTyWY7PG","name":"Telegram account"}}},{"parameters":{"assignments":{"assignments":[{"id":"bccbce0a-7786-49c9-979a-7a285cb69f78","name":"CombinedMessage","type":"string","value":"={{ $json.message && $json.message.text ? $json.message.text : ($json.text ? $json.text : '') }}"},{"id":"5b1fc9f5-1408-4099-88cc-a23725c9eddb","name":"Message Type ","type":"string","value":"={{ $json?.message?.text && !$json?.text ? \"text query\" : (!$json?.message?.text && $json?.text ? \"voice message\" : \"unknown type message\") }}"},{"id":"1e9a17fa-ec5d-49dc-9ff6-1f28b57fb02e","name":"Source Type","type":"string","value":"={{ $('Listen for incoming events').item.json.message.forward_origin ? \" forwarded\" : \"\" }}"}]},"options":{}},"id":"de4b7b2e-8507-4e2b-9bb5-fc2696a60163","name":"Combine content and set properties","type":"n8n-nodes-base.set","position":[980,160],"typeVersion":3.4},{"parameters":{"chatId":"={{ $('Listen for incoming events').first().json.message.from.id }}","text":"={{ $json.output }} \n\nThank you for your{{ $('Combine content and set properties').item.json['Source Type'] }} {{ $('Combine content and set properties').item.json['Message Type '] }} 🤗","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"f3ca53e6-dc4d-4ff8-aa51-8c9630badc1d","name":"Send final reply","type":"n8n-nodes-base.telegram","position":[1580,160],"typeVersion":1.1,"credentials":{"telegramApi":{"id":"NR2gaI52qTyWY7PG","name":"Telegram account"}},"onError":"continueErrorOutput"},{"parameters":{"chatId":"={{ $('Listen for incoming events').first().json.message.from.id }}","text":"=Sorry, {{ $('Listen for incoming events').first().json.message.from.first_name }}! This command is not supported yet. Please send text or voice messages.","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"id":"a7f01847-e1fe-4f0e-8c2a-323dc0199447","name":"Send error message","type":"n8n-nodes-base.telegram","position":[600,0],"typeVersion":1.2,"credentials":{"telegramApi":{"id":"NR2gaI52qTyWY7PG","name":"Telegram account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"","temperature":0.7}},"id":"f9567c7b-8a11-4f4d-800b-20f7971e9c3b","name":"Convert audio to text","type":"@n8n/n8n-nodes-langchain.openAi","position":[780,300],"typeVersion":1.5,"credentials":{"openAiApi":{"id":"BBFkvbO7LeC1Lhxg","name":"OpenAi account"}}},{"parameters":{"content":"## Receive and pre-process messages \n","height":547.5630890194532,"width":1035.4478381373049},"id":"ddb0d85b-f33d-482a-96ff-36f8899607a9","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[60,-80],"typeVersion":1},{"parameters":{"content":"## 1. Send incoming message to the AI Agent\n## 2. Deliver agent reply to the user \n","height":550.5748478134515,"width":861.262180151035,"color":2},"id":"f6abb044-8936-4c90-a17b-dac123288057","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1160,-80],"typeVersion":1},{"parameters":{"content":"## Transcribe audio","height":194.83713159725437,"width":367.73614918993235,"color":6},"id":"1ea0a70e-cd1c-4fdc-9cfc-f708df47c6ec","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[680,380],"typeVersion":1},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Listen for incoming events').first().json.message.from.id }}"},"id":"4f4d602b-c837-443c-b3d7-606a51e3f48d","name":"Send Typing action","type":"n8n-nodes-base.telegram","position":[360,0],"typeVersion":1.2,"credentials":{"telegramApi":{"id":"NR2gaI52qTyWY7PG","name":"Telegram account"}}},{"parameters":{"text":"={{ $json.CombinedMessage }}","options":{"humanMessage":"TOOLS\n------\nAssistant can ask the user to use tools to look up information that may be helpful in answering the users original question. The tools the human can use are:\n\n{tools}\n\n{format_instructions}\n\nUSER'S INPUT\n--------------------\nHere is the user's input (remember to respond with a markdown code snippet of a json blob with a single action, and NOTHING else):\n\n{{input}}","systemMessage":"=You are a helpful AI assistant. You are chatting with the user named `{{ $('Determine content type').item.json.message.from.first_name }}`. You need to address the user by their name. Today is {{ DateTime.fromISO($now).toLocaleString(DateTime.DATETIME_FULL) }}\n\nIn your reply, always send a message in Telegram-supported HTML format. Here are the formatting instructions:\n1. The following tags are currently supported:\n<b>bold</b>, <strong>bold</strong>\n<i>italic</i>, <em>italic</em>\n<u>underline</u>, <ins>underline</ins>\n<s>strikethrough</s>, <strike>strikethrough</strike>, <del>strikethrough</del>\n<span class=\"tg-spoiler\">spoiler</span>, <tg-spoiler>spoiler</tg-spoiler>\n<b>bold <i>italic bold <s>italic bold strikethrough <span class=\"tg-spoiler\">italic bold strikethrough spoiler</span></s> <u>underline italic bold</u></i> bold</b>\n<a href=\"http://www.example.com/\">inline URL</a>\n<code>inline fixed-width code</code>\n<pre>pre-formatted fixed-width code block</pre>\n2. Any code that you send should be wrapped in these tags: <pre><code class=\"language-python\">pre-formatted fixed-width code block written in the Python programming language</code></pre>\nOther programming languages are supported as well.\n3. All <, > and & symbols that are not a part of a tag or an HTML entity must be replaced with the corresponding HTML entities (< with &lt;, > with &gt; and & with &amp;)\n4. If the user sends you a message starting with / sign, it means this is a Telegram bot command. For example, all users send /start command as their first message. Try to figure out what these commands mean and reply accodringly\n"}},"id":"7b18a00a-e421-4901-833e-6b6e7e411ed6","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1220,160],"typeVersion":1.1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.message.text }}","rightValue":"/"}]},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"dd41bbf0-bee0-450b-9160-b769821a4abc","operator":{"type":"object","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.voice}}","rightValue":""}]},"renameOutput":true,"outputKey":"Voice"}]},"options":{"fallbackOutput":"extra"}},"id":"d4b081ff-8a12-43a7-be45-8593ca0e607b","name":"Determine content type","type":"n8n-nodes-base.switch","position":[360,180],"typeVersion":3.2},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.3,"position":[1280,400],"id":"60475423-f0cd-49b6-a9a4-cbc4edb41c55","name":"Redis Chat Memory","credentials":{"redis":{"id":"j2E6Hw2rOJds8BX4","name":"Redis account"}}}],"connections":{"AI Agent":{"main":[[{"node":"Send final reply","type":"main","index":0}]]},"Send final reply":{"main":[[],[{"node":"Correct errors","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Download voice file":{"main":[[{"node":"Convert audio to text","type":"main","index":0}]]},"Convert audio to text":{"main":[[{"node":"Combine content and set properties","type":"main","index":0}]]},"Determine content type":{"main":[[{"node":"Combine content and set properties","type":"main","index":0}],[{"node":"Download voice file","type":"main","index":0}],[{"node":"Send error message","type":"main","index":0}]]},"Listen for incoming events":{"main":[[{"node":"Determine content type","type":"main","index":0},{"node":"Send Typing action","type":"main","index":0}]]},"Combine content and set properties":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"b4018c19-2735-4361-b6e0-51690e1acb0a","triggerCount":0,"tags":[]}