my-workflow-csI5FTCPHrMXPsjw.json
{"createdAt":"2024-06-21T22:11:57.639Z","updatedAt":"2024-06-22T22:12:07.579Z","id":"csI5FTCPHrMXPsjw","name":"My workflow","active":false,"nodes":[{"parameters":{"fields":{"values":[{"name":"prompt","stringValue":"\"\"\"PROMPT: The above is a n8n workflow json, please create workflow documentation for the user:. you are the master of brevity, be as concise and brief as possible, output generated documentation only.      ## Guidelines for the documentation  - **Provide a detailed description**: Provide a concise and informative description outlining the template's functionality and expected outcomes. Include a brief setup guide for user convenience. A detailed description not only clarifies the template's purpose but also enhances its discoverability through SEO. It’s advised to use these sections in your description:     - Who is this for?     - What problem is this workflow solving? / use case     - What this workflow does     - Setup     - How to customize this workflow to your needs   Here is an example  ``` # Who is this template for?  This workflow template is designed for **Sales** and **Customer Success** professionals seeking alerts when potential high-value users, prospects, or existing customers register for a Discourse community. Leveraging Clearbit, it retrieves enriched data for the new member to assess their value.  ### Example result in Slack  ![Screenshot 20240221 at 13.51.29.png](https://n8niostorageaccount.blob.core.windows.net/n8nio-strapi-blobs-prod/assets/Screenshot_2024_02_21_at_13_51_29_030961dc1b.png)  # How it works  - Each time a new member is created in Discourse, the workflow runs (powered by Discourse's native Webhooks feature). - After filtering out popular private email accounts, we run the member's email through Clearbit to fetch available information on the member as well as their organization. - If the enriched data meets certain criteria, we send a Slack message to a channel. This message has a few quick actions: `Open LinkedIn profile` and `Email member`  # Set up instructions  Overview is below. Watch this [🎥 quick set up video](https://www.loom.com/share/d379895004374ddc85dc9171ca37c139?sid=bb28df29-bc91-4d32-a657-0bfbaaf50cc7) for detailed instructions on how to get the template running, as well as how to customize it.  1. Complete the `Set up credentials` step when you first open the workflow. You'll need a Discourse (admin user), Clearbit, and Slack account. 2. Set up the Webhook in Discourse, linking the `On new Discourse user` Trigger with your Discourse community. 3. Set the correct channel to send to in the `Post message in channel` step 4. After testing your workflow, swap the Test URL to Production URL in Discourse and activate your workflow  Template was created in n8n `v1.29.1`  ``` \"\"\""}]},"options":{}},"id":"f7f70eb2-f186-49b5-a5f1-20b6e94178fa","name":"Edit Fields1","type":"n8n-nodes-base.set","position":[1560,480],"typeVersion":3.2},{"parameters":{"fields":{"values":[{"name":"input","stringValue":"=Workflow Title:  {{ $('Aggregate').item.json.data[0].name }}\n\nWofklow JSON: ```{{ $('Aggregate').item.json.data }}```\n\n{{ $json.prompt }} "}]},"options":{}},"id":"85accc02-31ec-4be7-929f-14e736e67862","name":"Create input to open ai1","type":"n8n-nodes-base.set","position":[1720,480],"typeVersion":3.2},{"parameters":{"modelName":"models/gemini-1.5-pro-001","options":{}},"id":"adcaf42a-5d41-46df-a79a-59d92381ed2f","name":"Google Gemini Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1920,720],"credentials":{"googlePalmApi":{"id":"8EXJk3xnJYIQX5ay","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"get","workflowId":{"__rl":true,"mode":"list","value":""}},"id":"c2510ad6-0f43-4db5-a7d9-c81668c44cff","name":"n8n","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1220,480],"credentials":{"n8nApi":{"id":"3OimNK9DNtxAIzDB","name":"n8n account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"f22f2ffb-f34c-426b-9aeb-8c545346ef0d","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1380,480]},{"parameters":{"assignments":{"assignments":[{"id":"62e5ce0d-5fe5-4139-b985-81cd6ec1b4d6","name":"About","value":"={{ $json.output }}","type":"string"},{"id":"c10793d2-5c2e-4aca-8e9b-506483d8a9f5","name":"id","value":"={{ $('n8n').first().json.id }}","type":"string"},{"id":"19029597-5469-4db9-bcc1-bd264b3a9a93","name":"name","value":"={{ $('n8n').first().json.name }}","type":"string"}]},"options":{}},"id":"f007f227-7c66-40c0-a450-6db781c93701","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2220,480]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appIGTRUXwNIIhUci","mode":"list","cachedResultName":"n8n management","cachedResultUrl":"https://airtable.com/appIGTRUXwNIIhUci"},"table":{"__rl":true,"value":"tblcyHhGKW3MUQoc8","mode":"list","cachedResultName":"Workflows","cachedResultUrl":"https://airtable.com/appIGTRUXwNIIhUci/tblcyHhGKW3MUQoc8"},"columns":{"mappingMode":"defineBelow","value":{"Workflow_id":"={{ $json.id }}","About":"={{ $json.About }}"},"matchingColumns":["Workflow_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Workflow_id","displayName":"Workflow_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Active","value":"Active"},{"name":"Inactive","value":"Inactive"}],"readOnly":false,"removed":true},{"id":"no_0f_excecusions","displayName":"no_0f_excecusions","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Retry Again","displayName":"Retry Again","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Created at","displayName":"Created at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"updated at","displayName":"updated at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"version id","displayName":"version id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Tags","displayName":"Tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"About","displayName":"About","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}]},"options":{}},"id":"038332bb-0ddd-4546-85d8-bfdcfc3ed2f4","name":"Airtable","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2360,480]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appIGTRUXwNIIhUci","mode":"list","cachedResultName":"n8n management","cachedResultUrl":"https://airtable.com/appIGTRUXwNIIhUci"},"table":{"__rl":true,"value":"tblcyHhGKW3MUQoc8","mode":"list","cachedResultName":"Workflows","cachedResultUrl":"https://airtable.com/appIGTRUXwNIIhUci/tblcyHhGKW3MUQoc8"},"returnAll":false,"options":{}},"id":"588c87f6-bb19-4cab-8ced-1cc65fe660e9","name":"Airtable1","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[620,460]},{"parameters":{"options":{}},"id":"39df71ed-aaf6-4c66-b651-cfe60e687a75","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1000,460]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"56f5e90b-f24e-4598-afc5-b1963bbf378d","leftValue":"={{ $json.About }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"a4303173-3cd7-4630-901e-290369681273","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2,"position":[780,460]},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"1dceeb47-1b0c-4ae7-abd4-04d6054a3ab5","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[460,460]},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=This is the workflow title   {{ $json.data[0].name }}\nthis is the workflow : {{ $json.input }} ","options":{"systemMessage":"={{ $json.prompt }}"}},"id":"02acd136-7133-45ca-bb52-43e543f6fba5","name":"AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1900,480]}],"connections":{"Edit Fields1":{"main":[[{"node":"Create input to open ai1","type":"main","index":0}]]},"Create input to open ai1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"n8n":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Airtable1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Loop Over Items","type":"main","index":0},{"node":"n8n","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Airtable1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"fb7d56ee-2465-4486-82b3-4a8421946a91","triggerCount":0,"tags":[]}