my-workflow-G7t10JHgAS8Wfqh8.json
{"createdAt":"2024-12-27T16:27:55.947Z","updatedAt":"2024-12-27T16:27:55.947Z","id":"G7t10JHgAS8Wfqh8","name":"My workflow","active":false,"nodes":[{"parameters":{},"id":"372bbc37-947b-4432-be4b-b12313ebef1e","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[20,-260]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"urlBase","value":"https://test.moadel.eu.org/"},{"name":"apiKey","value":"zYzP7ocstxh3SJ23D4FZTCu4ehnM8v4hu"},{"name":"instanceName","value":"Moadel"},{"name":"numero","value":"201023618534"}]},"options":{}},"id":"cefdf967-bfe1-4a21-9baa-5f67caf2bc18","name":"PARAMETROS CODECHAT","type":"n8n-nodes-base.set","typeVersion":1,"position":[220,-260]},{"parameters":{"method":"POST","url":"={{ $node[\"PARAMETROS CODECHAT\"].json.urlBase }}/instance/create","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.apiKey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={  \"instanceName\": \"{{ $node[\"PARAMETROS CODECHAT\"].json[\"instanceName\"] }}\"}","options":{}},"id":"725c5241-12f4-400a-b509-7aceec3122b5","name":"CRIAR INSTANCIA","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[420,-260],"credentials":{"httpHeaderAuth":{"id":"AIuyQ9PcAOputWkh","name":"Header Auth account"}}},{"parameters":{"url":"={{ $node[\"PARAMETROS CODECHAT\"].json.urlBase }}/instance/connect/{{ $node[\"PARAMETROS CODECHAT\"].json[\"instanceName\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"CRIAR INSTANCIA\"].json[\"hash\"][\"jwt\"] }}"}]},"options":{}},"id":"6d77ceaa-a00b-4379-84db-2d68b77721f8","name":"CRIAR QR CODE","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[620,-260]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"base64","value":"={{ $json.base64.slice(22) }}"}]},"options":{}},"id":"091dd645-7bf9-4dee-8b24-c288924bb6f9","name":"CONFIGURA QR CODE","type":"n8n-nodes-base.set","typeVersion":1,"position":[840,-260]},{"parameters":{"mode":"jsonToBinary","convertAllData":false,"sourceKey":"base64","options":{"dataIsBase64":true,"mimeType":"image/png"}},"id":"c93029df-fb74-4ef0-a6de-8cbcd0c82772","name":"TRANSFORMA EM IMAGEM","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1060,-260]},{"parameters":{"method":"POST","url":"={{ $node[\"PARAMETROS CODECHAT\"].json.urlBase }}/message/sendButtons/{{ $node[\"PARAMETROS CODECHAT\"].json[\"instanceName\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"CRIAR INSTANCIA\"].json[\"hash\"][\"jwt\"] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"5516981652210\",\n  \"options\": {\n    \"delay\": 1200\n  },\n  \"buttonMessage\": {\n    \"title\": \"ASTRA ONLINE BOTÕES NO WHATSAPP\",\n    \"description\": \"Aproveite nosso conteudo exclusivo\",\n    \"footerText\": \"Raphael Popiolek\",\n    \"buttons\": [\n      {\n        \"buttonText\": \"ASSISTIR VÍDEO\",\n        \"buttonId\": \"0\"\n      },\n      {\n        \"buttonText\": \"INSCREVA-SE\",\n        \"buttonId\": \"1\"\n      },\n      {\n        \"buttonText\": \"DA LIKE\",\n        \"buttonId\": \"2\"\n      },\n      {\n        \"buttonText\": \"COMPARTILHAR\",\n        \"buttonId\": \"3\"\n      }\n    ],\n    \"mediaMessage\": {\n      \"mediatype\": \"image\",\n      \"fileName\": \"Tab-youtube.jpg\",\n      \"media\": \"http://astraonline.com.br/wp-content/uploads/2023/03/Tab-youtube.jpg\"\n    }\n  }\n}","options":{}},"id":"a2e85d15-dff4-4557-ba75-467508ca5fda","name":"ENVIAR MENSAGEM COM BOTAO","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[600,0]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[820,0],"id":"af8aeb51-4246-402b-b44d-74e533e5c6c4","name":"When chat message received","webhookId":"9a508001-dd7b-4f69-a413-d72d4d74bd61"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[1040,0],"id":"7560780a-2a42-4083-8206-cafffa8a93e7","name":"Basic LLM Chain"},{"parameters":{"modelName":"models/gemini-1.5-pro-exp-0827","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1020,180],"id":"0575fce6-cbec-4df8-a6f6-8e387395a54f","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"veEwdr45e8Xb4Gtt","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"text":"={{ $json.propertyName }}","additionalFields":{}},"type":"n8n-nodes-twitter-scraper.twitterScraper","typeVersion":1,"position":[200,-20],"id":"db6c3063-e9c5-4c67-a406-712cde74da5e","name":"Twitter Scraper","credentials":{"twitterScraperApi":{"id":"vPRLhlzlTeEiQbrd","name":"Twitter Scraper account"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"urlBase","value":"https://x.com/elonmusk/status/1867280164272447761"},{"value":"1867280164272447761"}]},"options":{}},"id":"91bf52db-0db1-4673-b0a6-dd1ae5807cce","name":"PARAMETROS CODECHAT1","type":"n8n-nodes-base.set","typeVersion":1,"position":[0,-20]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"PARAMETROS CODECHAT","type":"main","index":0}]]},"PARAMETROS CODECHAT":{"main":[[{"node":"CRIAR INSTANCIA","type":"main","index":0}]]},"CRIAR INSTANCIA":{"main":[[{"node":"CRIAR QR CODE","type":"main","index":0}]]},"CRIAR QR CODE":{"main":[[{"node":"CONFIGURA QR CODE","type":"main","index":0}]]},"CONFIGURA QR CODE":{"main":[[{"node":"TRANSFORMA EM IMAGEM","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"PARAMETROS CODECHAT1":{"main":[[{"node":"Twitter Scraper","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"8ad2e2a8-39c4-4d39-ae1b-bcde69f900a8","triggerCount":0,"tags":[]}