notion-DLcMfRt1XNSn2hh7.json
{"createdAt":"2024-12-27T16:27:55.970Z","updatedAt":"2024-12-27T16:27:55.970Z","id":"DLcMfRt1XNSn2hh7","name":"notion","active":false,"nodes":[{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"26cf26f9-431c-412c-84f5-84d3332f247b","mode":"list","cachedResultName":"Stock","cachedResultUrl":"https://www.notion.so/26cf26f9431c412c84f584d3332f247b"},"options":{}},"id":"7f44481a-abda-4822-8c8e-dae4a47f3de1","name":"Get tickers [NOTION]","type":"n8n-nodes-base.notion","typeVersion":2,"position":[80,900],"credentials":{"notionApi":{"id":"vBzOOSy9CYNUpoDV","name":"Notion account"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Get tickers [NOTION]').item.json.id }}","mode":"id"},"simple":false,"propertiesUi":{"propertyValues":[{"key":"price|number","numberValue":"={{ $json['Global Quote']['05. price'] }}"}]},"options":{}},"id":"a13a3d5b-fd71-469e-9dfc-5b5f876eba75","name":"Update rows [NOTION]","type":"n8n-nodes-base.notion","typeVersion":2,"position":[940,680],"credentials":{"notionApi":{"id":"vBzOOSy9CYNUpoDV","name":"Notion account"}}},{"parameters":{},"id":"5cfcbe40-6f8d-4893-ba9c-c23c1b7583ea","name":"No operation","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[500,1093.1243857156576]},{"parameters":{"batchSize":1,"options":{}},"id":"2adb1424-0401-42c4-bf78-c6641b547bd8","name":"Split in batches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[300,900]},{"parameters":{"url":"=https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol={{ $json.property_ticker }}&apikey=6KFMIU87EB3Y7QBR","options":{}},"id":"15ae9c7b-74a1-420c-a154-23cc6b439685","name":"Quote endpoint [VANTAGE ALPHA]","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[720,680]},{"parameters":{"content":"## ⚠️ Note\n\n1. Complete video guide for this workflow is available [on my YouTube](https://youtu.be/up2Wi3Y9a-4).\n2. Remember to add your credentials (covered in the video guide).\n3. Notion template (Stock Portfolio Tracker) for this workflow available [here](https://shy-angelfish-d73.notion.site/76ac1d158bec4533807f80f296e89b10?v=98e123608ad54d8198174907691c8ace&pvs=4) (click \"duplicate\" to add template to your workspace).\n4. If you like this workflow, please subscribe to [my YouTube channel](https://www.youtube.com/@workfloows) and/or [my newsletter](https://workfloows.com/).\n\n**Thank you for your support!**","height":311.3138775936101,"width":398.52076028843226},"id":"c257ffa9-a2e1-4243-b01a-5ce8c52282f5","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-620,733.1243857156576]},{"parameters":{"rule":{"interval":[{}]}},"id":"bdb5e300-f567-46cc-9d23-392e240b6aa8","name":"Schedule trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-140,893.1243857156576]},{"parameters":{"content":"## Trigger\n\nWorkflow is activated everyday at specific time. ","height":323.538552133761,"width":178.9116807727541},"id":"acd88b70-5479-4c58-a7fe-1e75205c1a15","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-180,733.1243857156576]},{"parameters":{"content":"## Get tickers\n\nReturn stock tickers from Notion database. ","height":323.538552133761,"width":177.12158929459412},"id":"e14bce06-9c79-43b6-9df4-dac3e78b8252","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[41.79009147815998,740]},{"parameters":{"content":"## Get prices and update database\n\nThis sequence gets current stock prices using [Alpha Vantage API](https://www.alphavantage.co/) and updates rows in Notion database. Free API key provides **5 API requests per minute**, so workflow sends request every 12 seconds.\n\n**Important:** remember to replace ```[YOUR_API_KEY]``` in field URL with your actual Alpha Vantage API key.","height":396.66293784941865,"width":628.9480210610396},"id":"82dbd736-3e4b-4580-98aa-c0637a560379","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]},{"parameters":{"amount":12,"unit":"seconds"},"id":"2aaa80dc-009e-4cf0-aa85-c8101b195336","name":"Wait 12 second","type":"n8n-nodes-base.wait","typeVersion":1,"position":[500,680],"webhookId":"2f1d1415-8666-4564-be5f-da72eadd3dc8"},{"parameters":{"content":"## 🌐 API\n\nThis workflow is using Alpha Vantage API - you can find documentation [here](https://www.alphavantage.co/documentation/). ","height":127.88000524738811,"width":398.52076028843226},"id":"a7967b25-ef3d-4390-89e6-64514eb616e9","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-620,1073.1243857156576]}],"connections":{"Get tickers [NOTION]":{"main":[[{"node":"Split in batches","type":"main","index":0}]]},"Split in batches":{"main":[[{"node":"Wait 12 second","type":"main","index":0}],[{"node":"No operation","type":"main","index":0}]]},"Quote endpoint [VANTAGE ALPHA]":{"main":[[{"node":"Update rows [NOTION]","type":"main","index":0}]]},"Update rows [NOTION]":{"main":[[{"node":"Split in batches","type":"main","index":0}]]},"Schedule trigger":{"main":[[{"node":"Get tickers [NOTION]","type":"main","index":0}]]},"Wait 12 second":{"main":[[{"node":"Quote endpoint [VANTAGE ALPHA]","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"26dee038-10b0-491f-ab92-cd806e4d150e","triggerCount":0,"tags":[]}