notion-to-twitter-1pgZLZMD1ypKV5df.json
{"createdAt":"2024-07-07T21:05:27.187Z","updatedAt":"2024-08-08T23:01:28.952Z","id":"1pgZLZMD1ypKV5df","name":"notion to twitter","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 15 * * *"}]}},"id":"56f3785f-904b-4c24-bf6c-0797bf59fbba","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1260,80]},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"c1369e49-fae0-4a9e-aacf-f943409b1cfa","mode":"list","cachedResultName":"Social","cachedResultUrl":"https://www.notion.so/c1369e49fae04a9eaacff943409b1cfa"},"limit":1,"simple":false,"filterType":"json","filterJson":"{   \"and\": [     {       \"property\": \"Status\",       \"status\": {         \"equals\": \"Ready\"       }     }   ] }","options":{"sort":{"sortValue":[{"timestamp":true,"key":"created_time","direction":"ascending"}]}}},"id":"ce95996c-5cf4-4108-bebb-342f6196e479","name":"Get Ready Tweet","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1400,80],"credentials":{"notionApi":{"id":"Tb9GzU3HcLQ1gAz1","name":"Notion account"}}},{"parameters":{"url":"=https://api.notion.com/v1/blocks/{{ $json.id }}/children ","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Notion-Version","value":"2022-06-28"}]},"options":{}},"id":"4c2efd2b-d9c9-4708-a734-bd5e12604f4f","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,80],"credentials":{"notionApi":{"id":"Tb9GzU3HcLQ1gAz1","name":"Notion account"}}},{"parameters":{"jsCode":"let results = $json[\"results\"];\nlet tweet = '';\nlet link = '';\nlet image = '';\n\n// Set the text to be excluded as a variable\nlet excludedText = \"(406) How to Schedule Tweets with Notion and n8n (for free) - YouTube\";\n\nfor (let i = 0; i < results.length; i++) {\n  let result = results[i];\n  \n  if (result.type == \"paragraph\") {\n    if (result.paragraph.rich_text.length == 1) {\n      let textContent = result.paragraph.rich_text[0].plain_text;\n      let href = result.paragraph.rich_text[0].href;\n\n      // Add text content to tweet if it's not the excluded text\n      if (textContent !== excludedText) {\n        tweet += `${textContent} `;\n      }\n\n      // If href exists, set it as link\n      if (href) {\n        link = href;\n      }\n    }\n  } else if (result.type == \"image\") {\n    if (result.image.type == \"external\") {\n      image = result.image.external.url;\n    }\n  }\n}\n\n// Trim any extra spaces from the tweet\ntweet = tweet.trim();\n\nreturn { tweet: tweet, link: link, image: image };\n"},"id":"058277f3-8ccb-43b8-8328-596d3adf9bef","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1740,80]},{"parameters":{"method":"POST","url":"https://api.twitter.com/2/tweets","authentication":"predefinedCredentialType","nodeCredentialType":"twitterOAuth1Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.tweet }}"}]},"options":{}},"id":"cac0ebe9-0b41-4458-bfcf-c2e782ddbfc5","name":"POST to Twitter","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1860,300],"credentials":{"twitterOAuth1Api":{"id":"ZC19b7fCgZVJ316F","name":"X OAuth account"},"twitterOAuth2Api":{"id":"rCqro1GkTt0Zb7Y9","name":"X account"}}},{"parameters":{"text":"={{ $json.tweet }}","additionalFields":{}},"id":"403e5429-e41a-4dd4-9315-51b3ce2d74d9","name":"X","type":"n8n-nodes-base.twitter","typeVersion":2,"position":[900,580],"credentials":{"twitterOAuth2Api":{"id":"rCqro1GkTt0Zb7Y9","name":"X account"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Get Ready Tweet').item.json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"Status|status","statusValue":"Publish"}]},"options":{}},"id":"f6e5c0f3-c8aa-4268-be82-62ec5b39ec9e","name":"Notion","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2100,80],"credentials":{"notionApi":{"id":"Tb9GzU3HcLQ1gAz1","name":"Notion account"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 15 * * *"}]}},"id":"ab121b35-f5ff-48a3-9d4d-91dcf29a1627","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-560,420]},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"c1369e49-fae0-4a9e-aacf-f943409b1cfa","mode":"list","cachedResultName":"Social","cachedResultUrl":"https://www.notion.so/c1369e49fae04a9eaacff943409b1cfa"},"limit":1,"simple":false,"filterType":"json","filterJson":"{   \"and\": [     {       \"property\": \"Status\",       \"status\": {         \"equals\": \"Ready\"       }     }   ] }","options":{"sort":{"sortValue":[{"key":"Publish data|date","direction":"ascending"}]}}},"id":"87b5d205-2f64-4502-8a5a-3b07282e1978","name":"Get Ready Tweet1","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-360,420],"credentials":{"notionApi":{"id":"Tb9GzU3HcLQ1gAz1","name":"Notion account"}}},{"parameters":{},"id":"b20e6903-eefd-46f9-a55f-32b78bda5565","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[180,-260]},{"parameters":{"url":"=https://api.notion.com/v1/blocks/{{ $json.id }}/children ","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Notion-Version","value":"2022-06-28"}]},"options":{}},"id":"3a2e9744-4033-42d3-a2a9-333eda9c4352","name":"HTTP Request4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-100,420],"credentials":{"notionApi":{"id":"Tb9GzU3HcLQ1gAz1","name":"Notion account"}}},{"parameters":{"content":"## I'm a note \n**Double click** to edit me. [Guide](https://www.alexhyett.com/automate-twitter-with-notion-and-n8n/)\n[vdieo](https://youtu.be/82f4GjTgN08?si=NoIa6mCaoo0gH-pp)"},"id":"8fac1b9d-7dff-4de7-9394-09542dba987d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-120,-60]},{"parameters":{"title":"={{ $json.tweet }}","contentFormat":"html","content":"={{ $json.tweet }}","additionalFields":{"canonicalUrl":"","publishStatus":"draft"}},"id":"022ede91-3a5e-4d18-9484-24188dca116b","name":"Medium","type":"n8n-nodes-base.medium","typeVersion":1,"position":[1920,80],"credentials":{"mediumApi":{"id":"Z062BTyzVzENxLfe","name":"Medium account"}}},{"parameters":{"title":"={{ $json.tweet }}","contentFormat":"html","content":"={{ $json.tweet }}","additionalFields":{"canonicalUrl":"","publishStatus":"draft"}},"id":"804cfb22-413c-408d-88eb-3ad66d5472ec","name":"Medium1","type":"n8n-nodes-base.medium","typeVersion":1,"position":[900,740],"credentials":{"mediumApi":{"id":"Z062BTyzVzENxLfe","name":"Medium account"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Get Ready Tweet').item.json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"Status|status","statusValue":"Publish"}]},"options":{}},"id":"14842e4e-b981-4ac9-8c4f-ea2592f93321","name":"Notion1","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1100,740],"credentials":{"notionApi":{"id":"Tb9GzU3HcLQ1gAz1","name":"Notion account"}}},{"parameters":{"jsCode":"let results = $json[\"results\"];\nlet tweet = '';\nlet link = '';\nlet image = '';\n\n// Set the text to be excluded as a variable\nlet excludedText = \"(406) How to Schedule Tweets with Notion and n8n (for free) - YouTube\";\n\nfor (let i = 0; i < results.length; i++) {\n  let result = results[i];\n  \n  if (result.type == \"paragraph\") {\n    if (result.paragraph.rich_text.length == 1) {\n      let textContent = result.paragraph.rich_text[0].plain_text;\n      let href = result.paragraph.rich_text[0].href;\n\n      // Add text content to tweet if it's not the excluded text\n      if (textContent !== excludedText) {\n        tweet += `${textContent} `;\n      }\n\n      // If href exists, set it as link\n      if (href) {\n        link = href;\n      }\n    }\n  } else if (result.type == \"image\") {\n    if (result.image.type == \"external\") {\n      image = result.image.external.url;\n    }\n  }\n}\n\n// Trim any extra spaces from the tweet\ntweet = tweet.trim();\n\nreturn { tweet: tweet, link: link, image: image };\n"},"id":"09e7236b-09b3-4996-83c9-f519a2589903","name":"Linkedin","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,40]},{"parameters":{"jsCode":"let results = $json[\"results\"];\nlet tweet = '';\nlet link = '';\nlet image = '';\n\n// Set the text to be excluded as a variable\nlet excludedText = \"(406) How to Schedule Tweets with Notion and n8n (for free) - YouTube\";\n\nfor (let i = 0; i < results.length; i++) {\n  let result = results[i];\n  \n  if (result.type == \"paragraph\") {\n    if (result.paragraph.rich_text.length == 1) {\n      let textContent = result.paragraph.rich_text[0].plain_text;\n      let href = result.paragraph.rich_text[0].href;\n\n      // Add text content to tweet if it's not the excluded text\n      if (textContent !== excludedText) {\n        tweet += `${textContent} `;\n      }\n\n      // If href exists, set it as link\n      if (href) {\n        link = href;\n      }\n    }\n  } else if (result.type == \"image\") {\n    if (result.image.type == \"external\") {\n      image = result.image.external.url;\n    }\n  }\n}\n\n// Trim any extra spaces from the tweet\ntweet = tweet.trim();\n\nreturn { tweet: tweet, link: link, image: image };\n"},"id":"f5905843-f65b-47e5-85f9-b3d501268ccb","name":"Quora","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,220]},{"parameters":{"jsCode":"let results = $json[\"results\"];\nlet tweet = '';\nlet link = '';\nlet image = '';\n\n// Set the text to be excluded as a variable\nlet excludedText = \"(406) How to Schedule Tweets with Notion and n8n (for free) - YouTube\";\n\nfor (let i = 0; i < results.length; i++) {\n  let result = results[i];\n  \n  if (result.type == \"paragraph\") {\n    if (result.paragraph.rich_text.length == 1) {\n      let textContent = result.paragraph.rich_text[0].plain_text;\n      let href = result.paragraph.rich_text[0].href;\n\n      // Add text content to tweet if it's not the excluded text\n      if (textContent !== excludedText) {\n        tweet += `${textContent} `;\n      }\n\n      // If href exists, set it as link\n      if (href) {\n        link = href;\n      }\n    }\n  } else if (result.type == \"image\") {\n    if (result.image.type == \"external\") {\n      image = result.image.external.url;\n    }\n  }\n}\n\n// Trim any extra spaces from the tweet\ntweet = tweet.trim();\n\nreturn { tweet: tweet, link: link, image: image };\n"},"id":"74f9dccd-02e8-42fd-9ba2-9e95bc9803fd","name":"Facebook","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,400]},{"parameters":{"jsCode":"let results = $json[\"results\"];\nlet tweet = '';\nlet link = '';\nlet image = '';\n\n// Set the text to be excluded as a variable\nlet excludedText = \"(406) How to Schedule Tweets with Notion and n8n (for free) - YouTube\";\n\nfor (let i = 0; i < results.length; i++) {\n  let result = results[i];\n  \n  if (result.type == \"paragraph\") {\n    if (result.paragraph.rich_text.length == 1) {\n      let textContent = result.paragraph.rich_text[0].plain_text;\n      let href = result.paragraph.rich_text[0].href;\n\n      // Add text content to tweet if it's not the excluded text\n      if (textContent !== excludedText) {\n        tweet += `${textContent} `;\n      }\n\n      // If href exists, set it as link\n      if (href) {\n        link = href;\n      }\n    }\n  } else if (result.type == \"image\") {\n    if (result.image.type == \"external\") {\n      image = result.image.external.url;\n    }\n  }\n}\n\n// Trim any extra spaces from the tweet\ntweet = tweet.trim();\n\nreturn { tweet: tweet, link: link, image: image };\n"},"id":"d25f61b9-d3de-44ff-93bf-f9637fc296a5","name":"X(Twitter)","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,580]},{"parameters":{"jsCode":"let results = $json[\"results\"];\nlet tweet = '';\nlet link = '';\nlet image = '';\n\n// Set the text to be excluded as a variable\nlet excludedText = \"(406) How to Schedule Tweets with Notion and n8n (for free) - YouTube\";\n\nfor (let i = 0; i < results.length; i++) {\n  let result = results[i];\n  \n  if (result.type == \"paragraph\") {\n    if (result.paragraph.rich_text.length == 1) {\n      let textContent = result.paragraph.rich_text[0].plain_text;\n      let href = result.paragraph.rich_text[0].href;\n\n      // Add text content to tweet if it's not the excluded text\n      if (textContent !== excludedText) {\n        tweet += `${textContent} `;\n      }\n\n      // If href exists, set it as link\n      if (href) {\n        link = href;\n      }\n    }\n  } else if (result.type == \"image\") {\n    if (result.image.type == \"external\") {\n      image = result.image.external.url;\n    }\n  }\n}\n\n// Trim any extra spaces from the tweet\ntweet = tweet.trim();\n\nreturn { tweet: tweet, link: link, image: image };\n"},"id":"360175e7-ddb0-4091-a9f2-4b3997c8d5aa","name":"Medium2","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,740]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"2146cb69-4f92-47f6-aee8-046dbe92ee47","leftValue":"={{ $json.properties.Platform.multi_select[0].name }}","rightValue":"Linkedin","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"73ccceac-5a9b-4cc4-97a4-6bdff9d49728","leftValue":"={{ $json.properties.Platform.multi_select[1].name }}","rightValue":"Linkedin","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"6df94cc6-5a30-49d2-a553-6be00e48e70e","name":"If  Linkedin","type":"n8n-nodes-base.if","typeVersion":2,"position":[240,60]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"d0381c76-77bb-4d69-bf28-fc85b61448b1","leftValue":"={{ $json.properties.Platform.multi_select[1].name }}","rightValue":"Quora","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"e71fd92e-cdea-430b-9fa5-a5f182c60813","leftValue":"={{ $json.properties.Platform.multi_select[0].name }}","rightValue":"Quora","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"37b9ddc9-db80-4209-8f24-04c5a5e3a219","name":"If Quora","type":"n8n-nodes-base.if","typeVersion":2,"position":[240,240]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"3aa1511a-475c-4076-afdf-13c7c451c98a","leftValue":"={{ $json.properties.Platform.multi_select[1].name }}","rightValue":"Facebook","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6c64d68c-d6ae-4fc7-a754-85f655ec7240","leftValue":"={{ $json.properties.Platform.multi_select[0].name }}","rightValue":"Facebook","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"4f3d2c88-5303-4a85-8265-940c0eb015ca","name":"IF Facebook","type":"n8n-nodes-base.if","typeVersion":2,"position":[240,420]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"3aa1511a-475c-4076-afdf-13c7c451c98a","leftValue":"={{ $json.properties.Platform.multi_select[1].name }}","rightValue":"X(Twitter)","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6c64d68c-d6ae-4fc7-a754-85f655ec7240","leftValue":"={{ $json.properties.Platform.multi_select[0].name }}","rightValue":"X(Twitter)","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"5f636458-da8c-4b0c-b1c0-6f7e40902223","name":"If X(Twitter)","type":"n8n-nodes-base.if","typeVersion":2,"position":[240,600]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"3aa1511a-475c-4076-afdf-13c7c451c98a","leftValue":"={{ $json.properties.Platform.multi_select[1].name }}","rightValue":"Medium","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6c64d68c-d6ae-4fc7-a754-85f655ec7240","leftValue":"={{ $json.properties.Platform.multi_select[0].name }}","rightValue":"Medium","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"6078eeb8-f06b-4344-a6ce-f8b498243772","name":"If Medium","type":"n8n-nodes-base.if","typeVersion":2,"position":[240,760]},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Get Ready Tweet').item.json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"Status|status","statusValue":"Publish"}]},"options":{}},"id":"15334fd2-2ada-4330-be89-2591c86e811d","name":"Notion2","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1100,580],"credentials":{"notionApi":{"id":"Tb9GzU3HcLQ1gAz1","name":"Notion account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Ready Tweet","type":"main","index":0}]]},"Get Ready Tweet":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Medium","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Get Ready Tweet1","type":"main","index":0}]]},"Get Ready Tweet1":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"If  Linkedin","type":"main","index":0},{"node":"If Quora","type":"main","index":0},{"node":"IF Facebook","type":"main","index":0},{"node":"If X(Twitter)","type":"main","index":0},{"node":"If Medium","type":"main","index":0}]]},"Medium":{"main":[[{"node":"Notion","type":"main","index":0}]]},"Medium1":{"main":[[{"node":"Notion1","type":"main","index":0}]]},"Medium2":{"main":[[{"node":"Medium1","type":"main","index":0}]]},"If  Linkedin":{"main":[[{"node":"Linkedin","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"If Quora":{"main":[[{"node":"Quora","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"IF Facebook":{"main":[[{"node":"Facebook","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"If X(Twitter)":{"main":[[{"node":"X(Twitter)","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"If Medium":{"main":[[{"node":"Medium2","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"X(Twitter)":{"main":[[{"node":"X","type":"main","index":0}]]},"X":{"main":[[{"node":"Notion2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4c649bd2-e258-4313-b542-f639823200f0","triggerCount":0,"tags":[]}