optimize-&-update-printify-title-and-description-workflow-Vp1wfu1JqqqY2cGy.json
{"createdAt":"2024-12-27T16:27:55.762Z","updatedAt":"2024-12-27T16:27:55.762Z","id":"Vp1wfu1JqqqY2cGy","name":"Optimize & Update Printify Title and Description Workflow","active":false,"nodes":[{"parameters":{},"id":"a451ea29-3a9a-4e2e-a242-94373756050b","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[300,240],"typeVersion":1},{"parameters":{"url":"https://api.printify.com/v1/shops.json","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"3c36c1a7-99d1-4706-a088-792d5c86d7a9","name":"Printify - Get Shops","type":"n8n-nodes-base.httpRequest","position":[940,240],"typeVersion":4.2},{"parameters":{"url":"=https://api.printify.com/v1/shops/{{ $json.id }}/products.json","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"8cea2d2b-3ca2-47b9-8f31-c7d3d85134ed","name":"Printify - Get Products","type":"n8n-nodes-base.httpRequest","position":[1140,240],"typeVersion":4.2},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"27fcbff9-bf32-464d-aae7-10a1dff0878a","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[1340,240],"typeVersion":1},{"parameters":{"options":{}},"id":"0e4188ce-c86b-42bc-ae68-9501b495de16","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1540,240],"typeVersion":3},{"parameters":{"fieldToSplitOut":"id","include":"selectedOtherFields","fieldsToInclude":"title, description","options":{}},"id":"f021ce82-d415-47db-a6cd-76de3aef2c4f","name":"Split - id, title, desc","type":"n8n-nodes-base.splitOut","position":[1740,240],"typeVersion":1},{"parameters":{},"id":"b49fa0f7-326f-4e75-a084-2dab96848856","name":"Calculator","type":"@n8n/n8n-nodes-langchain.toolCalculator","position":[3240,420],"typeVersion":1},{"parameters":{},"id":"005dd5bb-5a7b-4f53-8d97-afb793c86e40","name":"Wikipedia","type":"@n8n/n8n-nodes-langchain.toolWikipedia","position":[3120,420],"typeVersion":1},{"parameters":{"method":"PUT","url":"=https://api.printify.com/v1/shops/{{ $json.id }}/products/{{ $('Google Sheets Trigger').item.json.product_id }}.json","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"=title","value":"={{ $('Google Sheets Trigger').item.json.product_title }}"},{"name":"description","value":"={{ $('Google Sheets Trigger').item.json.product_desc }}"}]},"options":{}},"id":"743c4fc6-fb38-4e22-b7d9-c514b190b6a9","name":"Printify - Update Product","type":"n8n-nodes-base.httpRequest","position":[3080,840],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"887815dd-21d5-41d7-b429-5f4361cf93b3","name":"brand_name","type":"string","value":"AlexK1919"},{"id":"cbaa3dc0-825c-44e4-8a27-061f49daf249","name":"brand_tone","type":"string","value":"informal, instructional, trustoworthy"},{"id":"0bd1358e-4586-407e-848e-8257923ed1b8","name":"custom_instructions","type":"string","value":"re-write for the coming Christmas season"}]},"options":{}},"id":"e1e4489e-8856-4035-af88-cd7b864cf8f8","name":"Brand Guidelines + Custom Instructions","type":"n8n-nodes-base.set","position":[580,240],"typeVersion":3.4},{"parameters":{"content":"# AlexK1919 \n![Alex Kim](https://media.licdn.com/dms/image/v2/D5603AQFOYMkqCPl6Sw/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1718309808352?e=1736985600&v=beta&t=pQKm7lQfUU1ytuC2Gq1PRxNY-XmROFWbo-BjzUPxWOs)\n\n#### I’m Alex Kim, an AI-Native Workflow Automation Architect Building Solutions to Optimize your Personal and Professional Life.\n\n\n### About Me\nhttps://beacons.ai/alexk1919\n\n### Products Used \n[OpenAI](https://openai.com)\n[Printify](https://printify.com/)\n\n[Google Sheets Template for this Workflow](https://docs.google.com/spreadsheets/d/12Y7M5YSUW1e8UUOjupzctOrEtgMK-0Wb32zcVpNcfjk/edit?gid=0#gid=0)","height":1066.0405523297766,"width":250,"color":6},"id":"2b52fefc-bbdf-4ad0-8439-d1234d180482","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"# ![Printify](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTb2gV-cjThU_5xJRxtjDx7Uh9xXCN5Uo1GGA&s)\nYou can swap out the API calls to similar services like Printful, Vistaprint, etc.","height":1064.4036342575048,"width":1020.0792140594992,"color":4},"id":"0b52470b-8185-4684-93be-25a174df7a6e","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[880,0],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"mode":"list","value":"1A6Phr6QwnMltm1_O6dVGAzmSPlOwuwp7RbCiLSvd9l0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1A6Phr6QwnMltm1_O6dVGAzmSPlOwuwp7RbCiLSvd9l0/edit?usp=drivesdk","cachedResultName":"Printify - AlexK1919"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1A6Phr6QwnMltm1_O6dVGAzmSPlOwuwp7RbCiLSvd9l0/edit#gid=0","cachedResultName":"Sheet1"},"event":"rowUpdate","options":{"columnsToWatch":["upload"]}},"id":"60de7b74-5bdb-4948-9e37-714a2517d95b","name":"Google Sheets Trigger","type":"n8n-nodes-base.googleSheetsTrigger","position":[2480,840],"typeVersion":1,"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"Gr5oxSUiTBlsxwx6","name":"Google Sheets Trigger account"}}},{"parameters":{"url":"https://api.printify.com/v1/shops.json","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"7d5952c1-7bec-4ec1-a6e2-7fd287b413b7","name":"Printify - Get Shops1","type":"n8n-nodes-base.httpRequest","position":[2880,840],"typeVersion":4.2},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"1A6Phr6QwnMltm1_O6dVGAzmSPlOwuwp7RbCiLSvd9l0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1A6Phr6QwnMltm1_O6dVGAzmSPlOwuwp7RbCiLSvd9l0/edit?usp=drivesdk","cachedResultName":"Printify - AlexK1919"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ql9TGAzZCSdSqrHvkZLcsBPoNMAjNpPVsELkumP2heM/edit#gid=0","cachedResultName":"Sheet1"},"columns":{"value":{"xid":"={{ Math.random().toString(36).substr(2, 12) }}","date":"={{ new Date().toISOString().split('T')[0] }}","time":"={{ new Date().toLocaleTimeString('en-US', { hour12: false }) }}","status":"Product Processing"},"schema":[{"id":"xid","type":"string","display":true,"required":false,"displayName":"xid","defaultMatch":false,"canBeUsedToMatch":true},{"id":"status","type":"string","display":true,"required":false,"displayName":"status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"date","type":"string","display":true,"required":false,"displayName":"date","defaultMatch":false,"canBeUsedToMatch":true},{"id":"time","type":"string","display":true,"required":false,"displayName":"time","defaultMatch":false,"canBeUsedToMatch":true},{"id":"product_id","type":"string","display":true,"removed":false,"required":false,"displayName":"product_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"original_title","type":"string","display":true,"removed":false,"required":false,"displayName":"original_title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"product_title","type":"string","display":true,"removed":false,"required":false,"displayName":"product_title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"original_desc","type":"string","display":true,"removed":false,"required":false,"displayName":"original_desc","defaultMatch":false,"canBeUsedToMatch":true},{"id":"product_desc","type":"string","display":true,"removed":false,"required":false,"displayName":"product_desc","defaultMatch":false,"canBeUsedToMatch":true},{"id":"product_url","type":"string","display":true,"removed":false,"required":false,"displayName":"product_url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"image_url","type":"string","display":true,"removed":false,"required":false,"displayName":"image_url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"video_url","type":"string","display":true,"removed":false,"required":false,"displayName":"video_url","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[]},"options":{"useAppend":true}},"id":"a2805071-7e41-46ad-976d-9b539a29db2e","name":"GS - Add Product Option","type":"n8n-nodes-base.googleSheets","position":[2880,240],"typeVersion":4.3,"credentials":{"googleSheetsOAuth2Api":{"id":"cMSumOyNWxg7yr6f","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":"1A6Phr6QwnMltm1_O6dVGAzmSPlOwuwp7RbCiLSvd9l0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1A6Phr6QwnMltm1_O6dVGAzmSPlOwuwp7RbCiLSvd9l0/edit?usp=drivesdk","cachedResultName":"Printify - AlexK1919"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1A6Phr6QwnMltm1_O6dVGAzmSPlOwuwp7RbCiLSvd9l0/edit#gid=0","cachedResultName":"Sheet1"},"columns":{"value":{"xid":"={{ $('GS - Add Product Option').item.json.xid }}","status":"Option added","keyword":"={{ $json.message.content.keyword }}","product_id":"={{ $('Split - id, title, desc').item.json.id }}","product_desc":"={{ $json.message.content.description }}","original_desc":"={{ $('Split - id, title, desc').item.json.description }}","product_title":"={{ $json.message.content.title }}","original_title":"={{ $('Split - id, title, desc').item.json.title }}"},"schema":[{"id":"xid","type":"string","display":true,"removed":false,"required":false,"displayName":"xid","defaultMatch":false,"canBeUsedToMatch":true},{"id":"status","type":"string","display":true,"required":false,"displayName":"status","defaultMatch":false,"canBeUsedToMatch":true},{"id":"upload","type":"string","display":true,"removed":false,"required":false,"displayName":"upload","defaultMatch":false,"canBeUsedToMatch":true},{"id":"date","type":"string","display":true,"required":false,"displayName":"date","defaultMatch":false,"canBeUsedToMatch":true},{"id":"time","type":"string","display":true,"required":false,"displayName":"time","defaultMatch":false,"canBeUsedToMatch":true},{"id":"product_id","type":"string","display":true,"removed":false,"required":false,"displayName":"product_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"keyword","type":"string","display":true,"removed":false,"required":false,"displayName":"keyword","defaultMatch":false,"canBeUsedToMatch":true},{"id":"original_title","type":"string","display":true,"removed":false,"required":false,"displayName":"original_title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"product_title","type":"string","display":true,"required":false,"displayName":"product_title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"original_desc","type":"string","display":true,"removed":false,"required":false,"displayName":"original_desc","defaultMatch":false,"canBeUsedToMatch":true},{"id":"product_desc","type":"string","display":true,"required":false,"displayName":"product_desc","defaultMatch":false,"canBeUsedToMatch":true},{"id":"product_url","type":"string","display":true,"required":false,"displayName":"product_url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"image_url","type":"string","display":true,"required":false,"displayName":"image_url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"video_url","type":"string","display":true,"required":false,"displayName":"video_url","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["xid"]},"options":{}},"id":"5437676b-9ea4-4ba6-bf64-6be30726a2f8","name":"Update Product Option","type":"n8n-nodes-base.googleSheets","position":[3440,240],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"cMSumOyNWxg7yr6f","name":"Google Sheets account"}}},{"parameters":{"content":"# Set the Number of Options you'd like for the Title and Description","height":1064.2140159143948,"width":454.85441546185024,"color":5},"id":"e0ce34b3-43cf-4eee-b8eb-2fe3aceac79d","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1940,0],"typeVersion":1},{"parameters":{"content":"# Process Title and Description Options","height":692.9832938116144,"width":1429.3228597821253,"color":4},"id":"7c44ce3c-d9f1-4232-81ab-c6dc41adec24","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[2420,0],"typeVersion":1},{"parameters":{"content":"# Update your Brand Guidelines before running this workflow\nYou can also add custom instructions for the AI node.","height":1067.57654641223,"width":410,"color":5},"id":"87dc6ca9-3ac0-4baa-b19d-b2bb02bc081e","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[440,0],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"22bf0855-c742-4a72-99c9-5ed72a96969a","operator":{"type":"number","operation":"equals"},"leftValue":"={{ $json.result }}","rightValue":0}]},"options":{}},"id":"02484f6d-fe7d-40dc-91d1-8792f83fe954","name":"If1","type":"n8n-nodes-base.if","position":[2680,240],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"e65d9a41-d8a0-40b8-82e6-7f4dd90f0aa7","name":"number_of_options","type":"string","value":"3"}]},"options":{}},"id":"e093035f-5ca0-40d5-bdb7-7db908a35804","name":"Number of Options","type":"n8n-nodes-base.set","position":[2100,240],"typeVersion":3.4},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Get the input data from the previous node\nconst inputData = $json[\"number_of_options\"]; // Fetch the \"number_of_options\" field\n\n// Convert the input to an integer\nconst initialValue = parseInt(inputData, 10);\n\n// Add 1 to retain the initial value and calculate the new value\nconst numberOfOptions = initialValue + 1;\nconst result = numberOfOptions - 1;\n\n// Return both values\nreturn {\n  number_of_options: numberOfOptions,\n  result,\n};\n"},"id":"fbb44868-873f-4162-9f30-d2f9a59915de","name":"Calculate Options","type":"n8n-nodes-base.code","position":[2480,240],"typeVersion":2},{"parameters":{"assignments":{"assignments":[{"id":"e47b9073-6b83-4444-9fde-3a70326fde1f","name":"number_of_options","type":"number","value":"={{ $('Calculate Options').item.json.result - 1 }}"}]},"options":{}},"id":"afd1b6c0-2376-4f9e-aa56-101d6639f7da","name":"Remember Options","type":"n8n-nodes-base.set","position":[3680,380],"typeVersion":3.4},{"parameters":{"content":"# Update Title and Description","height":342.36777743061157,"width":1429.3228597821253,"color":4},"id":"13ee5589-45f0-4ac2-8bbc-a331ac130014","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2420,720],"typeVersion":1},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Write an engaging product title and description for this product: \nTitle: {{ $('Split - id, title, desc').item.json.title }}\nDescription: {{ $('Split - id, title, desc').item.json.description }}\n\nDefine a keyword for this product and use it to write the new Title and Description.\n\nThis product will be listed via Printify and posted across various sales channels such as Shopfiy, Etsy, Amazon, and TikTok Shops. This product will be promoted across social media channels."},{"content":"Be witty. Humanize the content. No emojis.","role":"assistant"},{"content":"You are an ecommerce master and excel at creating content for products.","role":"system"},{"content":"=Brand Guidelines:\nBrand Name: {{ $('Brand Guidelines + Custom Instructions').item.json.brand_name }}\nBrand Tone: {{ $('Brand Guidelines + Custom Instructions').item.json.brand_tone }}","role":"assistant"},{"content":"={{ $('Brand Guidelines + Custom Instructions').item.json.custom_instructions }}","role":"system"},{"content":"Output:\nKeyword\nTitle\nDescription","role":"system"}]},"jsonOutput":true,"options":{}},"id":"998f54ab-2999-4aba-bc1d-050323b1898d","name":"Generate Title and Desc","type":"@n8n/n8n-nodes-langchain.openAi","position":[3080,240],"typeVersion":1.3,"credentials":{"openAiApi":{"id":"BBFkvbO7LeC1Lhxg","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"d9c78fa8-c2ba-4c08-b5d2-848112caa1cc","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.upload }}","rightValue":"yes"}]},"options":{}},"id":"d48bae2a-115d-4bd6-b798-046f2cac094e","name":"If","type":"n8n-nodes-base.if","position":[2680,840],"typeVersion":2.2}],"connections":{"If":{"main":[[{"node":"Printify - Get Shops1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"GS - Add Product Option","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"Generate Title and Desc","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Generate Title and Desc","type":"ai_tool","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Split - id, title, desc","type":"main","index":0}]]},"Remember Options":{"main":[[{"node":"Calculate Options","type":"main","index":0}]]},"Calculate Options":{"main":[[{"node":"If1","type":"main","index":0}]]},"Number of Options":{"main":[[{"node":"Calculate Options","type":"main","index":0}]]},"Printify - Get Shops":{"main":[[{"node":"Printify - Get Products","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"Printify - Get Shops1":{"main":[[{"node":"Printify - Update Product","type":"main","index":0}]]},"Update Product Option":{"main":[[{"node":"Remember Options","type":"main","index":0}]]},"GS - Add Product Option":{"main":[[{"node":"Generate Title and Desc","type":"main","index":0}]]},"Generate Title and Desc":{"main":[[{"node":"Update Product Option","type":"main","index":0}]]},"Printify - Get Products":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split - id, title, desc":{"main":[[{"node":"Number of Options","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Brand Guidelines + Custom Instructions","type":"main","index":0}]]},"Brand Guidelines + Custom Instructions":{"main":[[{"node":"Printify - Get Shops","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"173a7691-73df-4b47-9f0a-74897b1ca416","triggerCount":0,"tags":[]}