pint-a98jwnXUDMraPx02.json
{"createdAt":"2024-06-25T21:17:44.115Z","updatedAt":"2024-06-25T21:17:44.115Z","id":"a98jwnXUDMraPx02","name":"pint","active":false,"nodes":[{"parameters":{},"id":"41d38f06-3ea2-4504-997e-9ba9435b2d7f","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-300,800]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"b9b7a7e5-e42c-4f26-b3ff-06419d391716","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1740,800]},{"parameters":{"content":"Search board: \nhttps://developers.pinterest.com/docs/api/v5/#tag/search","height":192.99766204427397,"width":267.10522239351076},"id":"1953b476-2e5a-4520-abe5-969bd31883df","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]},{"parameters":{"method":"POST","url":"https://api-sandbox.pinterest.com/v5/pins","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\"title\": \"{{ $json.pinterest_post_title }}\", \"description\": \"{{ $json.pinterest_post_description }}\", \"board_id\": \"{{ $json.id }}\", \"media_source\": {\"source_type\": \"image_url\", \"url\": \"{{ $json.pinterest_image }}\"}} ","options":{}},"id":"fc7a6ded-a010-4cf0-9006-a6c8883714ef","name":"Create Pin","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2000,800],"onError":"continueErrorOutput"},{"parameters":{"fields":{"values":[{"name":"pinterest_image","stringValue":"={{ $json.pinterest_image }}"},{"name":"ad_account_id","stringValue":"3628040825"}]},"options":{}},"id":"618c638a-96ee-478c-833b-dfb7614ff573","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[0,980]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"748a7334-3eff-4f37-aa50-9392b4787b83","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[240,600]},{"parameters":{"method":"POST","url":"https://api-sandbox.pinterest.com/v5/boards","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.pinterest_board_name }}"},{"name":"description","value":"={{ $json.pinterest_board_description || \" \" }}"},{"name":"privacy","value":"PUBLIC"}]},"options":{}},"id":"bb9e5363-a561-480f-be30-409ec76fa040","name":"Create board","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-40,720],"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"url":"https://api.pinterest.com/v5/search/boards","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"ad_account_id","value":"={{ $json.ad_account_id }}"},{"name":"query","value":"={{ $json.pinterest_board_name }}"}]},"options":{}},"id":"1f270240-5d35-406f-b726-84c7a442c653","name":"Search board","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[540,500]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"e2974bac-fce0-48a4-b86b-a67664c150e1","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1000,560]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"638a6b45-7400-43f5-8bfc-a730d488929c","leftValue":"={{ $json.name }}","rightValue":"={{ $json.pinterest_board_name }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"bdfc12d2-f76c-4850-adbe-d6b369ec908d","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2,"position":[1240,520]},{"parameters":{"fieldToSplitOut":"items","options":{}},"id":"b5abeec0-2cc8-4053-a008-3375d482b39c","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[740,480]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Create board","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Create Pin","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Search board","type":"main","index":0}]]},"Create board":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"Merge1","type":"main","index":0}]]},"Search board":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Merge2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9114441b-f5a9-4dfa-8322-11f75ef692b1","triggerCount":0,"tags":[]}