posting-from-wordpress-to-medium-S0K0HUywUOeuELl9.json
{"createdAt":"2024-12-27T16:30:26.275Z","updatedAt":"2024-12-27T16:30:26.275Z","id":"S0K0HUywUOeuELl9","name":"Posting from Wordpress to Medium","active":false,"nodes":[{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"Title","cssSelector":"h2.single-post-title"},{"key":"Introduction","cssSelector":".kiwi-highlighter-content-area > p:nth-child(1)"},{"key":"Header","cssSelector":"div.kiwi-highlighter-content-area","returnValue":"html"},{"key":"={{ $json.data }}"}]},"options":{}},"id":"aac9c0d2-a278-4ea3-acf1-1aca547e30da","name":"HTML","type":"n8n-nodes-base.html","position":[1520,520],"typeVersion":1},{"parameters":{"url":"https://mailsafi.com/blog/","options":{}},"id":"b0eb2240-ffa3-4e80-af7a-2aff470c02ee","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","position":[660,680],"typeVersion":4.1,"alwaysOutputData":true},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"post","cssSelector":".entry-title > a","returnArray":true},{"key":"Link","cssSelector":" .lae-read-more > a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{}},"id":"e8dd3215-2cec-48ba-9a0b-7b3c01a4a637","name":"HTML1","type":"n8n-nodes-base.html","position":[840,680],"typeVersion":1},{"parameters":{"fieldToSplitOut":"post , Link","options":{}},"id":"5e408e44-7424-419f-9e24-1b619a96a1e0","name":"Item Lists","type":"n8n-nodes-base.itemLists","position":[1000,680],"typeVersion":3.1},{"parameters":{"title":"={{ $json.Title }}","contentFormat":"html","content":"={{ $json.Header }}","additionalFields":{"notifyFollowers":false,"publishStatus":"public","tags":"Email Hosting, Email, Email Marketing"}},"id":"d7c6088e-efa3-4fbb-a53f-a7fc7bebdb84","name":"Medium","type":"n8n-nodes-base.medium","position":[1580,740],"typeVersion":1,"alwaysOutputData":true},{"parameters":{"url":"={{ $json.Link }}","options":{}},"id":"5004a96e-16df-4100-84ae-df0b3be3a008","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","position":[1360,520],"typeVersion":4.1,"alwaysOutputData":true},{"parameters":{"options":{}},"id":"a34c5b31-c6ba-4e87-9177-a078aa100157","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1300,680],"typeVersion":3},{"parameters":{"operation":"limit","maxItems":5},"id":"ee3e4f81-fa05-4ad0-a46e-6452d2f3c521","name":"Item Lists1","type":"n8n-nodes-base.itemLists","position":[1140,680],"typeVersion":3.1},{"parameters":{},"id":"f472a15d-aa5a-4c40-b283-78d69a2a9b57","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[460,680],"typeVersion":1},{"parameters":{"content":"## Usage \n**How to use me** This workflow gets all the posts from your WordPress site and sorts them into a clear format before publishing them to medium.\n\nStep 1. Set up the HTTP node and set the URL of the source destination. This will be the URL of the blog you want to use. We shall be using https://mailsafi.com/blog for this.\n\nStep 2. Extract the URLs of all the blogs on the page\nThis gets all the blog titles and their URLs. Its an easy way to sort ou which blogs to share and which not to share.\n\nStep 3. Split the entries for easy sorting or a cleaner view.\n\nStep 4. Set a new https node with all the blog URLs that we got from the previous steps. \n\nStep 5. Extract the contents of the blog\n\nStep 6. Add the medium node and then set the contents that you want to be shared out.\n\nExecute your work flow and you are good to go\n\n\n","height":522.559880239521,"width":688.6526946107781},"id":"f89e199d-72e5-4426-8e9d-82f6ce39ac42","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[380,240],"typeVersion":1}],"connections":{"HTML":{"main":[[{"node":"Medium","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Item Lists","type":"main","index":0}]]},"Medium":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Item Lists":{"main":[[{"node":"Item Lists1","type":"main","index":0}]]},"Item Lists1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request1","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"b2da73a4-5216-4afc-b735-5db7a3daee0c","triggerCount":0,"tags":[]}