post-new-youtube-videos-to-x-Y5dpVO3pnkn3ZVud.json
{"createdAt":"2024-06-20T09:59:13.303Z","updatedAt":"2024-06-20T10:55:55.336Z","id":"Y5dpVO3pnkn3ZVud","name":"Post New YouTube Videos to X","active":false,"nodes":[{"parameters":{"text":"={{ $json.message.content }}","additionalFields":{}},"id":"576be5c4-1ed0-4d01-a980-cb2fc31e2223","name":"Post to X","type":"n8n-nodes-base.twitter","position":[1300,365.4320987654321],"typeVersion":2,"credentials":{"twitterOAuth2Api":{"id":"rCqro1GkTt0Zb7Y9","name":"X account"}}},{"parameters":{"content":"🆔 Ensure you enter your YouTube Channel ID in the \"Channel ID\" field of this node. You can find your [Channel ID here](https://youtube.com/account_advanced).","height":308.7901234567902,"width":221.82716049382665,"color":3},"id":"3b87cf2a-51d5-4589-9729-bb1fe3cfceca","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[640,240.19753086419746],"typeVersion":1},{"parameters":{"content":"**Use AI to Promote Your New YouTube Videos on X**\n\n🎬 Watch the [Setup Video Here](https://mrc.fm/ai2x)","height":102.81481481481477,"width":244.34567901234558},"id":"841ee140-7e37-4e9c-8ab2-2a3ee941d255","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[380,240],"typeVersion":1},{"parameters":{"resource":"video","limit":1,"filters":{"channelId":"UC08Fah8EIryeOZRkjBRohcQ","publishedAfter":"={{ new Date(new Date().getTime() - 30 * 60000).toISOString() }}"},"options":{}},"id":"583b7d5d-e5dc-4183-92ee-8135ce6095a8","name":"Fetch Latest Videos","type":"n8n-nodes-base.youTube","position":[700,360],"typeVersion":1,"credentials":{"youTubeOAuth2Api":{"id":"OhkDZFZzBoJpoZVP","name":"YouTube account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"id":"6e391007-10e2-4e67-9db6-e13d5d2bef11","name":"Check Every 30 Min","type":"n8n-nodes-base.scheduleTrigger","position":[480,365.4320987654321],"typeVersion":1.2},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"id"},"messages":{"values":[{"content":"=Write an engaging post about my latest YouTube video for X (Twitter) of no more than 140 characters in length. Link to the video at https://youtu.be/{{ $json.id.videoId }} use this title and description:  {{ $json.snippet.title }}  {{ $json.snippet.description }}"}]},"jsonOutput":true,"options":{}},"id":"912e631c-aa43-4e02-9816-b35fe6e62dd8","name":"Generate Post for X with ChatGPT","type":"@n8n/n8n-nodes-langchain.openAi","position":[920,360],"typeVersion":1.3,"credentials":{"openAiApi":{"id":"6xi0Ef6hZJCh4ppn","name":"OpenAi account"}}}],"connections":{"Check Every 30 Min":{"main":[[{"node":"Fetch Latest Videos","type":"main","index":0}]]},"Fetch Latest Videos":{"main":[[{"node":"Generate Post for X with ChatGPT","type":"main","index":0}]]},"Generate Post for X with ChatGPT":{"main":[[{"node":"Post to X","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"2242","templateCredsSetupCompleted":true},"pinData":{},"versionId":"88e0b223-4c7d-4919-8dd7-8f76c4fd4c48","triggerCount":0,"tags":[]}