send-daily-meetings-in-google-calendar-to-telegram-5Im0a7SUX2MUUsMk.json
{"createdAt":"2024-12-27T16:30:27.066Z","updatedAt":"2024-12-27T16:30:27.066Z","id":"5Im0a7SUX2MUUsMk","name":"Send Daily Meetings in Google Calendar to Telegram","active":false,"nodes":[{"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"list","value":"lrnr6ha3nt9cv8i0fimup684e4@group.calendar.google.com","cachedResultName":"Meeting Room"},"options":{"timeMin":"={{ $today }}","timeMax":"={{ $today.plus({ days: 1 }) }}","singleEvents":true}},"id":"eee04fe7-7f65-4db8-8ad8-7b67197a1f70","name":"Get meetings for today","type":"n8n-nodes-base.googleCalendar","position":[820,600],"typeVersion":1,"credentials":{"googleCalendarOAuth2Api":{"id":"ezwk0NVs1SVywaB0","name":"Google Calendar account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"id":"358ab462-d69f-4980-99fd-de5a22a3c783","name":"Every morning @ 6","type":"n8n-nodes-base.scheduleTrigger","position":[520,600],"typeVersion":1.1},{"parameters":{"keepOnlySet":true,"values":{"number":[],"string":[{"name":"Name","value":"={{ $json.summary }}"},{"name":"Time","value":"={{ $json.start }}"},{"name":"Guests","value":"={{ $json.attendees }}"}]},"options":{}},"id":"57f77b4e-d608-4929-bc49-2dfecff88c8d","name":"Set","type":"n8n-nodes-base.set","position":[1100,600],"typeVersion":1},{"parameters":{"functionCode":"let message = \"*Your meetings today are:* \\n\";\n\nfor (item of items) {\n  const time = new Date(item.json.Time.dateTime);\n  const formattedTime = new Intl.DateTimeFormat('fa-IR', {\n    hour: 'numeric',\n    minute: 'numeric',\n    timeZone: item.json.Time.timeZone\n  }).format(time);\n\n  message += `* ${item.json.Name} | ${formattedTime}\\n`;\n\n  if (item.json.Guests && item.json.Guests.length > 0) {\n    message += '*Â&nbsp;- ';\n    item.json.Guests.forEach((guest, index) => {\n      message += `${guest.email}${index < item.json.Guests.length - 1 ? ', ' : ''}`;\n    });\n    message += '\\n';\n  } else {\n    message += '*Â&nbsp;- No guests\\n';\n  }\n}\n\nreturn [{ json: { message } }];\n"},"id":"6bcde2e8-46f6-46aa-b2f2-0e2670a9ce66","name":"Function","type":"n8n-nodes-base.function","position":[1360,600],"typeVersion":1},{"parameters":{"chatId":"hu","text":"={{$json[\"message\"]}}","additionalFields":{}},"id":"568c4efd-a4d4-4309-ab3e-c15c955ce361","name":"Telegram","type":"n8n-nodes-base.telegram","position":[1700,600],"typeVersion":1.1,"credentials":{"telegramApi":{"id":"NR2gaI52qTyWY7PG","name":"Telegram account"}}},{"parameters":{"content":"## This workflow \nprovides a convenient and automated way to stay on top of your daily meetings and improve your personal productivity.\n\n\n","height":658.1528835709971,"width":1527.817454565021,"color":7},"id":"9f2b0543-9f3f-43e2-a7ea-e77ce1430985","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[380,240],"typeVersion":1},{"parameters":{"content":"### Create a Telegram bot in @botfather\nUses your Telegram user ID to send the list of meetings as a message to Telegram.","height":315.7841809336307,"width":268.2901637583533,"color":5},"id":"41d85383-ccca-42f6-b9a1-d18e14ab3e32","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1620,440],"typeVersion":1},{"parameters":{"content":"## setup:\n###    - Google Calendar connected to n8n\n###    - A Telegram bot created and connected to n8n\n###    - Your Telegram user ID specified","height":151.60560223016907,"width":430.6727493433055},"id":"254dccf8-a366-4cdc-84ca-987eca928ed6","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[400,360],"typeVersion":1},{"parameters":{},"id":"feaff684-3bf7-45d8-99c2-64b47459d8b2","name":"WAHA Trigger","type":"@devlikeapro/n8n-nodes-waha.wahaTrigger","typeVersion":202409,"position":[1920,940],"webhookId":"6c461a41-c32f-4948-809c-ea2338fc1b6a"},{"parameters":{"content":"## Reply \"pong\" on \"ping\" text","height":382.58335299812256,"width":568.1572184210546,"color":4},"id":"e208ada0-5802-4fb7-b665-500cd008de6b","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2440,840]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f827f7f8-d40c-4d97-9677-9e62d99c7e7a","leftValue":"={{ $json.payload.body }}","rightValue":"ping","operator":{"type":"string","operation":"equals"}},{"id":"9dc60cdc-5d7b-44ab-b959-3cec77632855","leftValue":"={{ $json.payload.body }}","rightValue":"Ping","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"857ad08d-c607-46c4-a87b-9ec27712071a","name":"body=ping","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[2480,1000]},{"parameters":{},"id":"e0b92358-ffb9-461f-848b-e55934da9c80","name":"Do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2780,1080]},{"parameters":{"resource":"Chatting","operation":"Send Text","text":"pong","requestOptions":{}},"id":"b90a762b-63a2-49c3-88ec-24287eec1e36","name":"Send \"pong\"","type":"@devlikeapro/n8n-nodes-waha.WAHA","typeVersion":202409,"position":[2780,860],"credentials":{"wahaApi":{"id":"MlhAABobQ93G26OF","name":"WAHA account"}}},{"parameters":{"resource":"Sessions","operation":"Create","requestOptions":{}},"id":"3e36b1ba-39da-4db2-895e-36e0805c1105","name":"Send Seen","type":"@devlikeapro/n8n-nodes-waha.WAHA","typeVersion":202409,"position":[2480,660],"credentials":{"wahaApi":{"id":"MlhAABobQ93G26OF","name":"WAHA account"}}},{"parameters":{"content":"## Always Send Seen","height":227.5411734823075,"width":568.1572184210546,"color":4},"id":"1fd949a6-07c1-4f32-873a-607d33a4966c","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2440,600]},{"parameters":{"content":"## Send Image on \"image\" text","height":399.4096946499026,"width":568.1572184210546,"color":4},"id":"9d3a174e-1c67-4709-b7c0-4bd0f3ed4b92","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2440,1260]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f827f7f8-d40c-4d97-9677-9e62d99c7e7a","leftValue":"={{ $json.payload.body }}","rightValue":"image","operator":{"type":"string","operation":"equals"}},{"id":"9dc60cdc-5d7b-44ab-b959-3cec77632855","leftValue":"={{ $json.payload.body }}","rightValue":"Image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"4ab18c0a-f408-4465-b110-f4c4c4c9f6ac","name":"body=image","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[2500,1380]},{"parameters":{"resource":"Chatting","operation":"Send Image","caption":"Check this","requestOptions":{}},"id":"75ffd25b-bb38-4ab2-83ee-b695cbd454a7","name":"Send Image","type":"@devlikeapro/n8n-nodes-waha.WAHA","typeVersion":202409,"position":[2800,1340],"credentials":{"wahaApi":{"id":"MlhAABobQ93G26OF","name":"WAHA account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"true","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"242f1ea8-0d3f-491c-a60b-1ac78c82488f","leftValue":"true","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"4f550e8f-c7d2-4c22-8fbb-f729816db6b7","leftValue":"1","rightValue":"1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"allMatchingOutputs":true}},"id":"f45971a1-d917-45e5-964e-10188c0c2f1f","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.1,"position":[2240,940],"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{},"id":"1fde1a8e-08d6-40ab-9025-358f28423ed3","name":"Do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2800,1500]},{"parameters":{"authentication":"predefinedCredentialType","chatid":"={{ $json.id }}","filelength":0},"type":"n8n-nodes-quepasa.quepasa","typeVersion":1,"position":[900,-100],"id":"423e00db-83b3-4122-8e0d-44501cef340b","name":"Quepasa","credentials":{"quepasaTokenAuthApi":{"id":"C0seuPamyczi5ZVD","name":"Quepasa Access Token account"}}},{"parameters":{"authentication":"predefinedCredentialType","forwardInternal":true},"type":"n8n-nodes-quepasa.quepasaTrigger","typeVersion":1,"position":[680,-100],"id":"28a06006-b1c6-434b-8afb-6064513b5bd6","name":"Quepasa Trigger","webhookId":"892af3ea-3c18-4532-9394-b99982f7746f","credentials":{"quepasaTokenAuthApi":{"id":"C0seuPamyczi5ZVD","name":"Quepasa Access Token account"}}}],"connections":{"Set":{"main":[[{"node":"Function","type":"main","index":0}]]},"Function":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Every morning @ 6":{"main":[[{"node":"Get meetings for today","type":"main","index":0}]]},"Get meetings for today":{"main":[[{"node":"Set","type":"main","index":0}]]},"WAHA Trigger":{"main":[[],[{"node":"Switch","type":"main","index":0}]]},"body=ping":{"main":[[{"node":"Send \"pong\"","type":"main","index":0}],[{"node":"Do nothing1","type":"main","index":0}]]},"body=image":{"main":[[{"node":"Send Image","type":"main","index":0}],[{"node":"Do nothing","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Send Seen","type":"main","index":0}],[{"node":"body=ping","type":"main","index":0}],[{"node":"body=image","type":"main","index":0}]]},"Quepasa Trigger":{"main":[[{"node":"Quepasa","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Every morning @ 6":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"fe836108-ece3-45d9-8be9-ed43d727d39d","triggerCount":0,"tags":[]}