simple-google-indexing-workflow-in-n8n-xTg9drKNkNeQHc3H.json
{"createdAt":"2024-06-21T22:28:53.248Z","updatedAt":"2024-06-21T22:28:53.248Z","id":"xTg9drKNkNeQHc3H","name":"Simple Google indexing Workflow in N8N","active":false,"nodes":[{"parameters":{},"id":"0788a3db-20c3-43b6-956a-394f688f7763","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[400,500],"typeVersion":1},{"parameters":{"rule":{"interval":[{"triggerAtHour":1}]}},"id":"51460fab-a53c-46cd-a484-d2c038cd102d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[400,660],"typeVersion":1},{"parameters":{"batchSize":1,"options":{}},"id":"5326416c-5715-4cc7-acfd-38a32f864bfb","name":"loop","type":"n8n-nodes-base.splitInBatches","position":[1400,660],"typeVersion":2},{"parameters":{"url":"https://bushidogym.fr/sitemap.xml","options":{}},"id":"fb0ca9f7-ff49-4a4b-9575-42b80594737e","name":"sitemap_set","type":"n8n-nodes-base.httpRequest","position":[580,660],"typeVersion":4.1},{"parameters":{"options":{"ignoreAttrs":true,"mergeAttrs":true,"normalize":true,"normalizeTags":true,"trim":true}},"id":"150b47fe-f1c8-4dcb-b187-b459ee50c316","name":"sitemap_convert","type":"n8n-nodes-base.xml","position":[740,660],"typeVersion":1},{"parameters":{"fieldToSplitOut":"urlset.url","options":{"destinationFieldName":"url"}},"id":"83cd19d6-81e7-46af-83a3-090cdd66b420","name":"sitemap_parse","type":"n8n-nodes-base.splitOut","position":[960,660],"typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"url","value":"={{ $json.url.loc }}"}]},"options":{}},"id":"95c784d1-5756-4bf0-b2e5-e25a84c01b72","name":"url_set","type":"n8n-nodes-base.set","position":[1180,660],"typeVersion":2},{"parameters":{"method":"POST","url":"https://indexing.googleapis.com/v3/urlNotifications:publish","authentication":"predefinedCredentialType","nodeCredentialType":"googleApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $json.url }}"},{"name":"type","value":"URL_UPDATED"}]},"options":{}},"id":"43b62667-a37e-4bd1-bbb9-7a20a0914c97","name":"url_index","type":"n8n-nodes-base.httpRequest","position":[1600,640],"typeVersion":4,"alwaysOutputData":true,"credentials":{"googleApi":{"id":"6O2tB0xPyCbP2Kg7","name":"Google Service Account account"}},"continueOnFail":true},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.urlNotificationMetadata.latestUpdate.type }}","value2":"URL_UPDATED"}]}},"id":"39ae8c01-64e4-44f5-be43-d5c402b00739","name":"index_check","type":"n8n-nodes-base.if","position":[1820,640],"typeVersion":1},{"parameters":{"amount":2,"unit":"seconds"},"id":"c4bf483b-af4b-451e-974b-d4abeb2c70f6","name":"wait","type":"n8n-nodes-base.wait","position":[2080,620],"webhookId":"b0df1fe8-e509-4d0c-a486-f523226621e2","typeVersion":1},{"parameters":{"errorMessage":"You have reached the Google Indexing API limit (200/day by default)"},"id":"455955a8-c767-453b-805c-77c5b7d2e9bc","name":"Stop and Error","type":"n8n-nodes-base.stopAndError","position":[2080,900],"typeVersion":1},{"parameters":{"content":"## Simple indexing workflow using the Google Indexing API\n\nThis workflow is the simplest indexing workflow. It simply extracts a sitemap, converts it to a JSON, and loops through each URL. It will output an error if your quota is reached.\n\n*Joachim*","height":221.39109212934721,"width":482.7089688834655},"id":"275abdd5-be5d-458f-bc75-d9f72824c49f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[380,240],"typeVersion":1}],"connections":{"loop":{"main":[[{"node":"url_index","type":"main","index":0}]]},"wait":{"main":[[{"node":"loop","type":"main","index":0}]]},"url_set":{"main":[[{"node":"loop","type":"main","index":0}]]},"url_index":{"main":[[{"node":"index_check","type":"main","index":0}]]},"index_check":{"main":[[{"node":"wait","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"sitemap_set":{"main":[[{"node":"sitemap_convert","type":"main","index":0}]]},"sitemap_parse":{"main":[[{"node":"url_set","type":"main","index":0}]]},"sitemap_convert":{"main":[[{"node":"sitemap_parse","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"sitemap_set","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"sitemap_set","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true,"templateId":"2123"},"pinData":{},"versionId":"6cec9eee-72f9-4bd9-9b7a-484821b1e31b","triggerCount":0,"tags":[]}