telepilot-XX5LegH0RbmPR3IT.json
{"createdAt":"2024-12-27T16:30:27.556Z","updatedAt":"2024-12-27T16:30:27.556Z","id":"XX5LegH0RbmPR3IT","name":"TelePilot","active":false,"nodes":[{"parameters":{"resource":"login"},"id":"a2edf891-cf0e-4839-8aa4-074e6fb258df","name":"Telegram Co-Pilot","type":"@telepilotco/n8n-nodes-telepilot.telePilot","typeVersion":1,"position":[200,-40],"credentials":{"telePilotApi":{"id":"7CxZm9t3ppQEQoLB","name":"Personal Telegram CoPilot account"}}},{"parameters":{"events":["updateNewMessage"]},"id":"2ba33088-264e-4ff3-9c77-4a4b36fbce14","name":"TelePilot Trigger","type":"@telepilotco/n8n-nodes-telepilot.telePilotTrigger","typeVersion":1,"position":[460,400],"credentials":{"telePilotApi":{"id":"7CxZm9t3ppQEQoLB","name":"Personal Telegram CoPilot account"}}},{"parameters":{"amount":2,"unit":"seconds"},"id":"13740279-2fd1-4b75-8aac-7a59715ff6ae","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[380,860],"webhookId":"2efa44b6-c4e5-400b-b095-fb0bb5d5eaea"},{"parameters":{"resource":"user","operation":"getUser","user_id":"={{ $json.message.sender_id.user_id }}"},"id":"ba635d92-8043-4d2b-8429-5ca0f84dd0d4","name":"Telegram Co-Pilot getUser","type":"@telepilotco/n8n-nodes-telepilot.telePilot","typeVersion":1,"position":[560,860],"credentials":{"telePilotApi":{"id":"7CxZm9t3ppQEQoLB","name":"Personal Telegram CoPilot account"}}},{"parameters":{"resource":"message","chat_id":"={{ $json.id }}","messageText":"=Hey {{ $json.first_name }}!\n\nI'm currently on a break. If your matter is of importance, please book a call with me on Calendly. \nFind a suitable timeslot using this link: https://my-personal-calendly-link\n\nCheers! "},"id":"db09ebe3-c5b4-4175-9aaa-b7951f358b21","name":"Telegram Co-Pilot: sendMessage","type":"@telepilotco/n8n-nodes-telepilot.telePilot","typeVersion":1,"position":[740,860],"credentials":{"telePilotApi":{"id":"7CxZm9t3ppQEQoLB","name":"Personal Telegram CoPilot account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.message.sender_id._ }}","value2":"=messageSenderUser"}]}},"id":"08337213-c046-45fd-be52-e55fc84bbccd","name":"IF User Message","type":"n8n-nodes-base.if","typeVersion":1,"position":[340,660]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ Boolean($json.message.is_outgoing) }}"}]}},"id":"7770295b-a2fe-49b1-a62a-2b3bf6fe876d","name":"IF incoming","type":"n8n-nodes-base.if","typeVersion":1,"position":[740,660]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.message.sender_id.user_id }}","value2":"={{ $json.message.chat_id }}"}]}},"id":"5f1f041e-7fb8-4642-a1f4-b6c8ca57585e","name":"IF 1-on-1 chat","type":"n8n-nodes-base.if","typeVersion":1,"position":[520,640]},{"parameters":{"operation":"searchPublicChats","query":"={{ $node[\"Set: search_query\"].json[\"search_query\"] }}"},"id":"8926f728-0c87-46e2-942a-8132a981d301","name":"Telegram CoPilot","type":"@telepilotco/n8n-nodes-telepilot.telePilot","typeVersion":1,"position":[-140,520],"credentials":{"telePilotApi":{"id":"7CxZm9t3ppQEQoLB","name":"Personal Telegram CoPilot account"}}},{"parameters":{},"id":"43832095-5654-4f76-b702-f5b20d764165","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-520,360]},{"parameters":{"operation":"insert","collection":"search","fields":"={{ Object.keys($json).join(\",\") }}","options":{}},"id":"4bd8c348-8277-479f-8811-e00997b6d123","name":"MongoDB","type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[80,760]},{"parameters":{"batchSize":1,"options":{}},"id":"aa58ff20-8cac-4689-91c2-c5cbeac03d27","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[-500,780]},{"parameters":{"values":{"string":[{"name":"search_query","value":"Javascript developer"}]},"options":{}},"id":"888fb04c-e8f8-4801-b326-ca89a2acd79d","name":"Set: search_query","type":"n8n-nodes-base.set","typeVersion":1,"position":[-300,360]},{"parameters":{"jsCode":"return $input.all()[0]\n  .json\n  .chat_ids\n  .map(\n    (cid) => ({\"chat_id\": cid})\n  )\n"},"id":"4c712207-c1e4-4c2d-bbd0-95ee8c4fb2a9","name":"Code: map for iteration","type":"n8n-nodes-base.code","typeVersion":1,"position":[60,520]},{"parameters":{"operation":"getChat","chat_id":"={{ $json.chat_id }}"},"id":"7b460255-31ab-4855-9407-8d2a9ab2da8a","name":"Telegram CoPilot: get Chat Info","type":"@telepilotco/n8n-nodes-telepilot.telePilot","typeVersion":1,"position":[-180,760],"credentials":{"telePilotApi":{"id":"7CxZm9t3ppQEQoLB","name":"Personal Telegram CoPilot account"}}},{"parameters":{"content":"## Search groups, chats and users\n**Double click** to edit me. [Guide](https://telepilot.co/blog/searching-for-users-channels-groups-in-telegram/)","height":798.631415241056,"width":1069.4867807153955},"id":"429ca1eb-7441-4d6e-a15c-bbc4176438ce","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-800,240]},{"parameters":{"content":"## Automating Telegram Responses with TelePilot and N8N\n**Double click** to edit me. [Guide](https://telepilot.co/blog/telegram-configure-auto-responder/)","height":813.3125972006203,"width":770.3576982892673},"id":"78dd6c31-e0f1-43a9-8e9c-274be0025a57","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[280,240]},{"parameters":{"jsCode":"// Get the first item from input (usually the data from the previous node)\nlet item = items[0].json;\n\n// Extract the required fields\nlet result = {\n    \"_\": item._,\n    \"id\": item.message.id,\n    \"senderType\": item.message.sender_id._,\n    \"user_id\": item.message.sender_id.user_id,\n    \"chat_id\": item.message.chat_id,\n    \"text\": item.message.content.text.text,\n};\n\n// Output the transformed item\nreturn [\n    {\n        json: result\n    }\n];\n"},"id":"d52c0c33-8adf-45f7-805b-68f039df02b9","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[-420,-20]},{"parameters":{"events":["updateNewMessage"]},"id":"b7b039c2-fa2a-48a2-bce8-aaac53f9818d","name":"TelePilot Trigger1","type":"@telepilotco/n8n-nodes-telepilot.telePilotTrigger","typeVersion":1,"position":[-640,-20],"credentials":{"telePilotApi":{"id":"7CxZm9t3ppQEQoLB","name":"Personal Telegram CoPilot account"}}},{"parameters":{"operation":"insert","collection":"all_events","fields":"={{ Object.keys($json).join(\",\") }}","options":{}},"id":"c2a3359d-a529-43f9-8d64-9882fbaa8ebf","name":"MongoDB1","type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[-180,-20]},{"parameters":{"content":"## Listen to Telegram Events\n**Double click** to edit me. [Guide](https://telepilot.co/blog/getting-all-telegram-events/)","height":334.3390357698292,"width":902.4883359253494},"id":"b9f2031f-5c86-4af9-b20f-dd0acdcf0a07","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-780,-120]}],"connections":{"TelePilot Trigger":{"main":[[{"node":"IF User Message","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Telegram Co-Pilot getUser","type":"main","index":0}]]},"Telegram Co-Pilot getUser":{"main":[[{"node":"Telegram Co-Pilot: sendMessage","type":"main","index":0}]]},"IF User Message":{"main":[[{"node":"IF 1-on-1 chat","type":"main","index":0}]]},"IF incoming":{"main":[[{"node":"Wait","type":"main","index":0}]]},"IF 1-on-1 chat":{"main":[[{"node":"IF incoming","type":"main","index":0}]]},"Telegram CoPilot":{"main":[[{"node":"Code: map for iteration","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Set: search_query","type":"main","index":0}]]},"MongoDB":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Telegram CoPilot: get Chat Info","type":"main","index":0}]]},"Set: search_query":{"main":[[{"node":"Telegram CoPilot","type":"main","index":0}]]},"Code: map for iteration":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Telegram CoPilot: get Chat Info":{"main":[[{"node":"MongoDB","type":"main","index":0}]]},"Code":{"main":[[{"node":"MongoDB1","type":"main","index":0}]]},"TelePilot Trigger1":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"d98969c7-d369-4feb-8ff2-9b89e3472de4","triggerCount":0,"tags":[]}