telpilot-XItbqdu6DGHVaLsN.json
{"createdAt":"2024-12-27T16:27:52.940Z","updatedAt":"2024-12-27T16:27:52.940Z","id":"XItbqdu6DGHVaLsN","name":"telpilot","active":false,"nodes":[{"parameters":{"events":["updateNewMessage"]},"id":"801a0cfd-f51e-42d6-a322-54217b3eaa12","name":"TelePilot Trigger","type":"@telepilotco/n8n-nodes-telepilot.telePilotTrigger","typeVersion":1,"position":[-520,180],"credentials":{"telePilotApi":{"id":"7CxZm9t3ppQEQoLB","name":"Personal Telegram CoPilot account"}}},{"parameters":{"amount":2,"unit":"seconds"},"id":"108145c5-d324-4875-94ce-6680b6895581","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-180,420],"webhookId":"0b8b2577-47b1-4997-8104-b26e17aea4aa"},{"parameters":{"resource":"user","operation":"getUser","user_id":"={{ $json.message.sender_id.user_id }}"},"id":"b91cfe95-a236-4aeb-9fce-52b7f44a4387","name":"Telegram Co-Pilot getUser","type":"@telepilotco/n8n-nodes-telepilot.telePilot","typeVersion":1,"position":[40,420],"credentials":{"telePilotApi":{"id":"7CxZm9t3ppQEQoLB","name":"Personal Telegram CoPilot account"}}},{"parameters":{"resource":"message","chat_id":"={{ $json.id }}","messageText":"=Hey {{ $json.first_name }}!\n\nI'm currently on a break. If your matter is of importance, please book a call with me on Calendly. \nFind a suitable timeslot using this link: https://my-personal-calendly-link\n\nCheers! "},"id":"194c5e39-9c07-4ecc-af81-0ae3fb7a0e3b","name":"Telegram Co-Pilot: sendMessage","type":"@telepilotco/n8n-nodes-telepilot.telePilot","typeVersion":1,"position":[220,420],"credentials":{"telePilotApi":{"id":"7CxZm9t3ppQEQoLB","name":"Personal Telegram CoPilot account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.message.sender_id._ }}","value2":"=messageSenderUser"}]}},"id":"4b596df8-3a69-49cb-8aab-026a90a805eb","name":"IF User Message","type":"n8n-nodes-base.if","typeVersion":1,"position":[-320,180]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ Boolean($json.message.is_outgoing) }}"}]}},"id":"8cb03e78-a671-4a86-9045-b9b664f7ec47","name":"IF incoming","type":"n8n-nodes-base.if","typeVersion":1,"position":[220,140]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.message.sender_id.user_id }}","value2":"={{ $json.message.chat_id }}"}]}},"id":"51207ae4-12b2-434c-a46e-806c1326e8ed","name":"IF 1-on-1 chat","type":"n8n-nodes-base.if","typeVersion":1,"position":[-40,160]}],"connections":{"TelePilot Trigger":{"main":[[{"node":"IF User Message","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Telegram Co-Pilot getUser","type":"main","index":0}]]},"Telegram Co-Pilot getUser":{"main":[[{"node":"Telegram Co-Pilot: sendMessage","type":"main","index":0}]]},"IF User Message":{"main":[[{"node":"IF 1-on-1 chat","type":"main","index":0}]]},"IF incoming":{"main":[[{"node":"Wait","type":"main","index":0}]]},"IF 1-on-1 chat":{"main":[[{"node":"IF incoming","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"cd6b4425-7f36-4602-b828-e938b5b1fae1","triggerCount":0,"tags":[]}