wordpress-article-scraper-Nr4un80flUnLySSb.json
{"createdAt":"2024-12-27T16:30:26.348Z","updatedAt":"2024-12-27T16:30:26.348Z","id":"Nr4un80flUnLySSb","name":"Wordpress Article Scraper","active":false,"nodes":[{"parameters":{},"name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[480,640],"id":"c38e49d1-b289-49d7-85c7-2911831dc9e7"},{"parameters":{"assignments":{"assignments":[{"id":"8fe41119-0946-416f-832a-3dc561519527","name":"wordpress host","value":"wptavern.com","type":"string"},{"id":"03b87df6-c993-4d67-ae9f-b83689c20a70","name":"category (optional)","value":"","type":"string"},{"id":"3eb27380-1f7d-430e-8db0-ba5ab2926228","name":"limit (optional)","value":"99","type":"string"}]},"options":{}},"name":"Config","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[640,640],"id":"6c43e327-35d6-47b7-aa7b-a2466a582586"},{"parameters":{"url":"=https://{{ $('Config').params[\"assignments\"][\"assignments\"][0][\"value\"] }}/wp-json/wp/v2/posts/?filter[category_name]={{ $('Config').params[\"assignments\"][\"assignments\"][1][\"value\"] || ''}}&per_page={{ $('Config').params[\"assignments\"][\"assignments\"][2][\"value\"] || \"99\" }}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"response":{"response":{"fullResponse":true}}}},"name":"[Request]","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[820,640],"alwaysOutputData":false,"retryOnFail":false,"id":"e8c48d5b-3967-417a-bf9b-edd8241c757d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"72e528b1-802e-4fb0-b5a7-9bff9237bd40","leftValue":"={{ $json.headers['x-wp-totalpages'].toInt() }}","rightValue":1,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"name":"[IF Bulk]","type":"n8n-nodes-base.if","typeVersion":2,"position":[980,640],"id":"7000e202-6967-45bd-b4d5-1bbd41beebe6"},{"parameters":{"options":{}},"name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1580,560],"id":"6092b880-170d-41be-8bd8-f3d9aa9a2767"},{"parameters":{"jsCode":"const emptyItems = Array.from({ length:  $item(\"0\").$node[\"[IF Bulk]\"].json[\"headers\"][\"x-wp-totalpages\"] - 1 }).map(() => ({}));\nreturn emptyItems;\n"},"name":"Generate Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[1260,560],"id":"8f409581-1152-4500-bbb0-4641048c0798"},{"parameters":{"url":"=https://{{ $('Config').params[\"assignments\"][\"assignments\"][0][\"value\"] }}/wp-json/wp/v2/posts/?filter[category_name]={{ $('Config').params[\"assignments\"][\"assignments\"][1][\"value\"] || ''}}&per_page={{ $('Config').params[\"assignments\"][\"assignments\"][2][\"value\"] || \"200\" }}&page={{$runIndex >= 0 ? $runIndex + 2 : $runIndex + 1}}","options":{"batching":{"batch":{"batchSize":1,"batchInterval":10000}},"allowUnauthorizedCerts":true,"redirect":{"redirect":{}},"response":{"response":{"fullResponse":true}}}},"name":"[Request] Loop","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1880,580],"alwaysOutputData":false,"retryOnFail":false,"id":"f1b71ef5-ccb8-43bf-b09f-006852ae4597"},{"parameters":{"content":"## Pagination Loop","height":561.2363758380471,"width":1142.858416198867,"color":4},"name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1180,460],"id":"9f88fbd4-0f3c-4ca5-9ebb-6005404e5b08"},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"body","field2":"data.body"}]},"joinMode":"keepEverything","options":{}},"name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1300,820],"id":"b9c2eec7-0bf9-4b18-96a2-c3196ed47414"},{"parameters":{"fieldToSplitOut":"body","include":"allOtherFields","options":{"includeBinary":true}},"name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1580,780],"id":"fd045756-a106-48ce-8e0e-34f1f8f89add"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appkogm96j0VoF4z5","mode":"list","cachedResultName":"N8N Creator","cachedResultUrl":"https://airtable.com/appkogm96j0VoF4z5"},"table":{"__rl":true,"value":"tblNs7TPGZAFy8Im6","mode":"list","cachedResultName":"Wordpress Posts (DEMO)","cachedResultUrl":"https://airtable.com/appkogm96j0VoF4z5/tblNs7TPGZAFy8Im6"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Slug"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Slug","displayName":"Slug","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Todo","value":"Todo"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false}]},"options":{"typecast":true,"updateAllMatches":true}},"name":"Airtable","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[2100,780],"id":"5ebf7a78-b14b-4b02-a728-213bd20f02c5"},{"parameters":{"assignments":{"assignments":[{"id":"0e834b1a-4283-4e2c-9f5c-5e120837b23e","name":"Title","value":"={{ $json.body.title.rendered }}","type":"string"},{"id":"5dc5ce78-3d84-4c29-bf1a-cde7c1459c63","name":"Content","value":"={{ $json[\"data\"] || $json.body.content.rendered }}","type":"string"},{"id":"6332e162-a31e-486c-a8f8-f2612d1b5a92","name":"Status","value":"={{ $json.body.status }}","type":"string"},{"id":"0e3de8bb-b13f-4289-815e-7cf5e5028110","name":"Type","value":"={{ $json.body.type }}","type":"string"},{"id":"ce2a6984-da23-4f2e-8431-00ba1e993dcf","name":"Link","value":"={{ $json.body.link }}","type":"string"},{"id":"6c08e3e1-053c-4e78-af28-adb32c6bfd52","name":"Slug","value":"={{ $json.body.slug.urlDecode() }}","type":"string"},{"id":"2714c6ed-8e1a-4f39-80ba-b734e185b0c3","name":"Excerpt","value":"={{ $json.body.excerpt.rendered }}","type":"string"},{"id":"eb6509b0-681d-4105-a6ef-3e7d2633f11e","name":"Comment Status","value":"={{ $json.body.comment_status }}","type":"string"},{"id":"679b779b-b12e-4750-a614-7a8e503a5c4e","name":"Featured","value":"={{ $json.body.sticky }}","type":"boolean"},{"id":"e2ad53fb-f9ef-439a-b5c9-eafc373a68d4","name":"Format","value":"={{ $json.body.format }}","type":"string"},{"id":"cb898300-d422-4324-90bd-cb8091160ab4","name":"Meta Links","value":"={{ JSON.stringify($json.body._links) }}","type":"string"},{"id":"1e53dcd6-96a7-4896-a560-8469f3b74fa8","name":"Hostname","value":"={{ $item(\"0\").$node[\"Config\"].json[\"wordpress host\"] }}","type":"string"}]},"options":{}},"name":"Save","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1880,780],"id":"07945d2d-b481-4ff5-b4bb-fb2423cf953d"},{"parameters":{"content":"## Wordpress Article Scraper\n\n- Copy this airtable table: [Airtable Template](https://airtable.com/appkogm96j0VoF4z5/shrOgrTAzK3PXj7lA)\n- Fill `Config  Node` with your data. [`Hostname`] (**Required**) [`Number of Items`] [`Category`] Both are optional the default value will be is **`99 items per page`** & **`all categories`**\n- Configure your airtable API in `Airtable Node`. That's all 🎉 \n\n\n\n\n\n\n\n\n\n\n\n\n\n[![N8N Creator Profile - Nskha](https://cdn.statically.io/gh/Automations-Project/n8n-templates/main/stats.min.svg)](https://n8n.io/creators/nskha)","height":561.1197175194052,"width":817.8584161988668,"color":6},"name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[360,460],"id":"dc93c991-834b-4ccd-98ad-b336e35ec9a7"},{"parameters":{"html":"={{ $json.body.content.rendered }}","options":{}},"name":"Markdown","type":"n8n-nodes-base.markdown","typeVersion":1,"position":[1740,780],"id":"741645b7-3160-4b3f-82e0-d1286303b2c9"},{"parameters":{"maxItems":5},"name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[1400,560],"id":"cf4704d6-254e-4e98-a637-0a371ac911c7"}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"Config","type":"main","index":0}]]},"Config":{"main":[[{"node":"[Request]","type":"main","index":0}]]},"[Request]":{"main":[[{"node":"[IF Bulk]","type":"main","index":0}]]},"[IF Bulk]":{"main":[[{"node":"Generate Items","type":"main","index":0},{"node":"Merge","type":"main","index":0}],[{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Merge","type":"main","index":1}],[{"node":"[Request] Loop","type":"main","index":0}]]},"Generate Items":{"main":[[{"node":"Limit","type":"main","index":0}]]},"[Request] Loop":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Save":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Save","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"107d55f1-fe5e-4185-8bbe-a07d323c1d3d","triggerCount":0,"tags":[]}